Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Fix storybook (by upgrading)
  package.json
  stories/setup/main.js
  tests/unit/test_packageJson.js
  yarn.lock
Due: prettier --write, eslint

wip
  package.json
  yarn.lock
Due: none

downgrade storybook/* to alpha.33
  package.json
  yarn.lock
Due: none

Remove Storybook
  .circleci/config.yml
  README.md
  package.json
  stories/.eslintrc
  stories/amo/AMInstallButton.js
  stories/amo/Badge.js
  stories/amo/Button.js
  stories/amo/HeroRecommendation.js
  stories/amo/IconPromotedBadge.js
  stories/amo/PromotedBadge.js
  stories/amo/Rating.js
  stories/index.js
  stories/setup/Provider.js
  stories/setup/main.js
  stories/setup/preview.js
  stories/setup/styles.scss
  stories/utils.js
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Update Node.js to v10.24.0
  .nvmrc
Due: none

Remove Storybook (#10106)
  .circleci/config.yml
  README.md
  package.json
  stories/.eslintrc
  stories/amo/AMInstallButton.js
  stories/amo/Badge.js
  stories/amo/Button.js
  stories/amo/HeroRecommendation.js
  stories/amo/IconPromotedBadge.js
  stories/amo/PromotedBadge.js
  stories/amo/Rating.js
  stories/index.js
  stories/setup/Provider.js
  stories/setup/main.js
  stories/setup/preview.js
  stories/setup/styles.scss
  stories/utils.js
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Fixing errors introduced by codemod
  .flowconfig
  src/amo/components/Button/index.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/reducers/abuse.js
  src/amo/reducers/addons.js
  src/amo/reducers/errorPage.js
  src/amo/reducers/infoDialog.js
  src/amo/reducers/redirectTo.js
  src/amo/reducers/reviews.js
  src/amo/reducers/site.js
  src/amo/reducers/userAbuseReports.js
  src/amo/reducers/viewContext.js
  src/amo/utils/index.js
Due: prettier --write, eslint

Update Node.js to v14
  .nvmrc
Due: none

Update dependency postcss-loader to v5
  package.json
  yarn.lock
Due: none

Additional fixes
  .flowconfig
  package.json
  src/amo/addonManager.js
  src/amo/components/AddonTitle/index.js
  src/amo/components/App/index.js
  src/amo/components/AutoSearchInput/index.js
  src/amo/components/Categories/index.js
  src/amo/components/DismissibleTextForm/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/RatingsByStar/index.js
  src/amo/installAddon.js
  src/amo/pages/AddonInfo/index.js
  src/amo/pages/Block/index.js
  src/amo/pages/UserProfile/index.js
  src/amo/reducers/categories.js
  src/amo/reducers/formOverlay.js
  src/amo/reducers/home.js
  src/amo/reducers/installations.js
  src/amo/reducers/userAbuseReports.js
  yarn.lock
Due: prettier --write, eslint

Update dependency typescript to v4.2.2
  package.json
  yarn.lock
Due: none

Print node version in Circle CI
  .circleci/config.yml
Due: none

Print node version in Circle CI (#10119)
  .circleci/config.yml
Due: none

drop useStandardSize from getPreviewImage; make full useful
  src/amo/components/ThemeImage/index.js
  src/amo/imageUtils.js
  tests/unit/amo/components/TestThemeImage.js
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

Make clientApp and lang into string types and default to ''
  src/amo/reducers/api.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/CollectionManager/index.js
  src/amo/reducers/api.js
  tests/unit/amo/components/TestCollectionManager.js
Due: prettier --write, eslint

Ignore `platform` in files returned by the API
  src/amo/components/AMInstallButton/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/permissions.js
  src/amo/installAddon.js
  src/amo/reducers/api.js
  src/amo/reducers/versions.js
  src/amo/utils/addons.js
  src/amo/utils/compatibility.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestAddonHead.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPermissionUtils.js
  tests/unit/amo/components/TestPermissionsCard.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/utils/test_addons.js
  tests/unit/amo/utils/test_compatibility.js
  tests/unit/amo/utils/test_index.js
  tests/unit/helpers.js
Due: prettier --write, eslint

show theme preview thumbnail in search results, rather than full
  src/amo/components/AddonsCard/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/SearchResults/index.js
  src/amo/components/ThemeImage/index.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestSearchResult.js
  tests/unit/amo/components/TestSearchResults.js
Due: prettier --write, eslint

Do not reset ui state in ShowMoreCard
  src/amo/components/ShowMoreCard/index.js
  tests/unit/amo/components/TestShowMoreCard.js
Due: prettier --write, eslint

Make clientApp and lang into string types and default to '' (#10122)
  src/amo/components/CollectionManager/index.js
  src/amo/reducers/api.js
  tests/unit/amo/components/TestCollectionManager.js
Due: prettier --write, eslint

Update logic for ShowMoreCard to determine when it needs to reset
  src/amo/components/PermissionsCard/index.js
  src/amo/components/ShowMoreCard/index.js
  src/amo/components/UserReview/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestPermissionsCard.js
  tests/unit/amo/components/TestShowMoreCard.js
  tests/unit/amo/components/TestUserReview.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/PermissionsCard/index.js
  src/amo/components/ShowMoreCard/index.js
  src/amo/components/UserReview/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestPermissionsCard.js
  tests/unit/amo/components/TestShowMoreCard.js
  tests/unit/amo/components/TestUserReview.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Update dependency config to v3.3.4
  package.json
  yarn.lock
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Update dependency eslint to v7.21.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Romanian (ro) localization of AMO Frontend
  locale/ro/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.9.1
  package.json
  yarn.lock
Due: none

Lock file maintenance
  yarn.lock
Due: none

Update dependency rc-tooltip to v5.1.0
  package.json
  yarn.lock
Due: none

drop empty object arg; obsolete TODO.
  src/amo/components/ThemeImage/index.js
  tests/unit/amo/components/TestSearchResult.js
Due: prettier --write, eslint

use thumbnails for small theme previews (#10125)
  src/amo/components/AddonsCard/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/SearchResults/index.js
  src/amo/components/ThemeImage/index.js
  src/amo/imageUtils.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestSearchResult.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/components/TestThemeImage.js
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

Update logic for ShowMoreCard to determine when it needs to reset (#10128)
  src/amo/components/PermissionsCard/index.js
  src/amo/components/ShowMoreCard/index.js
  src/amo/components/UserReview/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestPermissionsCard.js
  tests/unit/amo/components/TestShowMoreCard.js
  tests/unit/amo/components/TestUserReview.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Fix wrapping of Flagged notice
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/TooltipMenu/index.js
  tests/unit/amo/components/TestFlagReviewMenu.js
  tests/unit/amo/components/TestTooltipMenu.js
Due: prettier --write, eslint, stylelint --syntax scss

Re-introduce useful comment
  src/amo/utils/addons.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
