Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Include em dash (U+2014) in Inter-roman-minimal-subset-en-US.var.woff2
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-minimal-subset-en-US.var.woff2
Due: stylelint --syntax scss

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

Reformat
  src/fonts/inter.scss
Due: stylelint --syntax scss

Update dependency dompurify to v2.2.8
  package.json
  yarn.lock
Due: none

Updated AddonSummaryCard-header styling.
  src/amo/components/AddonSummaryCard/styles.scss
Due: stylelint --syntax scss

Fix shelf types (and rename types/functions for clarity)
  src/amo/components/SecondaryHero/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Fix shelf types (and rename types/functions for clarity) (#10504)
  src/amo/components/SecondaryHero/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Fix preloading of subset fonts in production environment
  src/amo/components/ServerHtml/index.js
  src/amo/server/webpack-assets-fonts.js
  webpack-common.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

Fix pluginName
  src/amo/server/webpack-assets-fonts.js
Due: prettier --write, eslint

Update dependency core-js to v3.11.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Use addons-moz-compare (#10466)
  package.json
  src/amo/utils/compatibility.js
  yarn.lock
Due: prettier --write, eslint

Update dependency addons-moz-compare to v1.0.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Update src/amo/server/webpack-assets-fonts.js
  src/amo/server/webpack-assets-fonts.js
Due: prettier --write, eslint

Fixed LangPicker Position. (#10499)
  src/amo/components/Footer/styles.scss
Due: stylelint --syntax scss

Handle invalid add-on types in SearchPage
  src/amo/pages/SearchPage/index.js
  src/amo/utils/index.js
  tests/unit/amo/pages/TestSearchPage.js
Due: prettier --write, eslint

Downgrade a log statement from warn to debug
  src/amo/api/index.js
Due: prettier --write, eslint

Downgrade a log statement from warn to debug (#10511)
  src/amo/api/index.js
Due: prettier --write, eslint

Rename the file, use fs-extra
  src/amo/server/WebpackAssetsFontsPlugin.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

Fix focus styles on 'More...' button
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

Update dependency flow-bin to ^0.150.0
  package.json
  yarn.lock
Due: none

Add tests
  src/amo/server/WebpackAssetsFontsPlugin.js
  tests/unit/amo/server/test_WebpackAssetsFontsPlugin.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

Add test proving errors are caught and show up in stats.compilation.errors
  tests/unit/amo/server/test_WebpackAssetsFontsPlugin.js
Due: prettier --write, eslint

Validate plugin options with schema-utils
  package.json
  src/amo/server/WebpackAssetsFontsPlugin.js
  tests/unit/amo/server/test_WebpackAssetsFontsPlugin.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Kabyle (kab) localization of AMO Frontend
  locale/kab/LC_MESSAGES/amo.po
Due: none

Fix preloading of subset fonts in production environment (#10506)
  package.json
  src/amo/components/ServerHtml/index.js
  src/amo/server/WebpackAssetsFontsPlugin.js
  tests/unit/amo/server/test_WebpackAssetsFontsPlugin.js
  webpack-common.js
  webpack.prod.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Include em dash (U+2014) in Inter-roman-minimal-subset-en-US.var.woff2 (#10501)
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-minimal-subset-en-US.var.woff2
Due: stylelint --syntax scss

Fix focus styles on 'More...' button (#10513)
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

:arrow_up: release 0.14.0
  package.json
Due: none

Use utm_term to pass the addonId and variant to mozilla.org on download URLs
  config/default.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Use utm_term to pass the addonId and variant to mozilla.org on download URLs (#10517)
  config/default.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Pass experiment and variation in download firefox URL
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Take a slightly different approach. Still needs a few tests
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Update dependency helmet to v4.6.0
  package.json
  yarn.lock
Due: none

Removed search-themes, cleaned up tests
  src/amo/components/HomepageShelves/index.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Add support for themes in StaticAddonCard
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  src/blog-utils/index.html
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
