Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Update flag review menu items
  src/amo/components/FlagReview/index.js
  src/amo/components/FlagReview/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Use user `name` instead of `display_name` when submitting the feedback form
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint

Use user `name` instead of `display_name` when submitting the feedback form (#12613)
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint

Update flag review menu items (#12609)
  src/amo/components/FlagReview/index.js
  src/amo/components/FlagReview/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint, stylelint

Introduce new page for collection feedback (#12596)
  src/amo/components/Routes/index.js
  src/amo/pages/Collection/index.js
  src/amo/pages/Collection/styles.scss
  src/amo/pages/CollectionFeedback/index.js
  src/amo/pages/CollectionFeedback/styles.scss
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestCollectionFeedback.js
Due: prettier --write, eslint, stylelint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO Frontend
  locale/sq/LC_MESSAGES/amo.po
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
