Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon/AMO Frontend: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Italian (it)
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Dutch (nl)
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Friulian (fur)
  locale/fur/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovak (sk)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update French (fr)
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/amo.po
Due: none

Add favicon configuration to improve brand visibility and user experience
  config/default.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Fix how we construct our fake config object
  tests/unit/helpers_node.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Update footer to match Firefox.com
  src/amo/components/Footer/index.js
  src/amo/components/Footer/styles.scss
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint, stylelint

Remove params for non-Mozilla sites
  src/amo/components/Footer/index.js
Due: prettier --write, eslint

tests
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

Update footer to match Firefox.com (#14225)
  src/amo/components/Footer/index.js
  src/amo/components/Footer/styles.scss
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint, stylelint
