Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Fix header display name overlap with searchbar (#11824)
  src/amo/components/Header/styles.scss
Due: stylelint

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Disable the suggested add-ons experiment
  config/default.js
Due: prettier --write, eslint

Disable the suggested add-ons experiment (#12023)
  config/default.js
Due: prettier --write, eslint

Fix header display name overlap with searchbar (#11824) (#12020)
  src/amo/components/Header/styles.scss
Due: stylelint

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Kabyle (kab) localization of AMO Frontend
  locale/kab/LC_MESSAGES/amo.po
Due: none

Remove tests that explicitly call mapStateToProps
  tests/unit/amo/components/TestApp.js
Due: prettier --write, eslint

Remove tests that explicitly call mapStateToProps (#12030)
  tests/unit/amo/components/TestApp.js
Due: prettier --write, eslint

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Kaqchikel (cak) localization of AMO Frontend
  locale/cak/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Allow ratings to be loaded when the API error is a 429
  src/amo/components/RatingManager/index.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Add a comment describing the change
  src/amo/components/RatingManager/index.js
Due: prettier --write, eslint

Add Tajik (tg) to languages.js
  src/amo/languages.js
Due: prettier --write, eslint

Merge pull request from GHSA-ccf2-c96w-rw6f
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/middleware/test_staticAssets.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Allow ratings to be loaded when the API error is a 429 (#12036)
  src/amo/components/RatingManager/index.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint

Pontoon: Update Thai (th) localization of AMO Frontend
  locale/th/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Catalan (ca) localization of AMO Frontend
  locale/ca/LC_MESSAGES/amo.po
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none
