Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Fix margin bottom on some pages (#13844)
  src/amo/pages/Addon/styles.scss
  src/amo/pages/LandingPage/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Fix excessive padding when the contribute card is the last component in a page (e.g. in non-extension pages)
  src/amo/components/ContributeCard/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Add margin-bottom to the card headers in the detail page
  src/amo/pages/Addon/styles.scss
Due: stylelint

Add margin-bottom to the card headers in the detail page (#13867)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Fix excessive padding when the contribute card is the last component in a page (e.g. in non-extension pages) (#13866)
  src/amo/components/ContributeCard/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Move learn more link in PremissionsCard
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/styles.scss
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Move learn more link in PremissionsCard (#13870)
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/styles.scss
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Introduce a noStyle prop to the `Card`
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/Card/index.js
  src/amo/components/Card/styles.scss
  src/amo/components/CardList/index.js
  src/amo/components/PermissionsCard/index.js
  src/amo/components/ShowMoreCard/index.js
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/css/inc/mixins.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/components/TestCard.js
Due: prettier --write, eslint, stylelint

Remove external icon on the 'learn more' link in the PermissionsCard
  src/amo/components/PermissionsCard/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Add horizontal separator between add-on description and ratings sections
  src/amo/pages/Addon/styles.scss
Due: stylelint

Add some more space between the description and the ratings when they are side by side
  src/amo/pages/Addon/styles.scss
Due: stylelint

Allow GetFirefoxButton text to wrap
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint

Allow GetFirefoxButton text to wrap (#13881)
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/amo.po
Due: none

Restyle the content/rating section of the detail page (#13877)
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/Card/index.js
  src/amo/components/Card/styles.scss
  src/amo/components/CardList/index.js
  src/amo/components/PermissionsCard/index.js
  src/amo/components/ShowMoreCard/index.js
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/css/inc/mixins.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/components/TestCard.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

use env to pass input and output parameters
  .github/actions/context/action.yml
  .github/workflows/ci.yml
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Update style of the theme preview
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

move the comments where the parameters are defined
  .github/actions/context/action.yml
Due: none

use env to pass input and output parameters (#13886)
  .github/actions/context/action.yml
  .github/workflows/ci.yml
Due: none

Update style of the theme preview (#13885)
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Update yellow color used for ratings
  src/amo/components/Icon/img/star-yellow.svg
  src/amo/components/Rating/img/closed-star-dim-yellow.svg
  src/amo/components/Rating/img/closed-star-gray.svg
  src/amo/components/Rating/img/closed-star-yellow.svg
  src/amo/components/Rating/img/half-star-gray.svg
  src/amo/components/Rating/img/half-star-yellow.svg
  src/amo/components/Rating/img/open-star-dim-yellow.svg
  src/amo/components/RatingsByStar/styles.scss
Due: stylelint

Update yellow color used for ratings (#13887)
  src/amo/components/Icon/img/star-yellow.svg
  src/amo/components/Rating/img/closed-star-dim-yellow.svg
  src/amo/components/Rating/img/closed-star-gray.svg
  src/amo/components/Rating/img/closed-star-yellow.svg
  src/amo/components/Rating/img/half-star-gray.svg
  src/amo/components/Rating/img/half-star-yellow.svg
  src/amo/components/Rating/img/open-star-dim-yellow.svg
  src/amo/components/RatingsByStar/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Albanian (sq)
  locale/sq/LC_MESSAGES/amo.po
Due: none

Fix alignment in ratings component
  src/amo/components/RatingsByStar/index.js
  src/amo/components/RatingsByStar/styles.scss
  tests/unit/amo/components/TestAddonSummaryCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/components/TestRatingsByStar.js
Due: prettier --write, eslint, stylelint

Fix ratings card width
  src/amo/pages/Addon/styles.scss
Due: stylelint

Add missing drop shadow to theme previews
  src/amo/pages/Addon/styles.scss
Due: stylelint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
