Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Remove custom command/dependency for QR code support that is no longer used (#12147)
  package.json
Due: none

Bump yaml 2.x to 2.2.2
  yarn.lock
Due: none

Bump yaml 2.x to 2.2.2 (#12159)
  yarn.lock
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Fixed overlapping header content onto dropdown menu at medium size
  src/amo/components/Header/styles.scss
Due: stylelint

fixed name dropdown overlapping of the search bar in both readings of languages.
  src/amo/components/Header/styles.scss
Due: stylelint

removed redundant code for large sized screens
  src/amo/components/Header/styles.scss
Due: stylelint

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Fixed overlapping header content onto dropdown menu at medium size (#12168)
  src/amo/components/Header/styles.scss
Due: stylelint

put font preload first due to new chrome behaviour
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

put font preload first due to new chrome behaviour (#12183)
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

use lang from api for addon fields in html
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonTitle/index.js
  src/amo/components/EditableCollectionAddon/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/RatingManager/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/ThemeImage/index.js
  src/amo/installAddon.js
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonInfo/index.js
  src/amo/pages/AddonReviewList/index.js
  src/amo/pages/AddonVersions/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/utils.js
  src/amo/types/addons.js
  src/amo/types/api.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

remove pre-commit hook feature
  .gitignore
  .husky/pre-commit
  README.md
  package.json
Due: none

remove lint-staged, remake yarn lock
  package.json
  yarn.lock
Due: none

remove pre-commit hook feature (#12203)
  .gitignore
  .husky/pre-commit
  README.md
  package.json
  yarn.lock
Due: none

update and add tests for lang attributes
  src/amo/components/RatingManager/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_utils.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Pontoon: Update Persian (fa) localization of AMO Frontend
  locale/fa/LC_MESSAGES/amo.po
Due: none

add test for searchresult with empty summary
  tests/unit/amo/components/TestAddonsCard.js
Due: prettier --write, eslint

use lang from api for addon fields in html (#12201)
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonTitle/index.js
  src/amo/components/EditableCollectionAddon/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/RatingManager/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/ThemeImage/index.js
  src/amo/installAddon.js
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonInfo/index.js
  src/amo/pages/AddonReviewList/index.js
  src/amo/pages/AddonVersions/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/utils.js
  src/amo/types/addons.js
  src/amo/types/api.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_utils.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Revert "use lang from api for addon fields in html (#12201)"
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonTitle/index.js
  src/amo/components/EditableCollectionAddon/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/RatingManager/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/ThemeImage/index.js
  src/amo/installAddon.js
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonInfo/index.js
  src/amo/pages/AddonReviewList/index.js
  src/amo/pages/AddonVersions/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/utils.js
  src/amo/types/addons.js
  src/amo/types/api.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_utils.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Revert "use lang from api for addon fields in html (#12201)" (#12229)
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonTitle/index.js
  src/amo/components/EditableCollectionAddon/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/RatingManager/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/ThemeImage/index.js
  src/amo/installAddon.js
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonInfo/index.js
  src/amo/pages/AddonReviewList/index.js
  src/amo/pages/AddonVersions/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/utils.js
  src/amo/types/addons.js
  src/amo/types/api.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_utils.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Pontoon: Update Sinhala (si) localization of AMO Frontend
  locale/si/LC_MESSAGES/amo.po
Due: none

Update Fenix docs
  docs/fenix.md
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Update docs/fenix.md
  docs/fenix.md
Due: none

Update Fenix docs (#12250)
  docs/fenix.md
Due: none

update block page with blockversion changes
  src/amo/pages/Block/index.js
  src/amo/reducers/blocks.js
  tests/unit/amo/pages/TestBlock.js
  tests/unit/helpers.js
Due: prettier --write, eslint

update block page with blockversion changes (#12261)
  src/amo/pages/Block/index.js
  src/amo/reducers/blocks.js
  tests/unit/amo/pages/TestBlock.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Add regional restrictions docs
  docs/regional_restrictions.md
Due: none

prettier
  docs/regional_restrictions.md
Due: none

Fix typo
  docs/regional_restrictions.md
Due: none

Add regional restrictions docs (#12271)
  docs/regional_restrictions.md
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Update link to submit new themes to use the new URL
  src/amo/components/Header/index.js
Due: prettier --write, eslint

Update link to submit new themes to use the new URL (#12296)
  src/amo/components/Header/index.js
Due: prettier --write, eslint
