Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Update dependency react-textarea-autosize to v8.3.3
  package.json
  yarn.lock
Due: none

Pontoon: Update Japanese (ja) localization of AMO Frontend
  locale/ja/LC_MESSAGES/amo.po
Due: none

Mock performance.getEntriesByName() in tests
  tests/setup.js
Due: prettier --write, eslint

Only patch the method in window.performance if the object is already present
  tests/setup.js
Due: prettier --write, eslint

Update tests/setup.js
  tests/setup.js
Due: prettier --write, eslint

Throw an error if mocked method was already there for the future, and mock to return a list
  tests/setup.js
Due: prettier --write, eslint

Fix problem with callout style
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

Fix problem with callout style (#10643)
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

Update dependency webpack-dev-middleware to v5
  package.json
  yarn.lock
Due: none

Update dependency web-vitals to v2.0.1
  package.json
  yarn.lock
Due: none

Change name of the blog
  bin/loading-page.html
  src/amo/components/Footer/index.js
  src/amo/components/SectionLinks/index.js
  tests/unit/amo/components/TestFooter.js
Due: prettier --write, eslint

Revert mocks for web-vitals now that the library has been patched
  tests/setup.js
Due: prettier --write, eslint

Change name of the blog
  bin/loading-page.html
  src/amo/components/Footer/index.js
  tests/unit/amo/components/TestFooter.js
Due: prettier --write, eslint

Remove special casing for Download Firefox link for Facebook Container
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/utils/compatibility.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Right align install button when there is no add-on description
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

Stop showing AddonInstallError and AddonCompatibilityError for any versions other than the current one
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/pages/AddonVersions/index.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

Pontoon: Update Danish (da) localization of AMO Frontend
  locale/da/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.14.0
  package.json
  yarn.lock
Due: none

Update dependency prettier to v2.3.1
  package.json
  yarn.lock
Due: none

Change name of the blog to Firefox Addons Review (#10647)
  src/amo/components/Footer/index.js
  src/amo/components/SectionLinks/index.js
Due: prettier --write, eslint

:arrow_up: release 0.19.0
  package.json
Due: none

Disable trailing slashes middleware for addons-server local dev
  config/development-local.js
Due: prettier --write, eslint

Never render the GetFirefoxBanner in the header when forBlog is true
  src/amo/components/Header/index.js
  tests/unit/amo/components/TestHeader.js
Due: prettier --write, eslint

Right align install button when there is no add-on description (#10652)
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

Stop showing AddonInstallError and AddonCompatibilityError for any versions other than the current one (#10653)
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/pages/AddonVersions/index.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

Remove special casing for Download Firefox link for Facebook Container (#10651)
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/utils/compatibility.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Disable trailing slashes middleware for addons-server local dev (#10656)
  config/development-local.js
Due: prettier --write, eslint

Never render the GetFirefoxBanner in the header when forBlog is true (#10658)
  src/amo/components/Header/index.js
  tests/unit/amo/components/TestHeader.js
Due: prettier --write, eslint

:arrow_up: release 0.20.0
  package.json
Due: none

Align incompatible Firefox version error with non-Firefox browser CTA
  src/amo/components/AMInstallButton/index.js
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestAMInstallButton.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Update dependency inter-ui to v3.18.1
  src/blog-utils/index.html
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Align incompatible Firefox version error with non-Firefox browser CTA (#10659)
  src/amo/components/AMInstallButton/index.js
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestAMInstallButton.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Create an experiment for the download funnel
  config/dev.js
  config/development.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/constants.js
  src/amo/experiments/20210531_download_funnel_experiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none
