Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Update dependency core-js to v3.19.2
  package.json
  yarn.lock
Due: none

Update dependency pino to v7.5.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Move the InstallWarning above the install button
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/InstallWarning/styles.scss
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint, stylelint

Fix low resolution display
  src/amo/components/InstallWarning/styles.scss
Due: stylelint

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Update dependency prettier to v2.5.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.19.3
  package.json
  yarn.lock
Due: none

Update dependency qs to v6.10.2
  package.json
  yarn.lock
Due: none

Update dependency node-sass to v7
  package.json
  yarn.lock
Due: none

Update package.json and yarn.lock
  package.json
  yarn.lock
Due: none

Adjust jest environment and reporters
  jest.config.js
  tests/jest-environment.js
  tests/jest-reporters/fingers-crossed.js
  tests/jest-reporters/summary.js
Due: prettier --write, eslint

Update tests
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Remove test for activeElement that no longer works as expected
  tests/unit/amo/components/TestDismissibleTextForm.js
Due: prettier --write, eslint

Add some debugging to test-ci
  package.json
Due: none

Remove some debugging but keep the -i (--runInBand) option
  package.json
Due: none

Revert the changes to test-ci
  package.json
Due: none

Configure just the test-next task to run with Jest's -i option, which doubles the run time
  .circleci/config.yml
  package.json
Due: none

Try running without requesting coverage
  package.json
Due: none

Move the InstallWarning above the install button (#11043)
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/InstallWarning/styles.scss
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Romanian (ro) localization of AMO Frontend
  locale/ro/LC_MESSAGES/amo.po
Due: none

Update dependency dompurify to v2.3.4
  package.json
  yarn.lock
Due: none

Conditionally import jsdom so that it doesn't get imported twice in tests
  jest.config.js
  src/amo/purify.js
  tests/jest-environment.js
Due: prettier --write, eslint

Try running with coverage again, and --verbose
  package.json
Due: none

Try undoing all the changes from debugging, as it seems to be working now
  .circleci/config.yml
  package.json
  yarn.lock
Due: none

Add --verbose option to Jest
  package.json
Due: none

Avoid global.window
  src/amo/purify.js
  src/amo/window.js
Due: prettier --write, eslint

Upgrade jsdom to v19
  package.json
  yarn.lock
Due: none

Update Jest and jsdom (#11037)
  jest.config.js
  package.json
  src/amo/window.js
  tests/jest-reporters/fingers-crossed.js
  tests/jest-reporters/summary.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestDismissibleTextForm.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/blog-utils/TestStaticAddonCard.js
  yarn.lock
Due: prettier --write, eslint

Revert "Update Jest and jsdom (#11037)"
  jest.config.js
  package.json
  src/amo/window.js
  tests/jest-reporters/fingers-crossed.js
  tests/jest-reporters/summary.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestDismissibleTextForm.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/blog-utils/TestStaticAddonCard.js
  yarn.lock
Due: prettier --write, eslint

Update dependency typescript to v4.5.3
  package.json
  yarn.lock
Due: none

Update dependency typescript to v4.5.4
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.20.0
  package.json
  yarn.lock
Due: none

Implement __heartbeat__ and __lbheartbeat__
  config/default.js
  src/amo/server/base.js
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
