Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Updated tests
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Fixes to tests
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/sagas/test_collections.js
Due: prettier --write, eslint

Sanitize HTML a little more aggressively
  src/amo/utils/index.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Visually hidden "Expand to" fix
  src/amo/components/ShowMoreCard/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestShowMoreCard.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Sanitize HTML a little more aggressively (#14133)
  src/amo/components/ShowMoreCard/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestShowMoreCard.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Query select a script tag for the redux store state
  src/amo/client/base.js
Due: prettier --write, eslint

Query select a script tag for the redux store state (#14134)
  src/amo/client/base.js
Due: prettier --write, eslint

Replace bundlewatch by a lightweight script
  bin/bundle-check.js
  package.json
  yarn.lock
Due: prettier --write, eslint

Replace bundlewatch by a lightweight script (#14139)
  bin/bundle-check.js
  package.json
  yarn.lock
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Urdu (ur)
  locale/ur/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Thai (th)
  locale/th/LC_MESSAGES/amo.po
Due: none

Initialize Serbian (sr)
  locale/sr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update 62 localizations
  locale/sr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Serbian (sr)
  locale/sr/LC_MESSAGES/amo.po
Due: none

Add the ability to copy the add-on ID (GUID) on detail pages
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/CopyAddonId/index.js
  src/amo/components/CopyAddonId/styles.scss
  src/amo/components/Icon/img/check-mark.svg
  src/amo/components/Icon/img/copy.svg
  src/amo/components/Icon/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestCopyAddonId.js
Due: prettier --write, eslint, stylelint

Update src/amo/components/CopyAddonId/index.js
  src/amo/components/CopyAddonId/index.js
Due: prettier --write, eslint

Add the ability to copy the add-on ID (GUID) on detail pages (#14166)
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/CopyAddonId/index.js
  src/amo/components/CopyAddonId/styles.scss
  src/amo/components/Icon/img/check-mark.svg
  src/amo/components/Icon/img/copy.svg
  src/amo/components/Icon/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestCopyAddonId.js
Due: prettier --write, eslint, stylelint

Bump uuid from 11.1.0 to 11.1.1
  package.json
  yarn.lock
Due: none

Bump uuid from 11.1.0 to 11.1.1 (#14172)
  package.json
  yarn.lock
Due: none

Fix copy SVG icon used in CopyAddonId, and make it look nicer on non-Firefox browsers
  src/amo/components/CopyAddonId/styles.scss
  src/amo/components/Icon/img/copy.svg
Due: stylelint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
