Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update 64 localizations
  locale/ka/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-02-13 at 2964610b5
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-13 at 9be57f24d
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-13 at 780faa834
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-13 at 25baa823a
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-13 at 5e8f3b33e
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-13 at a43057a6f
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-13 at be003b569
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-02-15 at aac0b652e
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon/AMO Frontend: Update 64 localizations
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-02-15 at 3feb9000d
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-15 at 70ff44912
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-15 at 6918beff9
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-02-15 at 6944ba62b
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-02-17 at 4ddfc67a3
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Replace default opengraph social share image
  src/amo/components/HeadMetaTags/img/default-og-image.png
Due: none

Replace default opengraph social share image (#13451)
  src/amo/components/HeadMetaTags/img/default-og-image.png
Due: none

Extracted l10n messages from 2025-02-17 at 9c54db358
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Don't push locales changes if there are no substantial changes
  bin/push-locales
Due: none

Silence some sass warnings in local development
  webpack-common.js
Due: prettier --write, eslint

Don't push locales changes if there are no substantial changes (#13453)
  bin/push-locales
Due: none

Silence some sass warnings in local development (#13454)
  webpack-common.js
Due: prettier --write, eslint

Replace swirl logo with Firefox logo for By Firefox / line extensions
  src/amo/components/Icon/img/line.svg
Due: none

Replace recommended icon too, adjust styling per UX requests
  src/amo/components/Icon/img/line.svg
  src/amo/components/Icon/img/recommended.svg
  src/amo/components/Icon/styles.scss
  src/amo/components/IconPromotedBadge/index.js
  src/amo/components/IconPromotedBadge/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/css/inc/mixins.scss
Due: prettier --write, eslint, stylelint

More cleanup
  src/amo/components/IconPromotedBadge/styles.scss
Due: stylelint

Tests etc
  src/amo/components/IconPromotedBadge/index.js
  src/amo/components/PromotedBadge/styles.scss
  tests/unit/amo/components/TestIconPromotedBadge.js
Due: prettier --write, eslint, stylelint

More tests cleanups
  src/amo/components/IconPromotedBadge/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Replace Line & Recommended icons (#13452)
  src/amo/components/Icon/img/line.svg
  src/amo/components/Icon/img/recommended.svg
  src/amo/components/Icon/styles.scss
  src/amo/components/IconPromotedBadge/index.js
  src/amo/components/IconPromotedBadge/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/css/inc/mixins.scss
  tests/unit/amo/components/TestIconPromotedBadge.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
