Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Spanish (Spain) (es-ES)
  locale/es_ES/LC_MESSAGES/amo.po
Due: none

Fix tests
  tests/unit/amo/i18n/test_utils.js
Due: prettier --write, eslint

Another test fix
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

Remove locales below 80% threshold (#13561)
  config/default.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/i18n/test_utils.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/amo.po
Due: none

Add test for empty description, cleanup, remove summary fallback
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Show "About this add-on" area if there are developer comments (#13560)
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sinhala (si)
  locale/si/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Indonesian (id)
  locale/id/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Croatian (hr)
  locale/hr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Danish (da)
  locale/da/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Thai (th)
  locale/th/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Update create-locales
  bin/create-locales
Due: none

Add a default color to dropdown menu items so that the ellipsis shows up
  src/amo/components/DropdownMenu/styles.scss
Due: stylelint

Add a default color to dropdown menu items so that the ellipsis shows up (#13612)
  src/amo/components/DropdownMenu/styles.scss
Due: stylelint

Replace permission icons with checkmark and adjust copy per new design
  src/amo/components/Icon/img/permissions/bookmarks.svg
  src/amo/components/Icon/img/permissions/browser.svg
  src/amo/components/Icon/img/permissions/clipboard.svg
  src/amo/components/Icon/img/permissions/cryptographic.svg
  src/amo/components/Icon/img/permissions/dev.svg
  src/amo/components/Icon/img/permissions/downloads.svg
  src/amo/components/Icon/img/permissions/geolocation.svg
  src/amo/components/Icon/img/permissions/history.svg
  src/amo/components/Icon/img/permissions/info.svg
  src/amo/components/Icon/img/permissions/messages.svg
  src/amo/components/Icon/img/permissions/navigation.svg
  src/amo/components/Icon/img/permissions/notifications.svg
  src/amo/components/Icon/img/permissions/privacy.svg
  src/amo/components/Icon/img/permissions/search.svg
  src/amo/components/Icon/img/permissions/settings.svg
  src/amo/components/Icon/img/permissions/tabs.svg
  src/amo/components/Icon/img/permissions/top-sites.svg
  src/amo/components/Icon/styles.scss
  src/amo/components/Permission/index.js
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/styles.scss
  tests/unit/amo/components/TestPermission.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Additional cleanup
  src/amo/components/HostPermissions/index.js
  src/amo/components/Permission/index.js
  src/amo/components/PermissionsCard/permissions.js
  src/amo/components/PermissionsCard/styles.scss
  tests/unit/amo/components/TestPermissionUtils.js
Due: prettier --write, eslint, stylelint

Fix up style
  src/amo/components/PermissionsCard/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
