Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

rm clientapproutes (#10424)
  config/default.js
  src/amo/components/Routes/index.js
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/components/TestRoutes.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
  tests/unit/test_prefixConfig.js
Due: prettier --write, eslint

Deleted FeaturedCollectionCard (#10386)
  src/amo/components/FeaturedCollectionCard/index.js
  src/amo/components/FeaturedCollectionCard/styles.scss
  tests/unit/amo/components/TestFeaturedCollectionCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Fix word-wrap issue
  src/amo/components/App/styles.scss
Due: stylelint --syntax scss

Put things in the proper order
  src/amo/components/App/styles.scss
Due: stylelint --syntax scss

Fix word-wrap issue (#10450)
  src/amo/components/App/styles.scss
Due: stylelint --syntax scss

Fix new CTA on 720px screen (#10437)
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

Attempt to unify colors for callout and warning text
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Unify text color for callout and download banner (#10451)
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Use grey-90 color for download banners and warnings
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Fix breaking of Flag button on review page
  src/amo/components/FlagReviewMenu/styles.scss
Due: stylelint --syntax scss

Use grey-90 color for download banners and warnings (#10454)
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Fix alignment of username and login link
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Update dependency filesize to v6.3.0
  package.json
  yarn.lock
Due: none

Fix alignment of username and login link (#10457)
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Fix breaking of Flag button on review page (#10455)
  src/amo/components/FlagReviewMenu/styles.scss
Due: stylelint --syntax scss

Fix invalid variable in locale/ia/LC_MESSAGES/amo.po
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
