Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Extracted l10n messages from 2024-08-20 at 9a8d9c4ab
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-20 at 4674088d6
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-20 at 22f503ea5
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-20 at 4882dd2fa
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-20 at 9991fab9c
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-21 at 81c9efdfe
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-21 at d4be1a053
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-21 at 86a6577ba
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Kabyle (kab) localization of AMO Frontend
  locale/kab/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-21 at b83f72546
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-21 at e33f61848
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Directly bind changeColorFilter, don't need the extra function & data attribute
  src/amo/components/SearchFilters/index.js
Due: prettier --write, eslint

Can remove this now
  src/amo/components/SearchFilters/index.js
Due: prettier --write, eslint

Fix misalignment
  src/amo/components/SearchFilters/styles.scss
Due: stylelint

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-21 at 158f3c530
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-21 at e9bc24933
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-22 at f2e6d4d89
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2024-08-22 at 244f6075f
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Accessibilty fixes: add tooltip, use <button>, hidden label
  src/amo/components/SearchFilters/index.js
  src/amo/components/SearchFilters/styles.scss
  src/amo/searchUtils.js
  tests/unit/amo/pages/TestSearchPage.js
Due: prettier --write, eslint, stylelint

Meh
  src/amo/components/SearchFilters/styles.scss
Due: stylelint

Add explicit clear button
  src/amo/components/SearchFilters/index.js
  src/amo/components/SearchFilters/styles.scss
Due: prettier --write, eslint, stylelint

Appease flow/stylelint
  src/amo/components/SearchFilters/index.js
  src/amo/components/SearchFilters/styles.scss
Due: prettier --write, eslint, stylelint

Sigh
  src/amo/components/SearchFilters/index.js
Due: prettier --write, eslint

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-23 at 824e3bdb3
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2024-08-24 at 24e2c387f
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
