Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

revision
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

review
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Update Install Button RTAMO Restrictions (#14238)
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

updated alt, revised css, scoured svg
  src/amo/components/QRCard/img/kit-qr.svg
  src/amo/components/QRCard/index.js
  src/amo/components/QRCard/styles.scss
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

utm param
  src/amo/components/QRCard/index.js
  src/amo/constants.js
  src/amo/utils/index.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

classname, scour kit on max
  src/amo/components/QRCard/img/kit-qr.svg
  src/amo/components/QRCard/index.js
  src/amo/components/QRCard/styles.scss
  src/amo/utils/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

revert minimal scouring kit
  src/amo/components/QRCard/img/kit-qr.svg
Due: none

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Enable Serbian locale on AMO, update docs
  config/default.js
  docs/i18n.md
Due: prettier --write, eslint

Update docs/i18n.md
  docs/i18n.md
Due: none

Enable Serbian locale on addons-frontend, update doc (#14242)
  config/default.js
  docs/i18n.md
Due: prettier --write, eslint

convert scss variables to css variables
  src/amo/components/AddonRecommendations/styles.scss
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/App/index.js
  src/amo/components/App/styles.scss
  src/amo/components/AutoSearchInput/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/Card/styles.scss
  src/amo/components/CardList/styles.scss
  src/amo/components/DismissibleTextForm/styles.scss
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/Errors/AuthExpired/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/components/Page/styles.scss
  src/amo/components/Paginate/styles.scss
  src/amo/components/RatingManager/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/Search/styles.scss
  src/amo/components/SearchFilters/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/components/UserReview/styles.scss
  src/amo/css/inc/mixins.scss
  src/amo/css/inc/vars.scss
  src/amo/css/theme.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LandingPage/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: prettier --write, eslint, stylelint

implement theme and switcher
  config/default.js
  src/amo/components/Footer/index.js
  src/amo/components/Footer/styles.scss
  src/amo/components/ServerHtml/index.js
  src/amo/components/ThemePicker/index.js
  src/amo/components/ThemePicker/styles.scss
  src/amo/constants.js
  src/amo/css/theme.scss
  src/amo/reducers/theme.js
  src/amo/server/base.js
  src/amo/store.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/components/TestThemePicker.js
  tests/unit/amo/reducers/test_theme.js
Due: prettier --write, eslint, stylelint

fix for hover states
  src/amo/components/AddonRecommendations/styles.scss
  src/amo/components/AddonsCard/styles.scss
Due: stylelint

dark mode support for select icons
  src/amo/components/Icon/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/css/inc/mixins.scss
Due: stylelint

lint fix
  src/amo/components/Footer/index.js
  src/amo/constants.js
Due: prettier --write, eslint

flow check fix
  src/amo/components/ThemePicker/index.js
Due: prettier --write, eslint

Add info to README for Silicon Macs and Flow
  README.md
Due: none

fix failing tests
  src/amo/components/Footer/index.js
  src/amo/components/Footer/styles.scss
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Upgrade and unpin sass-embedded, fix conflicting property for Card-footer
  package.json
  src/amo/components/Card/styles.scss
  tests/unit/test_packageJson.js
  yarn.lock
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Upgrade and unpin sass-embedded, fix conflicting property for Card-footer (#14246)
  package.json
  src/amo/components/Card/styles.scss
  tests/unit/test_packageJson.js
  yarn.lock
Due: prettier --write, eslint, stylelint

prettier
  README.md
Due: none

remove note tag
  README.md
Due: none

review
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Introduce QR to Download Android Add-on from Listing Page (#14231)
  package.json
  src/amo/components/QRCard/img/kit-qr.svg
  src/amo/components/QRCard/index.js
  src/amo/components/QRCard/styles.scss
  src/amo/constants.js
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  src/amo/utils/index.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/utils/test_index.js
  yarn.lock
Due: prettier --write, eslint, stylelint

Add info to README for Silicon Macs and Flow (#14245)
  README.md
Due: none

prettier
  src/amo/css/theme.scss
Due: stylelint

Use in-memory history in the blog-utils lib
  src/blog-utils/index.js
  tests/unit/blog-utils/test_node.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR), Slovenian (sl), Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Use in-memory history in the blog-utils lib (#14251)
  src/blog-utils/index.js
  tests/unit/blog-utils/test_node.js
Due: prettier --write, eslint

:arrow_up: release 0.37.1
  package.json
Due: none

Pontoon/AMO Frontend: Update English (Great Britain) (en-GB), Italian (it)
  locale/en_GB/LC_MESSAGES/amo.po
  locale/it/LC_MESSAGES/amo.po
Due: none
