Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Add new feature flag to link to the new feedback form on AMO (#12542)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/ReportAbuseButton/index.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint

Fix success message
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
Due: prettier --write, eslint, stylelint

Update README.md
  README.md
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Update README.md (#12544)
  README.md
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Refactor add-on form, show add-on metadata (#12533)
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/SignedInUser/index.js
  src/amo/components/SignedInUser/styles.scss
  src/amo/pages/Feedback/index.js
  src/amo/pages/Feedback/styles.scss
  src/amo/reducers/abuse.js
  src/amo/reducers/addons.js
  src/amo/sagas/abuse.js
  src/amo/sagas/addons.js
  tests/unit/amo/components/TestSignedInUser.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/sagas/test_abuse.js
  tests/unit/amo/sagas/test_addons.js
Due: prettier --write, eslint, stylelint

Allow users to report feedback anonymously
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/SignedInUser/index.js
  src/amo/components/SignedInUser/styles.scss
  src/amo/reducers/abuse.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint, stylelint

Assume non-public add-on when the API returns a 404
  src/amo/pages/Feedback/index.js
  src/amo/sagas/addons.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/sagas/test_addons.js
Due: prettier --write, eslint

Make sure confirmation is always visible after feedback is submitted
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Make sure confirmation is always visible after feedback is submitted (#12549)
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Allow users to report feedback anonymously (#12538)
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/SignedInUser/index.js
  src/amo/components/SignedInUser/styles.scss
  src/amo/reducers/abuse.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint, stylelint

Add disclaimer next to message textarea in feedback form
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
Due: prettier --write, eslint, stylelint

Hide abuse report button for langpacks
  src/amo/components/RatingManager/index.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
