Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Fix error in he locale file
  locale/he/LC_MESSAGES/amo.po
Due: none

Fix error in he locale file (#13808)
  locale/he/LC_MESSAGES/amo.po
Due: none

Revert "Bump jsdom from 26.1.0 to 27.0.0 (#13796)"
  package.json
  yarn.lock
Due: none

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovak (sk)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Fix error in he locale file, again
  locale/he/LC_MESSAGES/amo.po
Due: none

Fix error in he locale file, again (#13816)
  locale/he/LC_MESSAGES/amo.po
Due: none

Stop silencing mixed-decls
  webpack-common.js
Due: prettier --write, eslint

Revert "Bump jsdom from 26.1.0 to 27.0.0 (#13796)" (#13809)
  package.json
  yarn.lock
Due: none

Fix dependabot config since docker doesn't support cooldown
  .github/dependabot.yml
Due: none

Also remove cooldown for github-actions and trailing spaces
  .github/dependabot.yml
Due: none

Fix dependabot config since docker/github-actions support for cooldown is unreliable (#13818)
  .github/dependabot.yml
Due: none

Stop silencing mixed-decls (#13817)
  webpack-common.js
Due: prettier --write, eslint

Set 'cache-control: s-maxage=0' on version endpoint
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Italian (it)
  locale/it/LC_MESSAGES/amo.po
Due: none

Update prod locales - drop id, enable ro
  config/default.js
Due: prettier --write, eslint

Update prod locales - drop id, enable ro (#13821)
  config/default.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Set 'cache-control: s-maxage=0' on version endpoint (#13820)
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

Fix badge to perform client side navigation on internal links
  src/amo/components/AddonBadges/index.js
  src/amo/components/Badge/index.js
  src/amo/components/Link/index.js
  src/amo/components/SearchResult/index.js
  tests/unit/amo/components/TestBadge.js
Due: prettier --write, eslint

Remove tooltip (callout) on the install button
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Fix badge to perform client side navigation on internal links (#13822)
  src/amo/components/AddonBadges/index.js
  src/amo/components/Badge/index.js
  src/amo/components/Link/index.js
  src/amo/components/SearchResult/index.js
  tests/unit/amo/components/TestBadge.js
Due: prettier --write, eslint

Add border to all badges
  src/amo/components/Badge/index.js
  src/amo/components/Badge/styles.scss
  tests/unit/amo/components/TestBadge.js
Due: prettier --write, eslint, stylelint

Remove tooltip (callout) on the install button (#13823)
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Refactor ContributeCard slightly
  src/amo/components/ContributeCard/index.js
  src/amo/components/ContributeCard/styles.scss
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Align badges with summary (info)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
