Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Update firefox download link
  src/amo/constants.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Lint fix
  src/amo/constants.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
Due: none

Update UTM to match document guidance
  src/amo/constants.js
Due: prettier --write, eslint

Move test/lint pipeline to Github Actions (#14295)
  .circleci/config.yml
  .github/workflows/ci.yml
  README.md
Due: none

Revert "Update UTM to match document guidance"
  src/amo/constants.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

run prettier
  src/amo/components/Button/index.js
  src/amo/constants.js
  src/amo/reducers/autocomplete.js
  src/amo/reducers/home.js
  src/amo/reducers/site.js
  src/amo/reducers/suggestions.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update French (fr)
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Serbian (sr)
  locale/sr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Migrate deploy-amo pipeline in
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
Due: none

Pontoon/AMO Frontend: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Friulian (fur)
  locale/fur/LC_MESSAGES/amo.po
Due: none

Update firefox download link (#14297)
  src/amo/constants.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Hide QR Code on smaller viewports
  src/amo/components/QRCard/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Move docker/releasing pipeline to Github Actions (#14296)
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
  README.md
  version.json
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Update dependabot config
  .github/dependabot.yml
Due: none

Update dependabot config (#14321)
  .github/dependabot.yml
Due: none

Pontoon/AMO Frontend: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Hide QR Code on smaller viewports (#14316)
  src/amo/components/QRCard/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Upgrade stylelint to v17
  .stylelintrc
  package-lock.json
  package.json
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/Rating/styles.scss
  src/amo/components/RatingManager/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/Search/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/css/styles.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/Collection/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint

Upgrade stylelint to v17 (#14332)
  .stylelintrc
  package-lock.json
  package.json
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/Rating/styles.scss
  src/amo/components/RatingManager/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/Search/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/css/styles.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/Collection/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint

Bump to redux v5
  package-lock.json
  package.json
  webpack.dev.config.babel.js
Due: prettier --write, eslint

Remove plugin unminified comments from webpack.dev
  webpack.dev.config.babel.js
Due: prettier --write, eslint
