Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Fix tests
  tests/setup.js
Due: prettier --write, eslint

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Bengali (bn) localization of AMO Frontend
  locale/bn/LC_MESSAGES/amo.po
Due: none

Migrate TestUserProfileEdit.js (#11590)
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/pages/TestUserProfileEdit-new.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Migrate TestNotice.js
  tests/unit/amo/components/TestNotice.js
Due: prettier --write, eslint

Migrate TestLink.js
  tests/unit/amo/components/TestLink.js
Due: prettier --write, eslint

Fix the "Can't perform a React state update on an unmounted component" warning (#11592)
  package.json
  tests/unit/amo/pages/TestUserProfileEdit-new.js
Due: prettier --write, eslint

Migrate TestCard.js, TestDefinitionList.js, TestListItem.js and TestSelect.js (#11594)
  tests/unit/amo/components/TestCard.js
  tests/unit/amo/components/TestDefinitionList.js
  tests/unit/amo/components/TestListItem.js
  tests/unit/amo/components/TestSelect.js
Due: prettier --write, eslint

Fix lint errors
  .gitignore
  babel.config.js
  bin/regenerate_font.js
  package.json
  src/amo/pages/AddonReviewList/index.js
  webpack.dev.config.babel.js
  webpack.l10n.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Babel improvements: reloaded (#11593)
  .babelrc
  .gitignore
  babel.config.js
  bin/regenerate_font.js
  package.json
  src/amo/pages/AddonReviewList/index.js
  src/amo/polyfill.js
  tests/setup.js
  webpack.dev.config.babel.js
  webpack.l10n.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Migrate TestDismissibleTextForm.js
  src/amo/components/DismissibleTextForm/index.js
  src/amo/components/ReportUserAbuse/index.js
  tests/unit/amo/components/TestDismissibleTextForm.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Migrate TestLink.js (#11596)
  tests/unit/amo/components/TestLink.js
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO Frontend
  locale/is/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Stop trying to enable static themes after install, this is no longer necessary
  src/amo/components/AMInstallButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/installAddon.js
  tests/unit/amo/components/TestAMInstallButton.js
  tests/unit/amo/test_installAddon.js
Due: prettier --write, eslint

Rename TestUserProfileEdit-new.js to TestUserProfileEdit.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Migrate TestDropdownMenu.js and TestDropdownMenuItem.js
  tests/unit/amo/components/TestDropdownMenu.js
  tests/unit/amo/components/TestDropdownMenuItem.js
Due: prettier --write, eslint

Rename TestUserProfileEdit-new.js to TestUserProfileEdit.js (#11603)
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Migrate TestNotice.js (#11595)
  tests/unit/amo/components/TestNotice.js
Due: prettier --write, eslint

Migrate TestDismissibleTextForm.js (#11599)
  src/amo/components/DismissibleTextForm/index.js
  src/amo/components/ReportUserAbuse/index.js
  tests/unit/amo/components/TestDismissibleTextForm.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Migrate TestErrorList.js
  tests/unit/amo/components/TestErrorList.js
Due: prettier --write, eslint

Migrate TestExpandableCard.js
  tests/unit/amo/components/TestExpandableCard.js
Due: prettier --write, eslint

Remove the FormOverlay component and reducer as they are no longer used.
  src/amo/components/FormOverlay/index.js
  src/amo/components/FormOverlay/styles.scss
  src/amo/reducers/formOverlay.js
  src/amo/store.js
  tests/unit/amo/components/TestFormOverlay.js
  tests/unit/amo/reducers/test_formOverlay.js
Due: prettier --write, eslint, stylelint

Migrate TestErrorList.js (#11605)
  tests/unit/amo/components/TestErrorList.js
Due: prettier --write, eslint

Migrate /components/TestStaticPage.js
  tests/unit/amo/components/TestStaticPage.js
  tests/unit/amo/pages/TestStaticPages.js
Due: prettier --write, eslint

Stop trying to enable static themes after install, this is no longer necessary (#11602)
  src/amo/components/AMInstallButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/installAddon.js
  tests/unit/amo/components/TestAMInstallButton.js
  tests/unit/amo/test_installAddon.js
Due: prettier --write, eslint

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Migrate /components/TestStaticPage.js (#11610)
  tests/unit/amo/components/TestStaticPage.js
  tests/unit/amo/pages/TestStaticPages.js
Due: prettier --write, eslint

Remove the FormOverlay component and reducer as they are no longer used. (#11607)
  src/amo/components/FormOverlay/index.js
  src/amo/components/FormOverlay/styles.scss
  src/amo/reducers/formOverlay.js
  src/amo/store.js
  tests/unit/amo/components/TestFormOverlay.js
  tests/unit/amo/reducers/test_formOverlay.js
Due: prettier --write, eslint, stylelint

Migrate test_installAddon.js to react-testing-library
  src/amo/installAddon.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/test_installAddon.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Migrate TestExpandableCard.js (#11606)
  tests/unit/amo/components/TestExpandableCard.js
Due: prettier --write, eslint

Remove the `uiStateId` prop from withUIState as it was only ever used for testing purposes and we no longer need it, nor the UIState associated test helpers.
  src/amo/withUIState.js
  tests/unit/amo/test_withUIState.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Undo changes to DismissibleTextForm that landed for the test migration
  src/amo/components/DismissibleTextForm/index.js
Due: prettier --write, eslint

Remove any remaining references to Sinon from migrated tests
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestRoot.js
  tests/unit/amo/test_errorHandler.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint
