Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Time the FxA to MzA change (#12466)
  README.md
  src/amo/pages/UserProfileEdit/index.js
  src/amo/utils/fxa.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

fix url
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

better utilize notice component. list-ify the divs
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/styles.scss
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint, stylelint

move feature config check to Routes/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/Feedback/index.js
Due: prettier --write, eslint

addonIdentifier to Props
  src/amo/pages/Feedback/index.js
Due: prettier --write, eslint

stop sending VIEW_CONTEXT_HOME; drop pointless log.warn
  src/amo/pages/Feedback/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

styling and i18n fixes
  src/amo/pages/Feedback/index.js
  src/amo/pages/Feedback/styles.scss
Due: prettier --write, eslint, stylelint

Add mza banner to user edit page (#12475)
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/styles.scss
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint, stylelint

Refactor to Feedback page to FeedbackForm component
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/ReportAbuseButton/index.js
  src/amo/pages/Feedback/index.js
  src/amo/reducers/abuse.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/sagas/test_abuse.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Friulian (fur) localization of AMO Frontend
  locale/fur/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

check for legalAssertion in preventSubmit too
  src/amo/components/FeedbackForm/index.js
Due: prettier --write, eslint

move out the rendering of the post-submit jsx
  src/amo/components/FeedbackForm/index.js
Due: prettier --write, eslint

set the form back to loading:false on error
  src/amo/reducers/abuse.js
  src/amo/sagas/abuse.js
Due: prettier --write, eslint

set form width to 100%
  src/amo/components/FeedbackForm/styles.scss
Due: stylelint

Apply suggestions from code review
  src/amo/components/FeedbackForm/index.js
Due: prettier --write, eslint

Update .gitignore
  .gitignore
Due: none

Create .yarnrc.yml
  .yarnrc.yml
Due: none

add missing tests
  src/amo/components/FeedbackForm/index.js
  src/amo/pages/Feedback/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

move mza_launch_datetime to allow it to be tested
  src/amo/utils/fxa.js
Due: prettier --write, eslint

Update fxa.js
  src/amo/utils/fxa.js
Due: prettier --write, eslint

move mza_launch_datetime to allow it to be tested (#12493)
  src/amo/utils/fxa.js
Due: prettier --write, eslint

fix title
  src/amo/components/FeedbackForm/index.js
Due: prettier --write, eslint

add feedback form (#12468)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/Feedback/index.js
  src/amo/reducers/abuse.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/sagas/test_abuse.js
Due: prettier --write, eslint, stylelint

revert mza_launch_datetime bump
  src/amo/utils/fxa.js
Due: prettier --write, eslint

revert mza_launch_datetime bump (#12494)
  src/amo/utils/fxa.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
  yarn.lock
Due: none

Pontoon: Update Punjabi (pa-IN) localization of AMO Frontend
  locale/pa_IN/LC_MESSAGES/amo.po
Due: none

Sync validClientAppUrlExceptions with SUPPORTED_NONAPPS
  config/default.js
Due: prettier --write, eslint

Init Commit
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
Due: prettier --write, eslint, stylelint

Sync validClientAppUrlExceptions with SUPPORTED_NONAPPS (#12497)
  config/default.js
Due: prettier --write, eslint

add location field to feedback form
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  src/amo/reducers/abuse.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/sagas/test_abuse.js
Due: prettier --write, eslint, stylelint

define yarn version
  package.json
Due: none

Delete .yarnrc.yml
  .yarnrc.yml
Due: none

change MZA_LAUNCH_DATE
  src/amo/utils/fxa.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

change MZA_LAUNCH_DATE (#12503)
  src/amo/utils/fxa.js
Due: prettier --write, eslint
