Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO Frontend
  locale/sq/LC_MESSAGES/amo.po
Due: none

Stop sending Cache-Control: no-store, send max-age and s-maxage
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Fx typo
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Stop sending Cache-Control: no-store, send max-age and s-maxage (#10679)
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Update dependency chokidar to v3.5.2
  package.json
  yarn.lock
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Address review comments - Change state to store variants for multiple experiments - Add a clearExperimentVariant action - Just return the variant id from getVariant - Update tests
  src/amo/reducers/experiments.js
  src/amo/withExperiment.js
  tests/unit/amo/reducers/test_experiments.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Added a test for issue 10681
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Remove logic and action for clearing a stored variant
  src/amo/reducers/experiments.js
  src/amo/withExperiment.js
  tests/unit/amo/reducers/test_experiments.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Change the name of the param used for the experimental download page
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Add link to add-on name in StaticAddonCard
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Add link to add-on name in StaticAddonCard (#10692)
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

:arrow_up: release 0.21.0
  package.json
Due: none

Update dependency typescript to v4.3.3
  package.json
  yarn.lock
Due: none

Fix layout of dismiss text form buttons (#10625)
  src/amo/components/ReportAbuseButton/styles.scss
Due: stylelint --syntax scss

Add Scots (sco) to supported languages
  src/amo/languages.js
Due: prettier --write, eslint

Change the name of the param used for the experimental download page (#10690)
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Render experiments on the server (#10665)
  config/test.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/Addon/index.js
  src/amo/reducers/experiments.js
  src/amo/store.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_experiments.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Allow for excluding Firefox users or non-Firefox users from experiments
  src/amo/constants.js
  src/amo/experiments/20210531_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Update dependency pretty-quick to v3.1.1
  package.json
  yarn.lock
Due: none

add comments to not override page_size
  src/amo/reducers/addonsByAuthors.js
  tests/unit/amo/sagas/test_reviews.js
Due: prettier --write, eslint

Update dependency typescript to v4.3.4
  package.json
  yarn.lock
Due: none

Allow for excluding users from experiments based on language
  src/amo/experiments/20210531_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Add Scots (sco) to supported languages (#10694)
  src/amo/languages.js
Due: prettier --write, eslint

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Update dependency inter-ui to v3.19.1
  src/blog-utils/index.html
Due: none

Update dependency core-js to v3.15.0
  package.json
  yarn.lock
Due: none

Update dependency pino-mozlog to v2.6.0
  package.json
  yarn.lock
Due: none

Update dependency serialize-javascript to v6
  package.json
  yarn.lock
Due: none

Remove destructuring of experiment config from `withExperiment`
  src/amo/experiments/20210531_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Remove experimentConfig from EXPERIMENT_CONFIG
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/experiments/20210531_download_funnel_experiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Remove destructuring of experiment config from `withExperiment` (#10704)
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint
