Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Update dependency html-entities to v2.1.1
  package.json
  yarn.lock
Due: none

Update timing middleware to output time in logs
  config/default.js
  src/amo/middleware/datadogTiming.js
  src/amo/server/base.js
  tests/unit/amo/middleware/test_datadogTiming.js
Due: prettier --write, eslint

rename middleware
  src/amo/middleware/index.js
  src/amo/middleware/responseTime.js
  src/amo/server/base.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Fix footer text by using regular font weight
  src/amo/components/Footer/styles.scss
Due: stylelint --syntax scss

Configure bundlesize for CSS
  package.json
Due: none

Use webpack's contenthash instead of chunkhash for better long-term caching
  webpack.dev.config.babel.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

changed older versions button to links
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
Due: prettier --write, eslint

Tests added for PR #9973
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

Configure bundlesize for CSS (#10205)
  package.json
Due: none

Fix Flow errors
  src/amo/actions/reviews.js
  src/amo/components/PermissionsCard/index.js
  src/amo/pages/UserProfile/index.js
  src/amo/reducers/home.js
  src/amo/sagas/reviews.js
  tests/unit/amo/sagas/test_reviews.js
Due: prettier --write, eslint

fixes
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Update timing middleware to output time in logs (#10203)
  config/default.js
  src/amo/middleware/datadogTiming.js
  src/amo/middleware/index.js
  src/amo/middleware/responseTime.js
  src/amo/server/base.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Enforce naming convention for experiment ids
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Fix statsd prefix
  src/amo/middleware/responseTime.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Fix footer text by using regular font weight (#10204)
  src/amo/components/Footer/styles.scss
Due: stylelint --syntax scss

Address review comments
  src/amo/components/Search/index.js
  src/amo/components/SearchFilters/index.js
  src/amo/constants.js
  src/amo/pages/CategoryPage/index.js
  src/amo/pages/SearchPage/index.js
  tests/unit/amo/components/TestSearch.js
  tests/unit/amo/components/TestSearchFilters.js
  tests/unit/amo/pages/TestSearchPage.js
Due: prettier --write, eslint

Fix statsd prefix (#10214)
  src/amo/middleware/responseTime.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Add a test for the config
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Address final review comment
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Enforce naming convention for experiment ids (#10211)
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Address final comment
  src/amo/components/Search/index.js
Due: prettier --write, eslint

Make category pages indexable (#10146)
  src/amo/components/Categories/index.js
  src/amo/components/Routes/index.js
  src/amo/components/Search/index.js
  src/amo/components/SearchContextCard/index.js
  src/amo/components/SearchFilters/index.js
  src/amo/constants.js
  src/amo/pages/CategoryPage/index.js
  src/amo/pages/Home/index.js
  src/amo/pages/SearchPage/index.js
  src/amo/pages/SearchTools/index.js
  src/amo/reducers/categories.js
  src/amo/searchUtils.js
  src/amo/utils/categories.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/components/TestSearch.js
  tests/unit/amo/components/TestSearchFilters.js
  tests/unit/amo/pages/TestCategoryPage.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/pages/TestSearchTools.js
  tests/unit/amo/test_searchUtils.js
  tests/unit/amo/utils/test_categories.js
Due: prettier --write, eslint

Remove font-display: swap
  src/fonts/inter.scss
Due: stylelint --syntax scss

Use webpack's contenthash instead of chunkhash for better long-term caching (#10207)
  webpack.dev.config.babel.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

Pontoon: Update Kabyle (kab) localization of AMO Frontend
  locale/kab/LC_MESSAGES/amo.po
Due: none

Generate files in dist/static/
  package.json
  webpack.dev.config.babel.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

Fix the wrapping issue for flag on review component
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/FlagReviewMenu/styles.scss
  tests/unit/amo/components/TestFlagReviewMenu.js
Due: prettier --write, eslint, stylelint --syntax scss

Remove font-display: swap (#10224)
  src/fonts/inter.scss
Due: stylelint --syntax scss

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none
