Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Update dependency ua-parser-js to v0.7.25
  package.json
  yarn.lock
Due: none

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

Revert "lazy load theme search result images (#10247)"
  src/amo/components/SearchResult/index.js
  tests/unit/amo/components/TestSearchResult.js
Due: prettier --write, eslint

Revert "add loading="lazy" to detail page screenshot thumbs (#10189)"
  src/amo/components/ScreenShots/index.js
  tests/unit/amo/components/TestScreenShots.js
Due: prettier --write, eslint

Revert lazy loading of images on extension detail page and theme search results (#10268)
  src/amo/components/ScreenShots/index.js
  src/amo/components/SearchResult/index.js
  tests/unit/amo/components/TestScreenShots.js
  tests/unit/amo/components/TestSearchResult.js
Due: prettier --write, eslint

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Make more space for the navigation links at smaller screen resolutions (#10257)
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
  src/amo/components/SectionLinks/styles.scss
  tests/unit/amo/components/TestHeader.js
Due: prettier --write, eslint, stylelint --syntax scss

const removed
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Pontoon: Update Kaqchikel (cak) localization of AMO Frontend
  locale/cak/LC_MESSAGES/amo.po
Due: none

Reset clientApp if it differs on the URL
  src/amo/components/App/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestApp.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Update dependency ua-parser-js to v0.7.26
  package.json
  yarn.lock
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Update dependency html-entities to v2.3.1
  package.json
  yarn.lock
Due: none

Update dependency jsdom to v16.5.2
  package.json
  yarn.lock
Due: none

Do not inline most of the media files in the CSS bundle
  package.json
  webpack-common.js
Due: prettier --write, eslint

s/1000/1024
  webpack-common.js
Due: prettier --write, eslint

max css size: 36KB
  package.json
Due: none

Do not inline most of the media files in the CSS bundle (#10282)
  package.json
  webpack-common.js
Due: prettier --write, eslint

Update dependency husky to v6
  package.json
  yarn.lock
Due: none

Add withBrowserWindow parameter to webpack's getPlugins()
  webpack-common.js
Due: prettier --write, eslint

Allow Footer to render without a language picker
  src/amo/components/Footer/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestFooter.js
Due: prettier --write, eslint

Fixes Compatibility message for iOS users
  src/amo/components/WrongPlatformWarning/index.js
  tests/unit/amo/components/TestWrongPlatformWarning.js
Due: prettier --write, eslint

remove excludeOtherAppLocales
  webpack-common.js
Due: prettier --write, eslint

Add withBrowserWindow parameter to webpack's getPlugins() (#10284)
  webpack-common.js
Due: prettier --write, eslint

Fixes Compatibility message for iOS users (#10276)
  src/amo/components/WrongPlatformWarning/index.js
  tests/unit/amo/components/TestWrongPlatformWarning.js
Due: prettier --write, eslint

Changes made in AuthenticateButton/index.js to convert button to link
  src/amo/components/AuthenticateButton/index.js
Due: prettier --write, eslint

Convert button to link
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss
