Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Fix blog-utils with noThemePicker boolean, and footer background
  src/amo/components/Footer/index.js
  src/amo/components/Footer/styles.scss
  src/amo/pages/LanguageTools/styles.scss
  src/blog-utils/index.js
Due: prettier --write, eslint, stylelint

prettier
  src/amo/components/Footer/index.js
  src/amo/components/Rating/styles.scss
  src/amo/css/theme.scss
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Friulian (fur)
  locale/fur/LC_MESSAGES/amo.po
Due: none

Keep simple monitor endpoint
  src/amo/server/base.js
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Simplify heartbeat endpoint, don't call API, just return 200 (#14261)
  src/amo/server/base.js
  src/amo/utils/server.js
  tests/unit/amo/server/test_base.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Migrate sass colour functions, slash division (#14258)
  src/amo/components/AppBanner/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  webpack-common.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/amo.po
Due: none

feedback fixes
  src/amo/components/AddonRecommendations/styles.scss
  src/amo/css/theme.scss
Due: stylelint

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Migrate sass mixed declarations (#14259)
  src/amo/components/AMInstallButton/styles.scss
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/AutoSearchInput/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/Card/styles.scss
  src/amo/components/Categories/styles.scss
  src/amo/components/CopyAddonId/styles.scss
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/ExpandableCard/styles.scss
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/Header/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/Icon/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SearchSuggestion/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/components/UserProfileEditNotifications/styles.scss
  src/amo/components/UserProfileEditPicture/styles.scss
  src/amo/components/UserReview/styles.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/AddonInfo/styles.scss
  src/amo/pages/AddonReviewList/styles.scss
  src/amo/pages/AddonVersions/styles.scss
  src/amo/pages/CollectionFeedback/styles.scss
  src/amo/pages/UserFeedback/styles.scss
  src/amo/pages/UserProfile/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
  webpack-common.js
Due: prettier --write, eslint, stylelint

Add dark mode (#14244)
  config/default.js
  src/amo/client/base.js
  src/amo/components/AddonRecommendations/styles.scss
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/ExpandableCard/styles.scss
  src/amo/components/Footer/index.js
  src/amo/components/Footer/styles.scss
  src/amo/components/Icon/styles.scss
  src/amo/components/Rating/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/SearchFilters/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/ThemePicker/index.js
  src/amo/components/ThemePicker/styles.scss
  src/amo/constants.js
  src/amo/css/inc/mixins.scss
  src/amo/css/theme.scss
  src/amo/pages/LanguageTools/styles.scss
  src/amo/reducers/theme.js
  src/amo/store.js
  src/blog-utils/index.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/components/TestThemePicker.js
  tests/unit/amo/reducers/test_theme.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO), Portuguese (Brazil) (pt-BR), Slovenian (sl), Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
  locale/nb_NO/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update German (de)
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Dutch (nl)
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl), Italian (it)
  locale/it/LC_MESSAGES/amo.po
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovak (sk)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Arabic (ar)
  locale/ar/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Update RatingManager to account for the read-only mode
  src/amo/components/RatingManager/index.js
  src/amo/components/RatingManager/styles.scss
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Romanian (ro), Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/amo.po
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Bump jest-environment-jsdom to v30
  package.json
  src/amo/components/App/index.js
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/Errors/AuthExpired/index.js
  src/amo/components/Footer/index.js
  src/amo/components/Page/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/components/TestAuthenticateButton.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestUserProfileEdit.js
  tests/unit/helpers.js
  yarn.lock
Due: prettier --write, eslint

Bump jest-environment-jsdom to v30 (#14267)
  package.json
  src/amo/components/App/index.js
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/Errors/AuthExpired/index.js
  src/amo/components/Footer/index.js
  src/amo/components/Page/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/components/TestAuthenticateButton.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestUserProfileEdit.js
  tests/unit/helpers.js
  yarn.lock
Due: prettier --write, eslint

Require sass-embedded-linux-x64 as optional
  package-lock.json
  package.json
Due: none

Use npm instead of yarn
  .ackrc
  .circleci/config.yml
  .github/workflows/ci.yml
  .gitignore
  .ignore
  .yarnrc
  Dockerfile
  README.md
  bin/loading-page.html
  config/development-local.js
  config/development.js
  docs/i18n.md
  docs/moz-addon-manager.md
  docs/using-the-staging-sites-api.md
  docs/windows.md
  package-lock.json
  package.json
  webpack.dev.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Require python3 and build-essential for node-gyp in Dockerfile
  Dockerfile
Due: none
