Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Require unix-dgram
  package-lock.json
  package.json
Due: none

Update RatingManager to account for the read-only mode (#14269)
  src/amo/components/RatingManager/index.js
  src/amo/components/RatingManager/styles.scss
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR), Slovenian (sl), Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Fix QA findings for dark mode
  src/amo/components/AddonFeedbackForm/styles.scss
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/CollectionManager/styles.scss
  src/amo/components/CollectionSort/styles.scss
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/InstallWarning/index.js
  src/amo/components/LoadingText/styles.scss
  src/amo/components/MetadataCard/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/Paginate/styles.scss
  src/amo/components/RatingManagerNotice/styles.scss
  src/amo/components/StaticPage/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/css/theme.scss
  src/amo/pages/CollectionFeedback/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/amo/pages/UserFeedback/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: prettier --write, eslint, stylelint

Revert constant condition made for local testing
  src/amo/components/InstallWarning/index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update German (de)
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Arabic (ar)
  locale/ar/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Italian (it)
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovak (sk), English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/amo.po
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Interlingua (ia), Dutch (nl)
  locale/ia/LC_MESSAGES/amo.po
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

GA4 Improvements (#14254)
  src/amo/components/AddonRecommendations/index.js
  src/amo/constants.js
  src/amo/pages/Addon/index.js
  src/amo/tracking.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Update QRCard qr's z-index to be less arbitrary
  src/amo/components/QRCard/styles.scss
Due: stylelint

Update QRCard qr's z-index to be less arbitrary (#14274)
  src/amo/components/QRCard/styles.scss
Due: stylelint

Use npm instead of yarn (#14265)
  .ackrc
  .circleci/config.yml
  .github/workflows/ci.yml
  .gitignore
  .ignore
  .yarnrc
  Dockerfile
  README.md
  bin/loading-page.html
  config/development-local.js
  config/development.js
  docs/i18n.md
  docs/moz-addon-manager.md
  docs/using-the-staging-sites-api.md
  docs/windows.md
  package-lock.json
  package.json
  webpack.dev.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Review feedback fixes
  src/amo/components/Footer/styles.scss
  src/amo/components/Icon/styles.scss
  src/amo/components/ThemePicker/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Revert "Bump uuid from 11.1.1 to 14.0.1 (#14264)"
  package-lock.json
  package.json
Due: none

Revert "Bump uuid from 11.1.1 to 14.0.1" (#14293)
  package-lock.json
  package.json
Due: none

Revert "Bump webpack from 5.107.2 to 5.108.0 (#14279)"
  package-lock.json
  package.json
Due: none

Revert "Bump webpack from 5.107.2 to 5.108.0 (#14279)" (#14294)
  package-lock.json
  package.json
Due: none

Fix QA findings for dark mode (#14270)
  src/amo/components/AddonFeedbackForm/styles.scss
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/CollectionManager/styles.scss
  src/amo/components/CollectionSort/styles.scss
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/Icon/styles.scss
  src/amo/components/LoadingText/styles.scss
  src/amo/components/MetadataCard/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/Paginate/styles.scss
  src/amo/components/RatingManagerNotice/styles.scss
  src/amo/components/StaticPage/styles.scss
  src/amo/components/ThemePicker/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/css/theme.scss
  src/amo/pages/CollectionFeedback/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/amo/pages/UserFeedback/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: stylelint

Move test/lint pipeline to Github Actions
  .circleci/config.yml
  .github/workflows/ci.yml
  README.md
Due: none

Move docker/releasing pipeline to Github Actions
  .circleci/config.yml
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
  README.md
  version.json
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
