Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Add border to all badges (#13824)
  src/amo/components/Badge/index.js
  src/amo/components/Badge/styles.scss
  tests/unit/amo/components/TestBadge.js
Due: prettier --write, eslint, stylelint

Reduce the size of the icons in the badges
  src/amo/components/Badge/styles.scss
Due: stylelint

Reduce the size of the icons in the badges (#13825)
  src/amo/components/Badge/styles.scss
Due: stylelint

Simplify how we list the badges in AddonBadges
  src/amo/components/AddonBadges/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Friulian (fur)
  locale/fur/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Simplify how we list the badges in AddonBadges (#13826)
  src/amo/components/AddonBadges/styles.scss
Due: stylelint

Remove the release notes card in the detail page
  src/amo/pages/Addon/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Fix badge size in search suggestions
  src/amo/components/SearchSuggestion/index.js
Due: prettier --write, eslint

Unify most detail page components in a single card
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Unify most detail page components in a single card (#13831)
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Fix badge size in search suggestions (#13836)
  src/amo/components/SearchSuggestion/index.js
Due: prettier --write, eslint

Add some padding between the content and rating components on large screens
  src/amo/pages/Addon/styles.scss
Due: stylelint

Add some padding between the content and rating components on large screens (#13837)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Align badges with summary (info) (#13828)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Refactor ContributeCard slightly (#13827)
  src/amo/components/ContributeCard/index.js
  src/amo/components/ContributeCard/styles.scss
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

fix test
  tests/unit/amo/components/TestRating.js
Due: prettier --write, eslint

Update browserlist
  yarn.lock
Due: none

Remove margin when not needed at the top of the main add-on detail page card
  src/amo/pages/Addon/styles.scss
Due: stylelint

Adjust icon size depending on the breakpoint
  src/amo/pages/Addon/styles.scss
Due: stylelint

Set a width to the install button
  src/amo/pages/Addon/styles.scss
Due: stylelint

Simplify grid for the header, and adjust it to match the spec
  src/amo/pages/Addon/styles.scss
Due: stylelint

Set new padding on the main add-on detail card
  src/amo/pages/Addon/styles.scss
Due: stylelint

Remove the release notes card in the detail page (#13835)
  src/amo/pages/Addon/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Update browserlist (#13841)
  yarn.lock
Due: none

Upgrade PhotoSwipe
  jest.config.js
  package.json
  src/amo/components/ScreenShots/index.js
  tests/unit/amo/components/TestScreenShots.js
  yarn.lock
Due: prettier --write, eslint

Upgrade PhotoSwipe (#13833)
  jest.config.js
  package.json
  src/amo/components/ScreenShots/index.js
  tests/unit/amo/components/TestScreenShots.js
  yarn.lock
Due: prettier --write, eslint

Pin sass-embedded dep to 1.91.0 to avoid UI regressions
  package.json
  tests/unit/test_packageJson.js
  webpack-common.js
  yarn.lock
Due: prettier --write, eslint

Pin sass-embedded dep to 1.91.0 to avoid UI regressions (#13843)
  package.json
  tests/unit/test_packageJson.js
  webpack-common.js
  yarn.lock
Due: prettier --write, eslint

Update style of the add-on header in the detail page (#13842)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Add some padding between warnings in the add-on header
  src/amo/pages/Addon/styles.scss
Due: stylelint

Add some padding between warnings in the add-on header (#13850)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Fix margin bottom on some pages
  src/amo/pages/Addon/styles.scss
  src/amo/pages/LandingPage/styles.scss
Due: stylelint
