Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Allow for excluding users from experiments based on values from state
  src/amo/experiments/20210531_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/experiments/test_20210531_download_funnel_experiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Make the argument for shouldExcludeUser an object
  src/amo/experiments/20210531_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/experiments/test_20210531_download_funnel_experiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Allow for excluding users from experiments based on values from state (#10706)
  src/amo/experiments/20210531_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/experiments/test_20210531_download_funnel_experiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Updated Footer text
  src/amo/components/Footer/index.js
Due: prettier --write, eslint

Updated Footer text (#10709)
  src/amo/components/Footer/index.js
Due: prettier --write, eslint

Remove enableFeatureLinkToNewBlog flag
  config/default.js
  src/amo/components/Footer/index.js
  src/amo/components/Page/index.js
  src/amo/components/SectionLinks/index.js
  src/blog-utils/index.js
  tests/unit/amo/components/TestFooter.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestSectionLinks.js
Due: prettier --write, eslint

Allow to render a header with and without a GetFirefoxBanner for the blog
  src/amo/components/Header/index.js
  src/amo/components/Notice/styles.scss
  src/amo/components/Page/index.js
  src/blog-utils/index.html
  src/blog-utils/index.js
  src/blog-utils/styles.scss
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestPage.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency inter-ui to v3.19.2
  src/blog-utils/index.html
Due: none

Exclude non en-US users from download funnel experiment
  src/amo/experiments/20210531_download_funnel_experiment.js
  tests/unit/amo/experiments/test_20210531_download_funnel_experiment.js
Due: prettier --write, eslint

Fix test failures
  tests/unit/amo/experiments/test_20210531_download_funnel_experiment.js
Due: prettier --write, eslint

Exclude non en-US users from download funnel experiment (#10707)
  src/amo/experiments/20210531_download_funnel_experiment.js
  tests/unit/amo/experiments/test_20210531_download_funnel_experiment.js
Due: prettier --write, eslint

Remove all code relating to is_restart_required and is_webextension
  src/amo/components/AddonBadges/index.js
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/Badge/index.js
  src/amo/components/Icon/img/not-compatible.svg
  src/amo/components/Icon/img/restart.svg
  src/amo/components/Icon/styles.scss
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/versions.js
  src/amo/types/addons.js
  src/amo/utils/compatibility.js
  tests/unit/amo/components/TestAddonBadges.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/utils/test_compatibility.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Spanish (es) localization of AMO Frontend
  locale/es/LC_MESSAGES/amo.po
Due: none

Improve code coverage for addons reducer
  tests/unit/amo/reducers/test_addons.js
Due: prettier --write, eslint

Remove enableFeatureLinkToNewBlog flag (#10712)
  config/default.js
  src/amo/components/Footer/index.js
  src/amo/components/Page/index.js
  src/amo/components/SectionLinks/index.js
  src/blog-utils/index.js
  tests/unit/amo/components/TestFooter.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestSectionLinks.js
Due: prettier --write, eslint

Improve code coverage for addons reducer (#10719)
  tests/unit/amo/reducers/test_addons.js
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.15.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Urdu (ur) localization of AMO Frontend
  locale/ur/LC_MESSAGES/amo.po
Due: none

Pass variant instead of trying to recompute it
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Pass variant instead of trying to recompute it (#10723)
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Bulgarian (bg) localization of AMO Frontend
  locale/bg/LC_MESSAGES/amo.po
Due: none

Update dependency style-loader to v3
  package.json
  yarn.lock
Due: none

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Update dependency prettier to v2.3.2
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.15.2
  package.json
  yarn.lock
Due: none

Update dependency filesize to v6.4.0
  package.json
  yarn.lock
Due: none

Update dependency mini-css-extract-plugin to v2
  package.json
  yarn.lock
Due: none
