Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

chore(): add remix starter
  remix/.eslintrc.cjs
  remix/.gitignore
  remix/README.md
  remix/app/entry.client.tsx
  remix/app/entry.server.tsx
  remix/app/root.tsx
  remix/app/routes/_index.tsx
  remix/package.json
  remix/public/favicon.ico
  remix/remix.config.js
  remix/remix.env.d.ts
  remix/tsconfig.json
  remix/yarn.lock
Due: prettier --write, eslint

chore(): add i18n to remix
  remix/app/entry.client.tsx
  remix/app/entry.server.tsx
  remix/app/i18n.ts
  remix/app/i18next.server.ts
  remix/app/root.tsx
  remix/app/routes/_index.tsx
  remix/package.json
  remix/public/locales/en/common.json
  remix/remix.config.js
  remix/yarn.lock
Due: prettier --write, eslint

Added nofollow to public links on AMO (#12714)
  src/amo/components/AddonMoreInfo/index.js
  src/amo/pages/UserProfile/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/pages/TestUserProfile.js
Due: prettier --write, eslint

chore(): add i18next-conv to transform .po to .json
  remix/app/i18n.ts
  remix/app/root.tsx
  remix/app/routes/_index.tsx
  remix/package.json
  remix/public/locales/en/amo.json
  remix/public/locales/en/common.json
  remix/yarn.lock
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

chore(): add poToJson to format po files to json format
  .circleci/config.yml
  .eslintignore
  bin/build-locales
  jest.config.js
  package.json
  po-to-json/.gitignore
  po-to-json/fixtures/basic/input.po
  po-to-json/fixtures/basic/output.json
  po-to-json/fixtures/pluralization/input.po
  po-to-json/fixtures/pluralization/output.json
  po-to-json/fixtures/qt_template/input.po
  po-to-json/fixtures/qt_template/output.json
  po-to-json/fixtures/qt_template_empty/input.po
  po-to-json/fixtures/qt_template_empty/output.json
  po-to-json/package.json
  po-to-json/plugin.js
  po-to-json/test.js
  po-to-json/yarn.lock
  remix/app/entry.server.tsx
  remix/app/routes/_index.tsx
  remix/package.json
  remix/public/locales/en/amo.json
  remix/yarn.lock
Due: prettier --write, eslint

chore(): ignore license in prettier
  .prettierignore
Due: none

Change "Other" category in feedback form to point to "something_else" reason API
  src/amo/components/FeedbackForm/index.js
Due: prettier --write, eslint

Hide Android badge when the add-on is not exactly compatible
  src/amo/reducers/addons.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Generate locale PO files with extracted comments
  locale/templates/LC_MESSAGES/amo.pot
  package.json
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/AddonAuthorLinks/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonReviewCard/index.js
  src/amo/components/AddonSummaryCard/index.js
  src/amo/components/AddonTitle/index.js
  src/amo/components/Header/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/i18n/utils.js
  src/amo/pages/UserProfile/index.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UsersUnsubscribe/index.js
  src/amo/reducers/versions.js
  tests/unit/test_packageJson.js
  yarn.lock
Due: prettier --write, eslint

tmp: adding the i18n stuff
  jed-to-i18n/fixtures/formatNumber/nested/code.js
  jed-to-i18n/fixtures/formatNumber/nested/output.js
  package.json
  src/amo/client/base.js
  src/amo/i18n/Provider.js
  src/amo/i18n/translate.js
  src/amo/server/base.js
  src/amo/types/i18n.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Punjabi (pa-IN) localization of AMO Frontend
  locale/pa_IN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Japanese (ja) localization of AMO Frontend
  locale/ja/LC_MESSAGES/amo.po
Due: none

Rename constant
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/FeedbackForm/index.js
  src/amo/pages/CollectionFeedback/index.js
  src/amo/pages/RatingFeedback/index.js
  src/amo/pages/UserFeedback/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

Change "Other" category in feedback form to point to "something_else" reason API (#12754)
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/FeedbackForm/index.js
  src/amo/pages/CollectionFeedback/index.js
  src/amo/pages/RatingFeedback/index.js
  src/amo/pages/UserFeedback/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

Hide Android badge when the add-on is not exactly compatible (#12755)
  src/amo/reducers/addons.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Remove feedback form feature flags
  config/default.js
  src/amo/addonManager.js
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/ReportAbuseButton/styles.scss
  src/amo/components/ReportUserAbuse/index.js
  src/amo/components/ReportUserAbuse/styles.scss
  src/amo/components/Routes/index.js
  src/amo/pages/Collection/index.js
  src/amo/reducers/abuse.js
  src/amo/reducers/userAbuseReports.js
  src/amo/sagas/abuse.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/reducers/test_userAbuseReports.js
  tests/unit/amo/sagas/test_abuse.js
  tests/unit/amo/test_addonManager.js
Due: prettier --write, eslint, stylelint

Remove feedback form feature flags (#12753)
  config/default.js
  src/amo/addonManager.js
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/ReportAbuseButton/styles.scss
  src/amo/components/ReportUserAbuse/index.js
  src/amo/components/ReportUserAbuse/styles.scss
  src/amo/components/Routes/index.js
  src/amo/pages/Collection/index.js
  src/amo/reducers/abuse.js
  src/amo/reducers/userAbuseReports.js
  src/amo/sagas/abuse.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/reducers/test_userAbuseReports.js
  tests/unit/amo/sagas/test_abuse.js
  tests/unit/amo/test_addonManager.js
Due: prettier --write, eslint, stylelint

feat(): add fluent example in json
  remix/app/routes/translations.tsx
  remix/app/tranlations.ts
  remix/public/locales/en/amo.json
Due: none

feat(): add fluent version of trnaslations
  remix/app/entry.server.tsx
  remix/package.json
  remix/public/locales/amo.ftl
  remix/yarn.lock
Due: none

chore(): abstract i18next-remix loading to make it configurable
  remix/app/entry.client.tsx
  remix/app/entry.server.tsx
  remix/app/i18n/config.ts
  remix/app/i18n/i18next-json.client.ts
  remix/app/i18n/i18next-json.server.ts
  remix/app/i18next.server.ts
  remix/app/root.tsx
  remix/app/routes/_index.tsx
Due: none

feat(failing): try to add ftl support for i18next. Doesn't work so far.
  remix/app/entry.client.tsx
  remix/app/entry.server.tsx
  remix/app/i18n/i18next-fluent-backend-local/ajax.js
  remix/app/i18n/i18next-fluent-backend-local/index.js
  remix/app/i18n/i18next-fluent-backend-local/utils.js
  remix/app/i18n/i18next-ftl.client.ts
  remix/app/i18n/i18next-ftl.server.ts
  remix/app/root.tsx
  remix/package.json
  remix/public/locales/en/amo.ftl
  remix/yarn.lock
Due: prettier --write, eslint

Generate locale PO files with extracted comments (#12757)
  locale/templates/LC_MESSAGES/amo.pot
  package.json
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/AddonAuthorLinks/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonReviewCard/index.js
  src/amo/components/AddonSummaryCard/index.js
  src/amo/components/AddonTitle/index.js
  src/amo/components/Header/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/i18n/utils.js
  src/amo/pages/UserProfile/index.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UsersUnsubscribe/index.js
  src/amo/reducers/versions.js
  tests/unit/test_packageJson.js
  yarn.lock
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Install git in Docker image
  .circleci/config.yml
  Dockerfile
Due: none

Install git in Docker image (#12767)
  .circleci/config.yml
  Dockerfile
Due: none

chore(): add husky
  .husky/common.sh
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

tmp: babel extract
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint

chore(): convert gettext to t api
  src/amo/types/i18n.js
Due: prettier --write, eslint

feat(): remove dynamic keys from i18n.t calls
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonReviewCard/index.js
  src/amo/components/FeaturedAddonReview/index.js
  src/amo/components/Footer/index.js
  src/amo/components/HeadMetaTags/index.js
  src/amo/components/RatingManager/index.js
  src/amo/i18n/utils.js
  src/amo/pages/AddonInfo/index.js
  src/amo/pages/Collection/index.js
  src/amo/pages/UserProfile/index.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/reducers/versions.js
Due: prettier --write, eslint

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

chore(): auto fix eslint i18n template literals
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/ContributeCard/index.js
  src/amo/components/Errors/AuthExpired/index.js
  src/amo/components/Errors/NotAuthorized/index.js
  src/amo/components/Errors/NotFound/index.js
  src/amo/components/Errors/ServerError/index.js
  src/amo/components/Errors/UnavailableForLegalReasons/index.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/Footer/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/Rating/index.js
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/ReportUserAbuse/index.js
  src/amo/components/SiteNotices/index.js
  src/amo/components/VPNPromoBanner/index.js
  src/amo/components/WrongPlatformWarning/index.js
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonReviewList/index.js
  src/amo/pages/Block/index.js
  src/amo/pages/Collection/index.js
  src/amo/pages/CollectionList/index.js
  src/amo/pages/Home/index.js
  src/amo/pages/LandingPage/index.js
  src/amo/pages/LanguageTools/index.js
  src/amo/pages/StaticPages/About/index.js
  src/amo/pages/StaticPages/ReviewGuide/index.js
  src/amo/pages/UserProfile/index.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UsersUnsubscribe/index.js
  src/amo/utils/notifications.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
