Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/amo.po
Due: none

Fix type issue by moving state to the AddonMoreInfo component. (#13677)
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/DefinitionList/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

Make more information card multi-column; include add to collection input (#13665)
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/AddonAuthorLinks/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint, stylelint

static addon card
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
Due: prettier --write, eslint, stylelint

Stop flipping badge direction and minor style tweak to badge padding, border radius
  src/amo/components/Badge/styles.scss
Due: stylelint

Fixes
  src/amo/components/AddonBadges/index.js
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
Due: prettier --write, eslint, stylelint

Add text wrapping to badge content (for suppppper small screens)
  src/amo/components/Badge/styles.scss
Due: stylelint

Add gap instead of margin to Addon-warnings content to prevent shadow margin when empty.
  src/amo/pages/Addon/styles.scss
Due: stylelint

Fix inner gap between theme preview image and addon info (title/description)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Use readable grid area names
  src/amo/pages/Addon/styles.scss
Due: stylelint

Fix icon spacing on RTL using appropriate abstract specifiers.
  src/amo/pages/Addon/styles.scss
Due: stylelint

AddonBadges aligned to start of flex container.
  src/amo/components/AddonBadges/styles.scss
Due: stylelint

Add fix for static themes on StaticAddonCard fixing alignment of rpeview image and right aligned badges.
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint

Prevent laoding button from collapsing to fixed width
  src/amo/pages/Addon/styles.scss
Due: stylelint

Remove GetFirefoxCallout as it totally breaks the layout and is absolutely not worth it.
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Add some tests.
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Revert "Remove GetFirefoxCallout as it totally breaks the layout and is absolutely not worth it."
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Several concurrent bug fixes related to shipping of AddonHeader changes. (#13655)
  src/amo/components/AddonBadges/index.js
  src/amo/components/AddonBadges/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Dutch (nl)
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update German (de)
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

add fi and nb-NO to supported locales
  config/default.js
Due: prettier --write, eslint

add fi and nb-NO to supported locales (#13681)
  config/default.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
