Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Update styles.scss
  src/amo/pages/AddonInfo/styles.scss
Due: stylelint --syntax scss

show tags in addon more info component (#10798)
  src/amo/components/AddonMoreInfo/index.js
  src/amo/pages/AddonInfo/styles.scss
  src/amo/types/addons.js
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint, stylelint --syntax scss

Remember the dismissed status of the VPN Promo Banner
  src/amo/components/VPNPromoBanner/index.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/VPNPromoBanner/index.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint

Fixing rendering issue
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Adjust building list of related categories
  src/amo/components/AddonMoreInfo/index.js
  src/amo/reducers/categories.js
  tests/unit/amo/reducers/test_categories.js
Due: prettier --write, eslint

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.16.0
  package.json
  yarn.lock
Due: none

Remember the dismissed status of the VPN Promo Banner (#10787)
  src/amo/components/VPNPromoBanner/index.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Use variable utm_campaign for attribution
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO Frontend
  locale/sq/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Update dependency jsdom to v16.7.0
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
