Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Add more test coverage for the feedback pages
  src/amo/pages/AddonFeedback/index.js
  src/amo/pages/RatingFeedback/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Add more test coverage for the feedback pages (#12598)
  src/amo/pages/AddonFeedback/index.js
  src/amo/pages/RatingFeedback/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

fixes
  src/amo/client/base.js
Due: prettier --write, eslint

fixes
  tests/unit/amo/components/TestAMInstallButton.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

fixes
  tests/setup.js
Due: prettier --write, eslint

Add reducer/saga/api logic for reporting a collection (#12595)
  package.json
  src/amo/api/abuse.js
  src/amo/reducers/collectionAbuseReports.js
  src/amo/sagas/collectionAbuseReports.js
  src/amo/sagas/index.js
  src/amo/store.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/reducers/test_collectionAbuseReports.js
  tests/unit/amo/sagas/test_collectionAbuseReports.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Fix add-on rating stars in feedback form
  src/amo/components/AddonFeedbackForm/index.js
Due: prettier --write, eslint

Fix add-on rating stars in feedback form (#12600)
  src/amo/components/AddonFeedbackForm/index.js
Due: prettier --write, eslint

Make name/email input fields required
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

Pin fonttools for now
  .circleci/config.yml
Due: none

Make name/email input fields required (#12602)
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

Pin fonttools for now (#12604)
  .circleci/config.yml
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Albanian (sq) localization of AMO Frontend
  locale/sq/LC_MESSAGES/amo.po
Due: none

Allow unauthenticated users to flag user reviews
  src/amo/components/FlagReview/index.js
  src/amo/components/FlagReview/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/TooltipMenu/styles.scss
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Allow unauthenticated users to flag user reviews (#12589)
  src/amo/components/FlagReview/index.js
  src/amo/components/FlagReview/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/TooltipMenu/styles.scss
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint, stylelint

Update confirmation message after a report is submitted
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/ReportUserAbuse/index.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestUserProfile.js
Due: prettier --write, eslint

Introduce new page for collection feedback
  src/amo/components/Routes/index.js
  src/amo/pages/CollectionFeedback/index.js
  src/amo/pages/CollectionFeedback/styles.scss
  tests/unit/amo/pages/TestCollectionFeedback.js
Due: prettier --write, eslint, stylelint

Add link to the feedback form on the collection page
  src/amo/pages/Collection/index.js
  src/amo/pages/Collection/styles.scss
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestCollectionFeedback.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Update confirmation message after a report is submitted (#12608)
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/ReportUserAbuse/index.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestUserProfile.js
Due: prettier --write, eslint
