Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Updated addonType to constants
  src/amo/components/HomepageShelves/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Fix invalid variable in locale/ia/LC_MESSAGES/amo.po (#10461)
  locale/ia/LC_MESSAGES/amo.po
Due: none

Fix wrapping menu items, again
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

Removed unnecessary const's
  src/amo/components/HomepageShelves/index.js
  tests/unit/amo/components/TestHomepageShelves.js
Due: prettier --write, eslint

Fix wrapping menu items, again (#10460)
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

RE: Add addonType property to homepage shelves (#10439)
  src/amo/components/HomepageShelves/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Fix padding on versions page
  src/amo/pages/AddonVersions/styles.scss
Due: stylelint --syntax scss

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Fix padding on versions page (#10465)
  src/amo/pages/AddonVersions/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Disable download_cta_experiment in all envs
  config/default.js
Due: prettier --write, eslint

Set utm_campaign to non-fx-button on downlowd FF buttons
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Two fixes for RTAMO (#10471)
  config/default.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Update dependency core-js to v3.11.0
  package.json
  yarn.lock
Due: none

Use addons-moz-compare
  package.json
  src/amo/utils/compatibility.js
  yarn.lock
Due: prettier --write, eslint

Use font-display: swap except on larger (>= 1150px) screens
  src/amo/css/inc/mixins.scss
  src/fonts/inter.scss
Due: stylelint --syntax scss

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

fix comment
  src/amo/utils/compatibility.js
Due: prettier --write, eslint

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Update dependency redux to v4.1.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none
