Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Make LanguagePicker less "compact"
  src/amo/components/LanguagePicker/styles.scss
Due: stylelint --syntax scss

Clean up line-heights (#10467)
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonReviewManagerRating/styles.scss
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/AutoSearchInput/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/Header/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/LoadingText/styles.scss
  src/amo/components/MetadataCard/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/ScreenShots/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/TooltipMenu/styles.scss
  src/amo/components/UserProfileEditNotifications/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/pages/AddonReviewList/styles.scss
  src/amo/pages/AddonVersions/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LandingPage/styles.scss
  src/amo/pages/UserProfile/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: stylelint --syntax scss

Reduce the number of font-sizes used by AMO
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/SectionLinks/styles.scss
  src/amo/components/TooltipMenu/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LanguageTools/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint --syntax scss

Prevent More... menu from overlapping search box
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Updated AddonSummaryCard-header styling. (#10502)
  src/amo/components/AddonSummaryCard/styles.scss
Due: stylelint --syntax scss

Fix spacing between badges
  src/amo/components/Badge/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Fix spacing between badges (#10548)
  src/amo/components/Badge/styles.scss
Due: stylelint --syntax scss

Update dependency rc-tooltip to v5.1.1
  package.json
  yarn.lock
Due: none

Align items in autocomplete results (#10542)
  src/amo/components/SearchSuggestion/styles.scss
Due: stylelint --syntax scss

Remove icons on install buttons
  src/amo/components/AMInstallButton/index.js
  src/amo/components/AMInstallButton/styles.scss
  tests/unit/amo/components/TestAMInstallButton.js
Due: prettier --write, eslint, stylelint --syntax scss

Remove unused icons
  src/amo/components/Icon/img/delete.svg
  src/amo/components/Icon/img/plus-dark.svg
  src/amo/components/Icon/img/plus.svg
  src/amo/components/Icon/styles.scss
Due: stylelint --syntax scss

Prevent More... menu from overlapping search box (#10546)
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Make LanguagePicker less "compact" (#10544)
  src/amo/components/LanguagePicker/styles.scss
Due: stylelint --syntax scss

Fix TooltipMenu on small screens
  src/amo/components/UserReview/styles.scss
Due: stylelint --syntax scss

Update Node.js to v15
  .circleci/config.yml
Due: none

Update Node.js to v16
  Dockerfile
Due: none

Fix TooltipMenu on small screens (#10552)
  src/amo/components/UserReview/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

use children()
  tests/unit/amo/components/TestAMInstallButton.js
Due: prettier --write, eslint

Remove icons on install buttons (#10551)
  src/amo/components/AMInstallButton/index.js
  src/amo/components/AMInstallButton/styles.scss
  src/amo/components/Icon/img/delete.svg
  src/amo/components/Icon/img/plus-dark.svg
  src/amo/components/Icon/img/plus.svg
  src/amo/components/Icon/styles.scss
  tests/unit/amo/components/TestAMInstallButton.js
Due: prettier --write, eslint, stylelint --syntax scss

Tweak unicode-range and drop unused weight values from Inter variable font
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.woff2
  src/fonts/woff2/Inter-roman.var.woff2
Due: stylelint --syntax scss

Update react monorepo to v17
  package.json
  yarn.lock
Due: none

Update dependency lint-staged to v11
  package.json
  yarn.lock
Due: none

Set font-weight according to what's in the file and drop non-variable fonts
  src/amo/css/inc/mixins.scss
  src/fonts/inter.scss
Due: stylelint --syntax scss

Remove the non-variable fonts from the repo completely
  src/fonts/otf/Inter-Bold.otf
  src/fonts/otf/Inter-BoldItalic.otf
  src/fonts/otf/Inter-Italic.otf
  src/fonts/otf/Inter-Light.otf
  src/fonts/otf/Inter-LightItalic.otf
  src/fonts/otf/Inter-Medium.otf
  src/fonts/otf/Inter-MediumItalic.otf
  src/fonts/otf/Inter-Regular.otf
  src/fonts/woff2/Inter-Bold.woff2
  src/fonts/woff2/Inter-BoldItalic.woff2
  src/fonts/woff2/Inter-Italic.woff2
  src/fonts/woff2/Inter-Light.woff2
  src/fonts/woff2/Inter-LightItalic.woff2
  src/fonts/woff2/Inter-Medium.woff2
  src/fonts/woff2/Inter-MediumItalic.woff2
  src/fonts/woff2/Inter-Regular.woff2
  src/fonts/woff2/Inter-italic.var.woff2
Due: none

Woops, didn't mean to remove that one.
  src/fonts/woff2/Inter-italic.var.woff2
Due: none

Update dependency css-minimizer-webpack-plugin to v2
  package.json
  yarn.lock
Due: none

Update dependency node-sass to v6
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.12.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Update dependency prettier to v2.3.0
  package.json
  yarn.lock
Due: none

More detailed documentation for the fonts
  src/fonts/README
  src/fonts/inter.scss
Due: stylelint --syntax scss

pretier-ify README
  src/fonts/README
Due: none

Move fonts documentation to docs/fonds.md
  docs/fonts.md
  docs/index.md
  src/fonts/inter.scss
Due: stylelint --syntax scss

Address review comments
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint --syntax scss

Reduce the number of font-sizes used by AMO (#10539)
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/SectionLinks/styles.scss
  src/amo/components/TooltipMenu/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LanguageTools/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint --syntax scss

Fix truncation of tooltip items on small screens
  src/amo/components/TooltipMenu/styles.scss
Due: stylelint --syntax scss

Bump up margin instead of using align-self
  src/amo/components/Notice/styles.scss
Due: stylelint --syntax scss
