Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Test the image in PRs (will only work on non-forks, don't merge)
  .circleci/config.yml
Due: none

Missing checkout
  .circleci/config.yml
Due: none

Build first
  .circleci/config.yml
Due: none

Build & start in check image works step, rather than just start ; Wait accordingly.
  .circleci/config.yml
Due: none

Extracted l10n messages from 2025-01-07 at facb651d7
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-01-07 at 84ec18919
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-01-07 at 5c6019d75
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-01-07 at 69f1fcce8
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-01-07 at d8b0a9bfd
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-01-07 at 3bc8a20d2
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Don't specify a package name or version, this package is not published
  package.json
Due: none

Extracted l10n messages from 2025-01-08 at df411e109
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Don't specify a package name or version, this package is not published (#13396)
  package.json
Due: none

Extracted l10n messages from 2025-01-08 at 4917a3fa0
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-01-08 at ebc32b948
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Render addon summary as plaintext
  src/amo/components/SearchResult/index.js
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint

tests
  src/amo/pages/Addon/index.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

remove test
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

test
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

better test name
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Croatian (hr)
  locale/hr/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-01-22 at 2cf9b8d72
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon/AMO Frontend: Update 61 localizations
  locale/hr/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-01-22 at 2c1d277f4
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-01-22 at 66a3eb856
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-01-22 at 390538011
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Extracted l10n messages from 2025-01-22 at 25958345c
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Switch from node-sass (which is EOL) to sass-embedded
  package.json
  src/amo/css/inc/vars.scss
  yarn.lock
Due: stylelint

Pontoon/AMO Frontend: Update Catalan (ca)
  locale/ca/LC_MESSAGES/amo.po
Due: none

Extracted l10n messages from 2025-01-23 at 4ed320959
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Switch from node-sass (which is EOL) to sass-embedded (#13419)
  package.json
  src/amo/css/inc/vars.scss
  yarn.lock
Due: stylelint
