Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Try to satisfy codecov
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Danish (da)
  locale/da/LC_MESSAGES/amo.po
Due: none

linkify all user names on ratings list; handle an account response with undefined fields (#13503)
  src/amo/components/AddonReviewCard/index.js
  src/amo/pages/UserFeedback/index.js
  src/amo/pages/UserProfile/index.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/reducers/users.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

Change .ScreenShots-list `overflow-x` to `auto` (#13425)
  src/amo/components/ScreenShots/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Finnish (fi)
  locale/fi/LC_MESSAGES/amo.po
Due: none

Update browerlist
  yarn.lock
Due: none

Update browerlist (#13530)
  yarn.lock
Due: none

Account for non-developer profiles in feedback form
  src/amo/pages/UserFeedback/index.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

Move "Report this add-on" to "More information" section, make it a link
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonReportAbuseLink/index.js
  src/amo/components/AddonReportAbuseLink/styles.scss
  src/amo/components/RatingManager/index.js
  src/amo/components/ReportAbuseButton/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint, stylelint

Cleanup
  src/amo/components/AddonReportAbuseLink/index.js
Due: prettier --write, eslint

It's a static string, don't need to call makeClassName
  src/amo/components/AddonReportAbuseLink/index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Account for non-developer profiles in feedback form (#13532)
  src/amo/pages/UserFeedback/index.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint
