Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Update dependency typescript to v4.4.2
  package.json
  yarn.lock
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Urdu (ur) localization of AMO Frontend
  locale/ur/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.16.4
  package.json
  yarn.lock
Due: none

Fix loosing focus from flag review menu items
  .eslintrc
  src/amo/components/FlagReview/index.js
  src/amo/components/FlagReviewMenu/index.js
Due: prettier --write, eslint

Updated primary hero loading skeleton and test
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/HeroRecommendation/styles.scss
  tests/unit/amo/components/TestHeroRecommendation.js
Due: prettier --write, eslint, stylelint --syntax scss

Fixed inefficiency within renderHeroTitle
  src/amo/components/HeroRecommendation/index.js
Due: prettier --write, eslint

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Add utm params to URLs
  bin/fenix-qr-codes.js
Due: prettier --write, eslint

Update dependency core-js to v3.17.0
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.17.1
  package.json
  yarn.lock
Due: none

Write qr codes to a folder within dist
  bin/fenix-qr-codes.js
Due: prettier --write, eslint

Create utility to generate QR codes for android extensions (#10855)
  .circleci/config.yml
  bin/fenix-qr-codes.js
  package.json
  yarn.lock
Due: prettier --write, eslint

Update dependency core-js to v3.17.2
  package.json
  yarn.lock
Due: none

Update dependency node-fetch to v3
  package.json
  yarn.lock
Due: none

Update dependency hot-shots to v8.5.1
  package.json
  yarn.lock
Due: none

Add workaround to allow node-fetch esm import
  bin/fenix-qr-codes.js
Due: prettier --write, eslint

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

test: Retain focus inside flag review menu
  tests/unit/amo/components/TestFlagReview.js
  tests/unit/amo/components/TestFlagReviewMenu.js
Due: prettier --write, eslint

Pontoon: Update Japanese (ja) localization of AMO Frontend
  locale/ja/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Asturian (ast) localization of AMO Frontend
  locale/ast/LC_MESSAGES/amo.po
Due: none

Updated image loading indicator
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/HeroRecommendation/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency pino to v6.13.2
  package.json
  yarn.lock
Due: none

Pontoon: Update Spanish (es) localization of AMO Frontend
  locale/es/LC_MESSAGES/amo.po
Due: none

Revised unit for loading image
  src/amo/components/HeroRecommendation/styles.scss
Due: stylelint --syntax scss

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

RE: Update Primary Hero loading skeleton to reflect a hero with an image (#10868)
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/HeroRecommendation/styles.scss
  tests/unit/amo/components/TestHeroRecommendation.js
Due: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
