Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

done requested changes
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

removed unused CSS
  src/amo/components/InstallButtonWrapper/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint, stylelint --syntax scss

forgot running linter
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

Fix Primary Hero External prop to deal with l10n
  src/amo/components/HeroRecommendation/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHeroRecommendation.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Add l10n support to Block
  src/amo/pages/Block/index.js
  src/amo/reducers/blocks.js
  tests/unit/amo/pages/TestBlock.js
  tests/unit/amo/reducers/test_blocks.js
Due: prettier --write, eslint

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Add l10n support to Block (#10018)
  src/amo/pages/Block/index.js
  src/amo/reducers/blocks.js
  tests/unit/amo/pages/TestBlock.js
  tests/unit/amo/reducers/test_blocks.js
Due: prettier --write, eslint

Add mock assertion back into tests
  tests/unit/amo/components/TestHeroRecommendation.js
Due: prettier --write, eslint

Fix Primary Hero External prop to deal with l10n (#10017)
  src/amo/components/HeroRecommendation/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHeroRecommendation.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Update dependency html-entities to v2.0.3
  package.json
  yarn.lock
Due: none

Add docs about Fenix custom builds
  docs/fenix.md
  docs/index.md
Due: none

Add note about outputs dir
  docs/fenix.md
Due: none

update
  docs/fenix.md
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Add docs about Fenix custom builds (#10021)
  docs/fenix.md
  docs/index.md
Due: none

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Lock file maintenance
  yarn.lock
Due: none

Update dependency html-entities to v2.0.6
  package.json
  yarn.lock
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Update Node.js to v10.23.2
  .nvmrc
Due: none

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

Update dependency react-onclickoutside to v6.10.0
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
