Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

static addon card
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
Due: prettier --write, eslint, stylelint

Fixes
  src/amo/components/AddonBadges/index.js
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
Due: prettier --write, eslint, stylelint

Stop flipping badge direction and minor style tweak to badge padding, border radius
  src/amo/components/Badge/styles.scss
Due: stylelint

Adjust rating card layout and show rating breakdown
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/Rating/styles.scss
  src/amo/components/RatingManager/index.js
  src/amo/components/RatingManager/styles.scss
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Add some tests.
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Enhance RatingManager layout with grid display and add label for rating prompt
  src/amo/components/RatingManager/index.js
  src/amo/components/RatingManager/styles.scss
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

simplify header code in Addon card; localize "Click to Rate"
  src/amo/components/Rating/styles.scss
  src/amo/components/RatingManager/index.js
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Only show rating card content if "showRating" is true. This avoids rendering empty divs that create arbitrary gap in the layout
  src/amo/components/UserReview/index.js
Due: prettier --write, eslint

Allow rating label "click to review" to wrap" prevents breaking words mid statement
  src/amo/components/RatingManager/styles.scss
Due: stylelint

Better handling of gap/spacing within the RatingManager and RatingCard using tighter padding and explicit gap spacing.
  src/amo/components/RatingManager/styles.scss
  src/amo/pages/Addon/styles.scss
Due: stylelint

add a consistent gap around rating review buttons/ui
  src/amo/components/RatingManager/styles.scss
Due: stylelint

Make more information card multi-column; include add to collection input
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/AddonAuthorLinks/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Fix type issue with DefinitionList
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/AddonMoreInfo/index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
Due: none

rework components to not return Definition to make Flow happy
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/DefinitionList/index.js
  tests/unit/amo/components/TestDefinitionList.js
Due: prettier --write, eslint

add flex-wrap, to account for smaller RatingManager widths
  src/amo/components/RatingManager/styles.scss
Due: stylelint

Adjust rating card layout and show rating breakdown (#13661)
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/Rating/styles.scss
  src/amo/components/RatingManager/index.js
  src/amo/components/RatingManager/styles.scss
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)
  locale/cs/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Fix icon spacing on RTL using appropriate abstract specifiers.
  src/amo/pages/Addon/styles.scss
Due: stylelint

Add fix for static themes on StaticAddonCard fixing alignment of rpeview image and right aligned badges.
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint

Add text wrapping to badge content (for suppppper small screens)
  src/amo/components/Badge/styles.scss
Due: stylelint

Use readable grid area names
  src/amo/pages/Addon/styles.scss
Due: stylelint

Fix inner gap between theme preview image and addon info (title/description)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Remove GetFirefoxCallout as it totally breaks the layout and is absolutely not worth it.
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Add gap instead of margin to Addon-warnings content to prevent shadow margin when empty.
  src/amo/pages/Addon/styles.scss
Due: stylelint

Prevent laoding button from collapsing to fixed width
  src/amo/pages/Addon/styles.scss
Due: stylelint

AddonBadges aligned to start of flex container.
  src/amo/components/AddonBadges/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Dutch (nl), Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/amo.po
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update German (de)
  locale/de/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
