Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

chore(): fix i18n lint references
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonReviewCard/index.js
  src/amo/components/FeaturedAddonReview/index.js
  src/amo/components/Footer/index.js
  src/amo/components/HeadMetaTags/index.js
  src/amo/components/RatingManager/index.js
  src/amo/i18n/utils.js
  src/amo/pages/AddonInfo/index.js
  src/amo/pages/Collection/index.js
  src/amo/pages/UserProfile/index.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/reducers/versions.js
  src/amo/types/i18n.js
  tests/unit/amo/i18n/test_utils.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

chore(): initial i18next setup.
  package.json
  src/amo/client/base.js
  src/amo/components/App/index.js
  src/amo/components/Root/index.js
  src/amo/i18n/Provider.js
  src/amo/i18n/translate.js
  src/amo/i18next.js
  src/amo/server/base.js
  src/amo/types/i18n.js
  yarn.lock
Due: prettier --write, eslint

tmp: get it server side.
  package.json
  src/amo/client/base.js
  src/amo/components/App/index.js
  src/amo/components/ServerHtml/index.js
  src/amo/i18n/translate.js
  src/amo/i18next.js
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
  yarn.lock
Due: prettier --write, eslint

remove yellow banner from user profile edit page
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/styles.scss
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint, stylelint

remove fxa to mza datetime req
  src/amo/pages/UserProfileEdit/index.js
  src/amo/utils/fxa.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Pontoon: Update Punjabi (pa-IN) localization of AMO Frontend
  locale/pa_IN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

chore(): add react-intl package for translations
  package.json
  src/amo/client/base.js
  src/amo/components/App/index.js
  src/amo/components/Root/index.js
  src/amo/i18n/Provider.js
  src/amo/server/base.js
  src/blog-utils/index.js
  tests/unit/amo/components/TestRoot.js
  tests/unit/amo/i18n/TestProvider.js
  tests/unit/amo/i18n/test_translate.js
  tests/unit/helpers.js
  yarn.lock
Due: prettier --write, eslint

chore(): add extract and bundle from react-intl
  babel.config.js
  bin/test-extract
  formatter.js
  lang/en.json
  package.json
  src/amo/components/App/index.js
  src/amo/types/i18n.js
  yarn.lock
Due: prettier --write, eslint

tmp: test action
  .github/workflows/localization.yml
  babel.config.locales.js
  bin/locales.mjs
  package.json
  src/amo/components/AddAddonToCollection/index.js
  yarn.lock
Due: prettier --write, eslint

Remove fxa to mza notifications (#12784)
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/styles.scss
  src/amo/utils/fxa.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint, stylelint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Babel plugin to count react element rendering across our codebase
  babel-plugin-count-react-elements.json
  babel-plugin-count-react-elements/dist/plugin.d.ts
  babel-plugin-count-react-elements/dist/plugin.js
  babel-plugin-count-react-elements/dist/plugin.js.map
  babel-plugin-count-react-elements/package.json
  babel-plugin-count-react-elements/plugin.test.ts
  babel-plugin-count-react-elements/src/plugin.ts
  babel-plugin-count-react-elements/tsconfig.json
  babel-plugin-count-react-elements/yarn.lock
  exec.js
  package.json
  webpack.prod.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Add babel plugin to extract render body from class components.
  .eslintignore
  babel-plugin-extract-redux-page/.gitignore
  babel-plugin-extract-redux-page/fixtures/export_expression/code.js
  babel-plugin-extract-redux-page/fixtures/export_expression/output.js
  babel-plugin-extract-redux-page/fixtures/export_variable/code.js
  babel-plugin-extract-redux-page/fixtures/export_variable/output.js
  babel-plugin-extract-redux-page/fixtures/simple/code.js
  babel-plugin-extract-redux-page/fixtures/simple/output.js
  babel-plugin-extract-redux-page/fixtures/with_methods/code.js
  babel-plugin-extract-redux-page/fixtures/with_methods/output.js
  babel-plugin-extract-redux-page/fixtures/with_prop_types/code.js
  babel-plugin-extract-redux-page/fixtures/with_prop_types/output.js
  babel-plugin-extract-redux-page/fixtures/with_props/code.js
  babel-plugin-extract-redux-page/fixtures/with_props/output.js
  babel-plugin-extract-redux-page/fixtures/with_translate/code.js
  babel-plugin-extract-redux-page/fixtures/with_translate/output.js
  babel-plugin-extract-redux-page/package.json
  babel-plugin-extract-redux-page/plugin.test.ts
  babel-plugin-extract-redux-page/src/plugin.ts
  babel-plugin-extract-redux-page/tsconfig.json
  babel-plugin-extract-redux-page/yarn.lock
  exec.js
Due: prettier --write, eslint

Pontoon: Update Thai (th) localization of AMO Frontend
  locale/th/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Add Glean build script
  .gitignore
  package.json
  src/amo/glean.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Mark the 'location' field as required in the feedback form
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint
