Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

:arrow_up: release 0.9.0
  package.json
Due: none

added 'id' to 'Report an issue' section in about/index.js
  src/amo/pages/StaticPages/About/index.js
Due: prettier --write, eslint

added new line in No errors! ℹ No staged files match any configured task. to match with main file
  .husky/pre-commit
Due: none

Update dependency filesize to v6.2.5
  package.json
  yarn.lock
Due: none

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

changed older versions button to links
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
Due: prettier --write, eslint

Tests added for PR #9973
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

Removed button for other versions and test added.
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

const removed
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Right align the Download File button on the all versions page
  src/amo/pages/AddonVersions/styles.scss
Due: stylelint --syntax scss

changed older versions button to links (#10401)
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
  src/amo/pages/AddonVersions/styles.scss
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint, stylelint --syntax scss

Hide the GetFirefoxBanner on all pages from which an add-on can be installed
  src/amo/components/Header/index.js
  src/amo/components/Page/index.js
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonVersions/index.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Update dependency pino to v6.11.3
  package.json
  yarn.lock
Due: none

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Asturian (ast) localization of AMO Frontend
  locale/ast/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

rename prop for blog
  src/amo/components/Header/index.js
  src/amo/components/SectionLinks/index.js
  src/blog-utils/index.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestSectionLinks.js
Due: prettier --write, eslint

Do not prepend clientApp/locale in URLs of the Header when rendered for the blog
  src/amo/components/SectionLinks/index.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestSectionLinks.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Fixes errors in local
  locale/sk/LC_MESSAGES/amo.po
Due: none

Fix invalid variable in locale/sk/LC_MESSAGES/amo.po (#10410)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
