Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Ignore `platform` in files returned by the API (#10124)
  src/amo/components/AMInstallButton/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/permissions.js
  src/amo/installAddon.js
  src/amo/reducers/api.js
  src/amo/reducers/versions.js
  src/amo/utils/addons.js
  src/amo/utils/compatibility.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestAddonHead.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPermissionUtils.js
  tests/unit/amo/components/TestPermissionsCard.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/utils/test_addons.js
  tests/unit/amo/utils/test_compatibility.js
  tests/unit/amo/utils/test_index.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Update webpack-isomorphic-tools
  package.json
  yarn.lock
Due: none

Update dependency webpack-isomorphic-tools to v4
  package.json
  yarn.lock
Due: none

Update webpack-isomorphic-tools (#10141)
  package.json
  yarn.lock
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Replace photoswipe react lib
  jest.config.js
  package.json
  src/amo/components/ScreenShots/index.js
  src/amo/components/ScreenShots/styles.scss
  tests/unit/amo/components/TestScreenShots.js
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency react-textarea-autosize to v8.3.2
  package.json
  yarn.lock
Due: none

Disable webpack verbose output
  package.json
Due: none

fixes
  src/amo/components/ScreenShots/index.js
  tests/unit/amo/components/TestScreenShots.js
Due: prettier --write, eslint

Replace Photoswipe react library (#10144)
  jest.config.js
  package.json
  src/amo/components/ScreenShots/index.js
  src/amo/components/ScreenShots/styles.scss
  tests/unit/amo/components/TestScreenShots.js
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Disable webpack verbose output (#10151)
  package.json
Due: none

Remove sentry and related code
  README.md
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
  config/stage.js
  config/test.js
  package.json
  src/amo/client/base.js
  src/amo/components/Routes/index.js
  src/amo/middleware/datadogTiming.js
  src/amo/middleware/requestId.js
  src/amo/pages/error-simulation/SimulateClientError/index.js
  src/amo/server/base.js
  src/amo/utils/build.js
  src/amo/utils/sentry.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/middleware/test_datadogTiming.js
  tests/unit/amo/pages/error-simulation/TestSimulateClientError.js
  tests/unit/amo/utils/test_build.js
  tests/unit/amo/utils/test_sentry.js
  webpack-common.js
  yarn.lock
Due: prettier --write, eslint

Remove sentry and related code (#10153)
  README.md
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
  config/stage.js
  config/test.js
  package.json
  src/amo/client/base.js
  src/amo/components/Routes/index.js
  src/amo/middleware/datadogTiming.js
  src/amo/middleware/requestId.js
  src/amo/pages/error-simulation/SimulateClientError/index.js
  src/amo/server/base.js
  src/amo/utils/build.js
  src/amo/utils/sentry.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/middleware/test_datadogTiming.js
  tests/unit/amo/pages/error-simulation/TestSimulateClientError.js
  tests/unit/amo/utils/test_build.js
  tests/unit/amo/utils/test_sentry.js
  webpack-common.js
  yarn.lock
Due: prettier --write, eslint

Update dependency webpack to v5
  package.json
  yarn.lock
Due: none

Update SRI plugin
  package.json
  src/amo/server/sriDataPlugin.js
  tests/unit/amo/server/test_sriDataPlugin.js
  tests/unit/test_packageJson.js
  webpack.prod.config.babel.js
  yarn.lock
Due: prettier --write, eslint

replace css plugin
  package.json
  webpack.prod.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Remove grid option in autoprefixer()
  webpack-common.js
Due: prettier --write, eslint

update css loader
  package.json
  webpack-common.js
  yarn.lock
Due: prettier --write, eslint

remove json-loader (unused)
  package.json
  yarn.lock
Due: none

update sass-loader
  package.json
  yarn.lock
Due: none

fix hash -> chunkhash
  webpack.dev.config.babel.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

cleanup packageJson
  package.json
  tests/unit/test_packageJson.js
  yarn.lock
Due: prettier --write, eslint

stop Asset Module
  webpack-common.js
Due: prettier --write, eslint

Webpack v5 (#10108)
  package.json
  src/amo/server/sriDataPlugin.js
  tests/unit/amo/server/test_sriDataPlugin.js
  tests/unit/test_packageJson.js
  webpack-common.js
  webpack.dev.config.babel.js
  webpack.prod.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Fix/remove comment in Routes component
  src/amo/components/Routes/index.js
Due: prettier --write, eslint

Update dependency typescript to v4.2.3
  package.json
  yarn.lock
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Catalan (ca) localization of AMO Frontend
  locale/ca/LC_MESSAGES/amo.po
Due: none

Update dependency jsdom to v16.5.0
  package.json
  yarn.lock
Due: none

Fix/remove comment in Routes component (#10154)
  src/amo/components/Routes/index.js
Due: prettier --write, eslint

Update dependency stylelint-config-standard to v21
  package.json
  yarn.lock
Due: none

Update dependency pino-mozlog to v2.3.0
  package.json
  yarn.lock
Due: none

Update the version of stylelint as well, as it's needed by stylelint-config-standard
  package.json
  yarn.lock
Due: none

Bundle dependency updates for `stylelint` and `stylelint-config-standard
  renovate.json
Due: none

Update dependency config to v3.3.6
  package.json
  yarn.lock
Due: none

Remove SurveyNotice in AppBanner
  src/amo/components/AppBanner/index.js
  src/amo/components/SurveyNotice/index.js
  tests/unit/amo/components/TestAppBanner.js
Due: prettier --write, eslint
