Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Update dependency flow-bin to ^0.146.0
  package.json
  yarn.lock
Due: none

Make category pages indexable
  src/amo/components/Categories/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/SearchPage/index.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/pages/TestSearchPage.js
Due: prettier --write, eslint

Create a CategoryPage component
  src/amo/components/Categories/index.js
  src/amo/components/Routes/index.js
  src/amo/components/Search/index.js
  src/amo/components/SearchFilters/index.js
  src/amo/pages/CategoryPage/index.js
  src/amo/pages/Home/index.js
  src/amo/pages/SearchPage/index.js
  src/amo/pages/SearchTools/index.js
  src/amo/searchUtils.js
  src/amo/utils/categories.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/components/TestSearch.js
  tests/unit/amo/components/TestSearchFilters.js
  tests/unit/amo/pages/TestCategoryPage.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/pages/TestSearchTools.js
  tests/unit/amo/test_searchUtils.js
  tests/unit/amo/utils/test_categories.js
Due: prettier --write, eslint

Update page title and change route for category page
  src/amo/components/Routes/index.js
  src/amo/pages/CategoryPage/index.js
  src/amo/utils/categories.js
  tests/unit/amo/pages/TestCategoryPage.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/pages/TestSearchTools.js
  tests/unit/amo/utils/test_categories.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/SearchContextCard/index.js
  src/amo/components/SearchFilters/index.js
  src/amo/pages/CategoryPage/index.js
  src/amo/reducers/categories.js
  src/amo/utils/categories.js
  tests/unit/amo/components/TestSearchFilters.js
  tests/unit/amo/pages/TestSearchPage.js
Due: prettier --write, eslint

add loading="lazy" to detail page screenshot thumbs
  src/amo/components/ScreenShots/index.js
Due: prettier --write, eslint

add expect to component test
  tests/unit/amo/components/TestScreenShots.js
Due: prettier --write, eslint

WIP
  src/amo/server/base.js
Due: prettier --write, eslint

Simplify the approach
  src/amo/server/base.js
Due: prettier --write, eslint

add loading="lazy" to detail page screenshot thumbs (#10189)
  src/amo/components/ScreenShots/index.js
  tests/unit/amo/components/TestScreenShots.js
Due: prettier --write, eslint

Beginning of tests
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

some test progress, still need the redirections tests and fix the 404 test
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Address final review comments
  src/amo/components/Categories/index.js
  src/amo/pages/CategoryPage/index.js
  src/amo/pages/Home/index.js
  src/amo/pages/SearchTools/index.js
  src/amo/utils/categories.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/components/TestSearchFilters.js
  tests/unit/amo/pages/TestCategoryPage.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/utils/test_categories.js
Due: prettier --write, eslint

Fix error pages
  src/amo/server/base.js
Due: prettier --write, eslint

Update docs for running a build locally
  README.md
Due: none

delete unused font variants
  src/fonts/otf/Inter-Black.otf
  src/fonts/otf/Inter-BlackItalic.otf
  src/fonts/otf/Inter-ExtraBold.otf
  src/fonts/otf/Inter-ExtraBoldItalic.otf
  src/fonts/otf/Inter-ExtraLight.otf
  src/fonts/otf/Inter-ExtraLightItalic.otf
  src/fonts/otf/Inter-SemiBold.otf
  src/fonts/otf/Inter-SemiBoldItalic.otf
  src/fonts/otf/Inter-Thin.otf
  src/fonts/otf/Inter-ThinItalic.otf
  src/fonts/woff2/Inter-Black.woff2
  src/fonts/woff2/Inter-BlackItalic.woff2
  src/fonts/woff2/Inter-ExtraBold.woff2
  src/fonts/woff2/Inter-ExtraBoldItalic.woff2
  src/fonts/woff2/Inter-ExtraLight.woff2
  src/fonts/woff2/Inter-ExtraLightItalic.woff2
  src/fonts/woff2/Inter-SemiBold.woff2
  src/fonts/woff2/Inter-SemiBoldItalic.woff2
  src/fonts/woff2/Inter-Thin.woff2
  src/fonts/woff2/Inter-ThinItalic.woff2
Due: none

remove -amo suffix
  README.md
Due: none

refactor common font-family rule into mixin; drop unused
  src/amo/css/inc/mixins.scss
Due: stylelint --syntax scss

Cache prefixMiddleware 301 redirects for a long time
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Add test for redirect
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

drop the UX Mocks section of the README
  README.md
Due: none

simplify config for local production builds
  README.md
Due: none

Add constant for 31536000
  src/amo/constants.js
  src/amo/middleware/prefixMiddleware.js
  src/amo/middleware/security.js
Due: prettier --write, eslint

Comment explaining peek()
  src/amo/server/base.js
Due: prettier --write, eslint

Add constant for expected header in tests
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Address remaining comments
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

add local.js.dist
  README.md
  config/local.js.dist
Due: none

allow dist config files
  bin/config-check.js
Due: prettier --write, eslint

Update dependency dompurify to v2.2.7
  package.json
  yarn.lock
Due: none

Update dependency pino to v6.11.2
  package.json
  yarn.lock
Due: none

Update docs for running a build locally (#10192)
  README.md
  bin/config-check.js
  config/local.js.dist
Due: prettier --write, eslint

Add header to allow nginx to cache successful responses from anonymous requests (#10190)
  src/amo/constants.js
  src/amo/middleware/prefixMiddleware.js
  src/amo/middleware/security.js
  src/amo/server/base.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Update dependency jsdom to v16.5.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Update dependency web-vitals to v1.1.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none
