Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Update dependency stylelint-config-suitcss to v16
  package.json
  yarn.lock
Due: none

Revised style (small bullet), removed unnecessary prop/test
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonInfo/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint --syntax scss

Refactor withExperiment HOC to make it more predictable
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Update src/amo/withExperiment.js
  src/amo/withExperiment.js
Due: prettier --write, eslint

Refactor withExperiment HOC to make it more predictable (#10813)
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Update dependency redux to v4.1.1
  package.json
  yarn.lock
Due: none

Update dependency stylelint-config-suitcss to v17
  package.json
  yarn.lock
Due: none

Update Node versions in Circle config
  .circleci/config.yml
Due: none

Skip test to see if it is the only problem
  tests/unit/amo/sagas/test_users.js
Due: prettier --write, eslint

Update Node versions in Circle config (#10768)
  .circleci/config.yml
  tests/unit/amo/sagas/test_users.js
Due: prettier --write, eslint

Update dependency inter-ui to v3.19.3
  src/blog-utils/index.html
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Update moz-addon-manager.md
  docs/moz-addon-manager.md
Due: none

Render errors in UI, update/fix variables, added tests
  src/amo/components/AddonMoreInfo/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

Pontoon: Update Kabyle (kab) localization of AMO Frontend
  locale/kab/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Asturian (ast) localization of AMO Frontend
  locale/ast/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.16.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Set 'Access-Control-Allow-Origin: *' on /__version__
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Set 'Access-Control-Allow-Origin: *' on /__version__ (#10823)
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

add TagPageComponent
  src/amo/api/search.js
  src/amo/constants.js
  src/amo/pages/TagPage/index.js
  tests/unit/amo/pages/TestTagPage.js
Due: prettier --write, eslint

Use the AMO ID for reviewer links
  src/amo/components/AddonAdminLinks/index.js
  tests/unit/amo/components/TestAddonAdminLinks.js
Due: prettier --write, eslint

Revert order of information, added blank line, revised tests
  src/amo/components/AddonMoreInfo/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

Update tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

remove a category
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

fix categories
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

Add one more test case
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

RE: Add related categories to "More Info" section on add-on details (#10761)
  src/amo/components/AddonMoreInfo/index.js
  src/amo/pages/AddonInfo/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint, stylelint --syntax scss

Rename test variable
  tests/unit/amo/components/TestAddonAdminLinks.js
Due: prettier --write, eslint

Fix test
  tests/unit/amo/components/TestAddonAdminLinks.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
