Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Fix 11919
  Dockerfile
Due: none

Bump react-hot-loader, loader-utils
  package.json
  yarn.lock
Due: none

Bump react-hot-loader, loader-utils (#11926)
  package.json
  yarn.lock
Due: none

Manually set the ownership of the work directory
  Dockerfile
Due: none

Rename olympia_uid to app_uid
  Dockerfile
Due: none

Pontoon: Update Albanian (sq) localization of AMO Frontend
  locale/sq/LC_MESSAGES/amo.po
Due: none

Remove the yarn gpg file per review comment
  docker/etc/pki/yarnpkg.gpg.key
Due: none

Make it possible to run the image with a non-root user (#11924)
  Dockerfile
  docker/etc/pki/yarnpkg.gpg.key
Due: none

Make sure to keep docker/ directory
  docker/.gitkeep
Due: none

eslint --fix (react/jsx-no-useless-fragment)
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/Rating/index.js
  src/amo/pages/Home/index.js
Due: prettier --write, eslint

Fix some eslint errors
  .eslintrc
  src/amo/components/App/index.js
  src/amo/components/DropdownMenu/index.js
  src/amo/components/HostPermissions/index.js
  src/amo/components/MetadataCard/index.js
  src/amo/components/Rating/index.js
  src/amo/components/ServerHtml/index.js
  src/amo/errorHandler.js
Due: prettier --write, eslint

Add default value to actions in reducers to avoid triggering default-param-last eslint rule
  src/amo/reducers/abuse.js
  src/amo/reducers/addons.js
  src/amo/reducers/addonsByAuthors.js
  src/amo/reducers/api.js
  src/amo/reducers/autocomplete.js
  src/amo/reducers/blocks.js
  src/amo/reducers/categories.js
  src/amo/reducers/collections.js
  src/amo/reducers/errorPage.js
  src/amo/reducers/experiments.js
  src/amo/reducers/home.js
  src/amo/reducers/installations.js
  src/amo/reducers/landing.js
  src/amo/reducers/languageTools.js
  src/amo/reducers/recommendations.js
  src/amo/reducers/redirectTo.js
  src/amo/reducers/reviews.js
  src/amo/reducers/search.js
  src/amo/reducers/site.js
  src/amo/reducers/uiState.js
  src/amo/reducers/userAbuseReports.js
  src/amo/reducers/users.js
  src/amo/reducers/versions.js
  src/amo/reducers/viewContext.js
Due: prettier --write, eslint

eslint tests fixes
  tests/unit/amo/actions/test_reviews.js
  tests/unit/amo/api/test_index.js
  tests/unit/amo/client/test_config.js
  tests/unit/amo/components/TestAddAddonToCollection.js
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/components/TestCard.js
  tests/unit/amo/components/TestLink.js
  tests/unit/amo/components/TestRating.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/i18n/test_utils.js
  tests/unit/amo/pages/error-simulation/TestSimulateAsyncError.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_api.js
  tests/unit/amo/reducers/test_installations.js
  tests/unit/amo/sagas/test_autocomplete.js
  tests/unit/amo/sagas/test_index.js
  tests/unit/amo/server/test_WebpackAssetsFontsPlugin.js
  tests/unit/amo/server/test_sriDataPlugin.js
  tests/unit/amo/test_addonManager.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/utils/test_errors.js
  tests/unit/amo/utils/test_index.js
  tests/unit/helpers.js
  tests/unit/test_packageJson.js
  tests/unit/test_setup.js
Due: prettier --write, eslint

More eslint
  webpack-common.js
  webpack.l10n.config.babel.js
Due: prettier --write, eslint

Remove extra backtick
  webpack-common.js
Due: prettier --write, eslint

Some testing-library fixes
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestDropdownMenu.js
Due: prettier --write, eslint

Pontoon: Update Japanese (ja) localization of AMO Frontend
  locale/ja/LC_MESSAGES/amo.po
Due: none

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

s/whitelist/allowlist/ and update dennis
  tox.ini
Due: none

Minor dependency bump
  yarn.lock
Due: none

Minor dependency bump (#11938)
  yarn.lock
Due: none

Pontoon: Update Danish (da) localization of AMO Frontend
  locale/da/LC_MESSAGES/amo.po
Due: none

Adjust paginator to use api page_count
  src/amo/components/Paginate/index.js
  src/amo/components/Search/index.js
  src/amo/reducers/search.js
  src/amo/sagas/search.js
Due: prettier --write, eslint

Fix prettier failures
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/pages/UserProfileEdit/index.js
Due: prettier --write, eslint, stylelint

Reset state and avoid recomputing pageCount
  src/amo/components/Paginate/index.js
  src/amo/reducers/search.js
Due: prettier --write, eslint

Remove useless regexps
  tests/unit/amo/api/test_index.js
Due: prettier --write, eslint

Revert "Add default value to actions in reducers to avoid triggering default-param-last eslint rule"
  src/amo/reducers/abuse.js
  src/amo/reducers/addons.js
  src/amo/reducers/addonsByAuthors.js
  src/amo/reducers/api.js
  src/amo/reducers/autocomplete.js
  src/amo/reducers/blocks.js
  src/amo/reducers/categories.js
  src/amo/reducers/collections.js
  src/amo/reducers/errorPage.js
  src/amo/reducers/experiments.js
  src/amo/reducers/home.js
  src/amo/reducers/installations.js
  src/amo/reducers/landing.js
  src/amo/reducers/languageTools.js
  src/amo/reducers/recommendations.js
  src/amo/reducers/redirectTo.js
  src/amo/reducers/reviews.js
  src/amo/reducers/search.js
  src/amo/reducers/site.js
  src/amo/reducers/uiState.js
  src/amo/reducers/userAbuseReports.js
  src/amo/reducers/users.js
  src/amo/reducers/versions.js
  src/amo/reducers/viewContext.js
Due: prettier --write, eslint

disable eslint default-param-last on reducers state param
  src/amo/reducers/abuse.js
  src/amo/reducers/addons.js
  src/amo/reducers/addonsByAuthors.js
  src/amo/reducers/api.js
  src/amo/reducers/autocomplete.js
  src/amo/reducers/blocks.js
  src/amo/reducers/categories.js
  src/amo/reducers/collections.js
  src/amo/reducers/errorPage.js
  src/amo/reducers/experiments.js
  src/amo/reducers/home.js
  src/amo/reducers/installations.js
  src/amo/reducers/landing.js
  src/amo/reducers/languageTools.js
  src/amo/reducers/recommendations.js
  src/amo/reducers/redirectTo.js
  src/amo/reducers/reviews.js
  src/amo/reducers/search.js
  src/amo/reducers/site.js
  src/amo/reducers/uiState.js
  src/amo/reducers/userAbuseReports.js
  src/amo/reducers/users.js
  src/amo/reducers/versions.js
  src/amo/reducers/viewContext.js
Due: prettier --write, eslint

Add default index
  src/amo/components/MetadataCard/index.js
Due: prettier --write, eslint
