Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Add .husky folder to .gitignore (#10358)
  .gitignore
Due: none

Update the event category for the GetFirefoxBanner click
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
Due: prettier --write, eslint

Update dependency filesize to v6.2.1
  package.json
  yarn.lock
Due: none

Use new download button version in StaticAddonCard (blog-utils) (#10354)
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

:arrow_up: release 0.6.0
  package.json
Due: none

rewrite prefixMiddleware
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Address review comment
  src/amo/components/GetFirefoxButton/index.js
Due: prettier --write, eslint

Update the event category for the GetFirefoxBanner click (#10361)
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
Due: prettier --write, eslint

Update callout styles based on feedback
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Update callout styles based on feedback (#10365)
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Only write cookies on the client
  package.json
  src/amo/client/base.js
  src/amo/cookies.js
  src/amo/reducers/cookies.js
  src/amo/store.js
  src/amo/withExperiment.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Add unavailable state to the StaticAddonCard (blog-utils)
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Open URLs in a new tab
  src/amo/components/LandingAddonsCard/index.js
  tests/unit/amo/components/TestLandingAddonsCard.js
Due: prettier --write, eslint

Update dependency filesize to v6.2.2
  package.json
  yarn.lock
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Disable the current experiment on dev
  config/dev.js
Due: prettier --write, eslint
