Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Only display the VPN Promo Banner on the detail page for extensions
  src/amo/components/Page/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/Page/index.js
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

Only display the VPN Promo Banner on the detail page for extensions (#10778)
  src/amo/components/Page/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Limit the VPN Promo Experiment to users from specific regions and desktop only
  config/dev.js
  config/development.js
  src/amo/components/Page/index.js
  src/amo/components/VPNPromoBanner/index.js
  src/amo/experiments/20210714_amo_vpn_promo.js
  src/amo/reducers/api.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/experiments/test_20210714_amo_vpn_promo.js
Due: prettier --write, eslint

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Add space between title and link
  src/amo/components/Card/styles.scss
Due: stylelint --syntax scss

Address review comments
  config/dev.js
  config/development.js
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Romanian (ro) localization of AMO Frontend
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Update dependency pino to v6.13.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Japanese (ja) localization of AMO Frontend
  locale/ja/LC_MESSAGES/amo.po
Due: none

Limit the VPN Promo Experiment to users from specific regions and desktop only (#10782)
  config/dev.js
  config/development.js
  src/amo/components/Page/index.js
  src/amo/components/VPNPromoBanner/index.js
  src/amo/experiments/20210714_amo_vpn_promo.js
  src/amo/reducers/api.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/experiments/test_20210714_amo_vpn_promo.js
Due: prettier --write, eslint

Keep track of impression count and send it with click and dismiss events
  src/amo/components/VPNPromoBanner/index.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Fix coverage issue
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint

RE: Fix title and footer text within homepage shelves (isHomepageCard props) (#10666)
  src/amo/components/AddonsCard/index.js
  src/amo/components/Card/index.js
  src/amo/components/Card/styles.scss
  src/amo/components/HomepageShelves/index.js
  src/amo/components/LandingAddonsCard/index.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestCard.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/components/TestLandingAddonsCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Address code coverage issues with addonManager and installAddon (#10764)
  src/amo/addonManager.js
  src/amo/components/AMInstallButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/installAddon.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
