Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Fixes for footerLink
  src/amo/components/HomepageShelves/index.js
  src/amo/components/LandingAddonsCard/index.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/components/TestLandingAddonsCard.js
Due: prettier --write, eslint

Address review comment from Lisa
  src/amo/sagas/home.js
Due: prettier --write, eslint

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Update dependency qs to v6.10.0
  package.json
  yarn.lock
Due: none

Removed button for other versions and test added.
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Update CSP to include /static/ path for frontend files
  config/default.js
  config/dev.js
  config/stage.js
  tests/unit/amo/middleware/test_cspMiddleware.js
Due: prettier --write, eslint

Rename statsd config parameters
  config/custom-environment-variables.json
  config/default.js
  src/amo/middleware/responseTime.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Bump up default font sizes, and fix Download file button
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/CollectionDetails/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/components/SearchContextCard/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SectionLinks/styles.scss
  src/amo/components/StaticPage/styles.scss
  src/amo/components/TooltipMenu/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LandingPage/styles.scss
  src/amo/pages/LanguageTools/styles.scss
  src/amo/pages/UserProfile/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: stylelint --syntax scss

Update dependency flow-bin to ^0.147.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Japanese (ja) localization of AMO Frontend
  locale/ja/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Update dependency qs to v6.10.1
  package.json
  yarn.lock
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Use .debug() for responseTime log statements
  src/amo/middleware/responseTime.js
Due: prettier --write, eslint

lazy load theme search result images
  src/amo/components/SearchResult/index.js
  tests/unit/amo/components/TestSearchResult.js
Due: prettier --write, eslint

add more assertions
  tests/unit/amo/middleware/test_cspMiddleware.js
Due: prettier --write, eslint

Update CSP to include /static/ path for frontend files (#10239)
  config/default.js
  config/dev.js
  config/stage.js
  tests/unit/amo/middleware/test_cspMiddleware.js
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Use .debug() for responseTime log statements (#10245)
  src/amo/middleware/responseTime.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/css/inc/vars.scss
Due: stylelint --syntax scss

Bump up default font sizes, and fix Download file button (#10241)
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/CollectionDetails/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/components/SearchContextCard/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SectionLinks/styles.scss
  src/amo/components/StaticPage/styles.scss
  src/amo/components/TooltipMenu/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LandingPage/styles.scss
  src/amo/pages/LanguageTools/styles.scss
  src/amo/pages/UserProfile/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: stylelint --syntax scss

Rename statsd config parameters (#10240)
  config/custom-environment-variables.json
  config/default.js
  src/amo/middleware/responseTime.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Update dependency sinon to v10
  package.json
  yarn.lock
Due: none

Fix the wrapping issue for flag on review component (#10208)
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/FlagReviewMenu/styles.scss
  tests/unit/amo/components/TestFlagReviewMenu.js
Due: prettier --write, eslint, stylelint --syntax scss

rm blank line
  tests/unit/amo/components/TestSearchResult.js
Due: prettier --write, eslint

lazy load theme search result images (#10247)
  src/amo/components/SearchResult/index.js
  tests/unit/amo/components/TestSearchResult.js
Due: prettier --write, eslint

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

Make more space for the navigation links at smaller screen resolutions
  src/amo/components/Header/styles.scss
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

Add a comment
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

Revert change to default line-height
  src/amo/css/inc/vars.scss
Due: stylelint --syntax scss

Switch to 1.2 for default line-height
  src/amo/css/inc/vars.scss
Due: stylelint --syntax scss

Revert change to default line-height (#10261)
  src/amo/css/inc/vars.scss
Due: stylelint --syntax scss

Don't shrink search field on mobile
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
  tests/unit/amo/components/TestHeader.js
Due: prettier --write, eslint, stylelint --syntax scss

Hide Workshop and DevHub links for non-Firefox users
  src/amo/components/Header/index.js
  tests/unit/amo/components/TestHeader.js
Due: prettier --write, eslint

More minor fixes
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Hide Workshop and DevHub links for non-Firefox users (#10262)
  src/amo/components/Header/index.js
  tests/unit/amo/components/TestHeader.js
Due: prettier --write, eslint
