Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Update src/amo/utils/server.js
  src/amo/utils/server.js
Due: prettier --write, eslint

Address review comments
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Use Jest mock instead of sinon
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Catch fetch failures and return a 500 status
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Update dependency flow-bin to ^0.168.0
  package.json
  yarn.lock
Due: none

Rename routes to __frontend_xx
  config/default.js
  src/amo/server/base.js
Due: prettier --write, eslint

Prettier fix for GitHub suggested change
  src/amo/utils/server.js
Due: prettier --write, eslint

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Implement __heartbeat__ and __lbheartbeat__ (#11061)
  config/default.js
  src/amo/server/base.js
  src/amo/utils/server.js
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Update dependency express to v4.17.2
  package.json
  yarn.lock
Due: none

Update dependency pino to v7.6.0
  package.json
  yarn.lock
Due: none

Fix class-object-subtyping Flow errors
  .eslintrc
  src/amo/api/index.js
  src/amo/reducers/errorPage.js
Due: prettier --write, eslint

Ignore method-unbinding errors, to allow upgrade.
  src/amo/components/Rating/index.js
  src/amo/i18n/utils.js
  src/amo/tracking.js
  src/amo/utils/index.js
Due: prettier --write, eslint

Ignore cannot-read error, for now.
  src/amo/addonManager.js
Due: prettier --write, eslint

Fix lint error
  tests/unit/helpers.js
Due: prettier --write, eslint

Update dependency eslint-plugin-promise to v6
  package.json
  yarn.lock
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Update dependency pretty-quick to v3.1.3
  package.json
  yarn.lock
Due: none

Update dependency prop-types to v15.8.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.20.2
  package.json
  yarn.lock
Due: none

Update dependency pino to v7.6.2
  package.json
  yarn.lock
Due: none

Update dependency concurrently to v7
  package.json
  yarn.lock
Due: none

Update dependency helmet to v5
  package.json
  yarn.lock
Due: none

Update download Firefox links to use the direct link
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Retain dim color of concurrently prefix
  package.json
Due: none

Don't use Helmet's defaults for CSP, which is how things were configured before this update
  config/default.js
  config/dev.js
  config/development.js
  config/stage.js
Due: prettier --write, eslint

Update download Firefox links to use the direct link (#11071)
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Remove reviewer_name
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/styles.scss
  src/amo/reducers/users.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint, stylelint

Update dependency prop-types to v15.8.1
  package.json
  yarn.lock
Due: none

Remove reviewer_name (#11074)
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/styles.scss
  src/amo/reducers/users.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint, stylelint

:arrow_up: release 0.31.0
  package.json
Due: none

Update the list of addonIdsWithQRCodes
  config/default.js
  src/amo/components/AddonQRCode/img/844320.png
Due: prettier --write, eslint

Update dependency flow-bin to ^0.169.0
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
