Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Update statsd keys in responseTime middleware
  src/amo/middleware/responseTime.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Update statsd keys in responseTime middleware (#10230)
  src/amo/middleware/responseTime.js
  tests/unit/amo/middleware/test_responseTime.js
Due: prettier --write, eslint

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Generate files in dist/static/ (#10221)
  package.json
  webpack.dev.config.babel.js
  webpack.prod.config.babel.js
Due: prettier --write, eslint

Pontoon: Update Bulgarian (bg) localization of AMO Frontend
  locale/bg/LC_MESSAGES/amo.po
Due: none

Add the post-write hook to run linters
  .huskyrc
Due: none

Updated heroShelves to homeShelves in helpers/stories/tests
  tests/unit/amo/api/test_homeShelves.js
  tests/unit/amo/components/TestHeroRecommendation.js
  tests/unit/amo/components/TestSecondaryHero.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Updated Collection and Home pages/tests, home and versions reducers/tests, home saga, helpers
  src/amo/pages/Collection/index.js
  src/amo/pages/Home/index.js
  src/amo/reducers/home.js
  src/amo/reducers/versions.js
  src/amo/sagas/home.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/helpers.js
Due: prettier --write, eslint

WIP - created homepage shelves api/component, update pages/reducers/saga
  src/amo/api/homeShelves.js
  src/amo/components/HomepageShelves/index.js
  src/amo/components/HomepageShelves/styles.scss
  src/amo/pages/Home/index.js
  src/amo/reducers/home.js
  src/amo/sagas/home.js
Due: prettier --write, eslint, stylelint --syntax scss

Draft - Home/Version reducers, sagas, sagas/test_home, tests/unit/helpers
  src/amo/reducers/home.js
  src/amo/reducers/versions.js
  src/amo/sagas/home.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

amo/components/HomepageShelves - revised order of imports, i18n (InternalProps), className, footerLink, footerText, header ('-'), isTheme prop
  src/amo/components/HomepageShelves/index.js
Due: prettier --write, eslint

amo/sagas/home.js - WIP - added desktop/mobile back in
  src/amo/sagas/home.js
Due: prettier --write, eslint

flow check
  src/amo/components/HomepageShelves/index.js
Due: prettier --write, eslint

Updated HomepageShelves component
  src/amo/components/HomepageShelves/index.js
  src/amo/pages/Home/index.js
Due: prettier --write, eslint

Updated home reducers/helper - footer
  src/amo/reducers/home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

amo/pages/Collection/index.js - revised addonInstallSource to INSTALL_SOURCE_COLLECTION
  src/amo/pages/Collection/index.js
Due: prettier --write, eslint

Updates based on feedback
  src/amo/components/HomepageShelves/index.js
  src/amo/pages/Home/index.js
  src/amo/reducers/versions.js
Due: prettier --write, eslint

Updates based on feedback
  src/amo/components/HomepageShelves/index.js
  src/amo/pages/Home/index.js
  src/amo/reducers/home.js
Due: prettier --write, eslint

Updating tests, and more
  src/amo/reducers/home.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Update based on feedback
  src/amo/components/HomepageShelves/styles.scss
Due: stylelint --syntax scss

Updates based on feedback
  src/amo/components/HomepageShelves/index.js
  src/amo/components/HomepageShelves/styles.scss
  src/amo/pages/Home/index.js
  src/amo/reducers/home.js
  src/amo/reducers/versions.js
  src/amo/sagas/home.js
Due: prettier --write, eslint, stylelint --syntax scss

Updated saga to include homeShelves for mobile homepage logic
  src/amo/sagas/home.js
Due: prettier --write, eslint

Updates based on feedback
  src/amo/components/HomepageShelves/index.js
  src/amo/components/HomepageShelves/styles.scss
  src/amo/components/LandingAddonsCard/index.js
Due: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Fix the link to developer policies in footer
  bin/loading-page.html
  src/amo/components/Footer/index.js
  tests/unit/amo/components/TestFooter.js
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Fix the link to developer policies in footer (#10226)
  bin/loading-page.html
  src/amo/components/Footer/index.js
  tests/unit/amo/components/TestFooter.js
Due: prettier --write, eslint

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Kabyle (kab) localization of AMO Frontend
  locale/kab/LC_MESSAGES/amo.po
Due: none

More test updates
  src/amo/components/HomepageShelves/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/reducers/home.js
  src/amo/sagas/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint
