Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Romanian (ro) localization of AMO Frontend
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Disable the experiment in the test config
  config/test.js
Due: prettier --write, eslint

Mock tracking in the test suites where it is causing a problem because of the experiment
  config/test.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Update dependency pino to v6.12.0
  package.json
  yarn.lock
Due: none

Update dependency filesize to v7
  package.json
  yarn.lock
Due: none

Remove InfoDialog and associated code
  src/amo/addonManager.js
  src/amo/components/InfoDialog/index.js
  src/amo/components/InfoDialog/styles.scss
  src/amo/components/Page/index.js
  src/amo/installAddon.js
  src/amo/reducers/infoDialog.js
  src/amo/store.js
  tests/unit/amo/components/TestInfoDialog.js
  tests/unit/amo/reducers/test_infoDialog.js
  tests/unit/amo/test_addonManager.js
  tests/unit/amo/test_installAddon.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint --syntax scss

Remove InfoDialog and associated code (#10760)
  src/amo/addonManager.js
  src/amo/components/InfoDialog/index.js
  src/amo/components/InfoDialog/styles.scss
  src/amo/components/Page/index.js
  src/amo/installAddon.js
  src/amo/reducers/infoDialog.js
  src/amo/store.js
  tests/unit/amo/components/TestInfoDialog.js
  tests/unit/amo/reducers/test_infoDialog.js
  tests/unit/amo/test_addonManager.js
  tests/unit/amo/test_installAddon.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint --syntax scss

Remove unnecessary imports
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Enable download funnel experiment on stage and prod (#10754)
  config/default.js
  config/dev.js
  config/development.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Address code coverage issues with addonManager and installAddon
  src/amo/addonManager.js
  src/amo/components/AMInstallButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/installAddon.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Fix truncation problem in edges on add-on reviews
  src/amo/components/UserReview/styles.scss
Due: stylelint --syntax scss

Upgrade to node v14
  Dockerfile
Due: none

Upgrade to node v14 (#10766)
  Dockerfile
Due: none

Update README.md
  README.md
Due: none

Update Node versions in Circle config
  .circleci/config.yml
Due: none

Update README.md (#10767)
  README.md
Due: none

Pontoon: Update Japanese (ja) localization of AMO Frontend
  locale/ja/LC_MESSAGES/amo.po
Due: none

Document our caching strategy
  docs/caching.md
Due: none

Prettier
  docs/caching.md
Due: none

Implement a VPN Promo banner
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/Page/index.js
  src/amo/components/VPNPromoBanner/img/mozilla-vpn.svg
  src/amo/components/VPNPromoBanner/img/x-close-black.svg
  src/amo/components/VPNPromoBanner/index.js
  src/amo/components/VPNPromoBanner/styles.scss
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint, stylelint --syntax scss

Fix truncation problem in edges on add-on reviews (#10765)
  src/amo/components/UserReview/styles.scss
Due: stylelint --syntax scss

Address review comments
  src/amo/components/VPNPromoBanner/index.js
  src/amo/components/VPNPromoBanner/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency hot-shots to v8.5.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Kabyle (kab) localization of AMO Frontend
  locale/kab/LC_MESSAGES/amo.po
Due: none

Update dependency schema-utils to v3.1.1
  package.json
  yarn.lock
Due: none

Removed @extend from Card stylesheet
  src/amo/components/Card/styles.scss
Due: stylelint --syntax scss

Added isHomepageCard props, updated Card's stylesheet
  src/amo/components/AddonsCard/index.js
  src/amo/components/Card/index.js
  src/amo/components/Card/styles.scss
  src/amo/components/HomepageShelves/index.js
  src/amo/components/LandingAddonsCard/index.js
Due: prettier --write, eslint, stylelint --syntax scss

Removed unit
  src/amo/components/Card/styles.scss
Due: stylelint --syntax scss

Removed empty line before closing brace
  src/amo/components/Card/styles.scss
Due: stylelint --syntax scss

Fixed padding
  src/amo/components/Card/styles.scss
Due: stylelint --syntax scss

yarn lint fix
  src/amo/components/HomepageShelves/index.js
Due: prettier --write, eslint

Updated tests
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestCard.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/components/TestLandingAddonsCard.js
Due: prettier --write, eslint

Refactor Card stylesheet
  src/amo/components/Card/styles.scss
Due: stylelint --syntax scss

Implement a VPN Promo banner (#10769)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/Page/index.js
  src/amo/components/VPNPromoBanner/img/mozilla-vpn.svg
  src/amo/components/VPNPromoBanner/img/x-close-black.svg
  src/amo/components/VPNPromoBanner/index.js
  src/amo/components/VPNPromoBanner/styles.scss
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint, stylelint --syntax scss

Renamed variables, classNames; removed unnecessary test, prop
  src/amo/components/AddonsCard/index.js
  src/amo/components/Card/index.js
  src/amo/components/Card/styles.scss
  src/amo/components/HomepageShelves/index.js
  src/amo/components/LandingAddonsCard/index.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestCard.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/components/TestLandingAddonsCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Updated props and tests
  src/amo/components/AddonsCard/index.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestLandingAddonsCard.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
