Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update German (de)
  locale/de/LC_MESSAGES/amo.po
Due: none

swap method from cookies to localStorage
  config/default.js
  src/amo/client/base.js
  src/amo/components/ServerHtml/index.js
  src/amo/components/ThemePicker/index.js
  src/amo/constants.js
  src/amo/server/base.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/components/TestThemePicker.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovak (sk)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Add addon category params and detail page view tracking
  src/amo/components/AddonRecommendations/index.js
  src/amo/constants.js
  src/amo/pages/Addon/index.js
  src/amo/tracking.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Clear addon page tracking variables on unmount
  src/amo/pages/Addon/index.js
  src/amo/tracking.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Remove duplicate import of tracking module
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Add all addon categories tracking param
  src/amo/tracking.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Dutch (nl)
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Frisian (fy-NL)
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/amo.po
Due: none

Convert scss variables to css variables (#14252)
  src/amo/components/AddonRecommendations/styles.scss
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/App/index.js
  src/amo/components/App/styles.scss
  src/amo/components/AutoSearchInput/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/Card/styles.scss
  src/amo/components/CardList/styles.scss
  src/amo/components/DismissibleTextForm/styles.scss
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/Errors/AuthExpired/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/components/Page/styles.scss
  src/amo/components/Paginate/styles.scss
  src/amo/components/RatingManager/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/Search/styles.scss
  src/amo/components/SearchFilters/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/components/UserCollection/styles.scss
  src/amo/components/UserReview/styles.scss
  src/amo/css/inc/mixins.scss
  src/amo/css/inc/vars.scss
  src/amo/css/theme.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LandingPage/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: prettier --write, eslint, stylelint

Migrate sass colour functions, slash division
  src/amo/components/AppBanner/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  webpack-common.js
Due: prettier --write, eslint, stylelint

Migrate sass mixed declarations
  src/amo/components/AMInstallButton/styles.scss
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/AutoSearchInput/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/Card/styles.scss
  src/amo/components/Categories/styles.scss
  src/amo/components/CopyAddonId/styles.scss
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/EditableCollectionAddon/styles.scss
  src/amo/components/ExpandableCard/styles.scss
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/Header/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/Icon/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SearchSuggestion/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/components/UserProfileEditNotifications/styles.scss
  src/amo/components/UserProfileEditPicture/styles.scss
  src/amo/components/UserReview/styles.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/AddonInfo/styles.scss
  src/amo/pages/AddonReviewList/styles.scss
  src/amo/pages/AddonVersions/styles.scss
  src/amo/pages/CollectionFeedback/styles.scss
  src/amo/pages/UserFeedback/styles.scss
  src/amo/pages/UserProfile/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
  webpack-common.js
Due: prettier --write, eslint, stylelint

import, linting
  .stylelintrc
  src/amo/components/RatingsByStar/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update French (fr)
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

Simplify heartbeat endpoint, don't call API, just return 200
  src/amo/server/base.js
  src/amo/utils/server.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Remove obsolete test
  tests/unit/amo/utils/test_server.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Serbian (sr)
  locale/sr/LC_MESSAGES/amo.po
Due: none

Fix feedback broken styles
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/ExpandableCard/styles.scss
  src/amo/components/Rating/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/SearchFilters/styles.scss
  src/amo/css/theme.scss
Due: stylelint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
