Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Update jest monorepo to v27
  package.json
  yarn.lock
Due: none

Catch URIErrors from `createHistory`
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Add a comment to explain why we need this
  src/amo/server/base.js
Due: prettier --write, eslint

Update dependency schema-utils to v4
  package.json
  yarn.lock
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Catch URIErrors from `createHistory` (#11023)
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Update dependency common-tags to v1.8.2
  package.json
  yarn.lock
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Update dependency lint-staged to v12
  package.json
  yarn.lock
Due: none

Update dependency typescript to v4.5.2
  package.json
  yarn.lock
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Update dependency pino to v7.3.0
  package.json
  yarn.lock
Due: none

Update dependency ua-parser-js to v1
  package.json
  yarn.lock
Due: none

Update stylelint
  package.json
  yarn.lock
Due: none

Fixes to allow us to upgrade to Jest v27
  jest.config.js
  tests/jest-reporters/fingers-crossed.js
  tests/jest-reporters/summary.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Fix regenerate_font.js to remove quotes around font-family
  bin/regenerate_font.js
  src/fonts/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.html
  src/fonts/Inter-roman.var.html
Due: prettier --write, eslint

Fix StaticAddonCard/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
Due: stylelint --syntax scss

Update dependency pino to v7.4.0
  package.json
  yarn.lock
Due: none

Address review comments
  src/amo/components/AddonReviewCard/styles.scss
Due: stylelint --syntax scss

Remove stylelint-config-suitcss
  .stylelintrc
  package.json
  yarn.lock
Due: none

Update dependency pino to v7.4.1
  package.json
  yarn.lock
Due: none

Update dependency react-onclickoutside to v6.12.1
  package.json
  yarn.lock
Due: none

Update dependency prettier to v2.5.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Update dependency jsdom to v18
  package.json
  yarn.lock
Due: none

Change to tests/setup.js to allow us to upgrade to jsdom 17+
  tests/setup.js
Due: prettier --write, eslint

Try using a custom testEnvironment
  jest.config.js
  package.json
  tests/jest-environment.js
  tests/setup.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Update dependency pino-mozlog to v2.8.0
  package.json
  yarn.lock
Due: none

Update dependency pino to v7.5.0
  package.json
  yarn.lock
Due: none
