Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Add API/saga/reducer code to be able to submit a rating abuse report
  src/amo/actions/reviews.js
  src/amo/api/abuse.js
  src/amo/reducers/reviews.js
  src/amo/sagas/abuse.js
  src/amo/sagas/reviews.js
  tests/unit/amo/actions/test_reviews.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/reducers/test_reviews.js
  tests/unit/amo/sagas/test_abuse.js
  tests/unit/amo/sagas/test_reviews.js
Due: prettier --write, eslint

no need to stringify user/rating ids
  src/amo/api/abuse.js
  tests/unit/amo/api/test_abuse.js
Due: prettier --write, eslint

Use constants in `TestAddonFeedback`
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Enable `enableFeatureFeedbackForm` everywhere
  config/default.js
  config/dev.js
  config/development.js
Due: prettier --write, eslint

Enable `enableFeatureFeedbackForm` everywhere (#12591)
  config/default.js
  config/dev.js
  config/development.js
Due: prettier --write, eslint

Add API/saga/reducer code to be able to submit a rating abuse report (#12585)
  src/amo/actions/reviews.js
  src/amo/api/abuse.js
  src/amo/reducers/reviews.js
  src/amo/sagas/abuse.js
  src/amo/sagas/reviews.js
  tests/unit/amo/actions/test_reviews.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/reducers/test_reviews.js
  tests/unit/amo/sagas/test_abuse.js
  tests/unit/amo/sagas/test_reviews.js
Due: prettier --write, eslint

Introduce new page for rating feedback
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/RatingFeedback/index.js
  src/amo/pages/RatingFeedback/styles.scss
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/pages/TestRatingFeedback.js
Due: prettier --write, eslint, stylelint

Show add-on metadata in the add-on feedback form page
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/AddonFeedbackForm/styles.scss
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint, stylelint

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Use constants in `TestAddonFeedback` (#12586)
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Introduce new page for rating feedback (#12581)
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/RatingFeedback/index.js
  src/amo/pages/RatingFeedback/styles.scss
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/pages/TestRatingFeedback.js
Due: prettier --write, eslint, stylelint

Show add-on metadata in the add-on feedback form page (#12593)
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/AddonFeedbackForm/styles.scss
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Add reducer/saga/api logic for reporting a collection
  package.json
  src/amo/api/abuse.js
  src/amo/reducers/collectionAbuseReports.js
  src/amo/sagas/collectionAbuseReports.js
  src/amo/sagas/index.js
  src/amo/store.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/reducers/test_collectionAbuseReports.js
  tests/unit/amo/sagas/test_collectionAbuseReports.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
