Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Update dependency pino-mozlog to v2.4.0
  package.json
  yarn.lock
Due: none

:arrow_up: release 0.12.0
  package.json
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Put stylesheets top of source order
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Fix truncation of Download button for non-FF browsers
  src/amo/pages/Addon/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Put stylesheets top of source order (#10490)
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Preload small font with a limited range of unicode characters for en-US
  src/amo/components/Footer/styles.scss
  src/amo/server/base.js
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-minimal-subset.var.woff2
Due: prettier --write, eslint, stylelint --syntax scss

Switch to use a <link> in the HTML instead of a Link HTTP header
  src/amo/components/ServerHtml/index.js
  src/amo/server/base.js
Due: prettier --write, eslint

Keep check to avoid breaking server base tests
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

Preload all files following a specific subset pattern
  src/amo/components/ServerHtml/index.js
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-minimal-subset-en-US.var.woff2
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/server/fakeApp.js
Due: prettier --write, eslint, stylelint --syntax scss

Fix test failure now that getStatic() no longer filters out stuff that doesn't start with 'amo-'
  tests/unit/amo/components/TestServerHtml.js
Due: prettier --write, eslint

Add comment
  src/fonts/inter.scss
Due: stylelint --syntax scss

We always want crossorigin set on font preload, even for local development
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

Fix addon type property
  src/amo/reducers/home.js
Due: prettier --write, eslint

Fix truncation of Download button for non-FF browsers (#10491)
  src/amo/pages/Addon/styles.scss
Due: stylelint --syntax scss

Update test
  tests/unit/amo/components/TestHomepageShelves.js
Due: prettier --write, eslint

Updated test_home
  tests/unit/amo/reducers/test_home.js
Due: prettier --write, eslint

Fixed LangPicker Position.
  src/amo/components/Footer/styles.scss
Due: stylelint --syntax scss

nit: add a blank line before the return line
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

:arrow_up: release 0.13.0
  package.json
Due: none

Do subset detection in a single regexp
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

Preload small font with a limited range of unicode characters for en-US (#10494)
  src/amo/components/Footer/styles.scss
  src/amo/components/ServerHtml/index.js
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-minimal-subset-en-US.var.woff2
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/server/fakeApp.js
Due: prettier --write, eslint, stylelint --syntax scss
