Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Enable the suggestions experiment on stage (#11991)
  config/stage.js
Due: prettier --write, eslint

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO Frontend
  locale/is/LC_MESSAGES/amo.po
Due: none

Some UX tweaks to AddonSuggestions
  src/amo/components/AddonSuggestions/styles.scss
Due: stylelint

Pontoon: Update Albanian (sq) localization of AMO Frontend
  locale/sq/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Vietnamese (vi) localization of AMO Frontend
  locale/vi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Enable reporting to GA4
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
  config/stage.js
  src/amo/components/ServerHtml/index.js
  src/amo/tracking.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Some UX tweaks to AddonSuggestions (#12000)
  src/amo/components/AddonSuggestions/styles.scss
Due: stylelint

Adjust paginator to use api page_count (#11943)
  src/amo/components/Paginate/index.js
  src/amo/components/Search/index.js
  src/amo/reducers/search.js
  src/amo/sagas/search.js
  tests/unit/amo/components/TestPaginate.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/reducers/test_search.js
  tests/unit/amo/sagas/test_search.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (China) (zh-CN) localization of AMO Frontend
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Enable the add-on suggestions experiment everywhere
  config/default.js
  config/dev.js
  config/development.js
  config/stage.js
Due: prettier --write, eslint

Enable reporting to GA4 (#12001)
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
  config/stage.js
  src/amo/components/ServerHtml/index.js
  src/amo/tracking.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Enable the add-on suggestions experiment everywhere (#12007)
  config/default.js
  config/dev.js
  config/development.js
  config/stage.js
Due: prettier --write, eslint

Update jest-environment-jsdom
  package.json
  yarn.lock
Due: none

Fix problem with logging to GA4
  src/amo/tracking.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Enable reporting to GA4 (#12010)
  src/amo/tracking.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Send all current events to GA with the same parameters and values
  src/amo/tracking.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Implement the equivalent of custom experiment dimensions in GA4
  src/amo/tracking.js
  src/amo/withExperiment.js
  src/blog-utils/tracking.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/blog-utils/test_tracking.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Send all current events to GA with the same parameters and values (#12013)
  src/amo/tracking.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Implement the equivalent of custom experiment dimensions in GA4 (#12017)
  src/amo/tracking.js
  src/amo/withExperiment.js
  src/blog-utils/tracking.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/blog-utils/test_tracking.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none
