Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR), Slovenian (sl), Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO), French (fr), Dutch (nl), Frisian (fy-NL)
  locale/fr/LC_MESSAGES/amo.po
  locale/fy_NL/LC_MESSAGES/amo.po
  locale/nb_NO/LC_MESSAGES/amo.po
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Correctly capitalize 'YouTube' in footer
  src/amo/components/Footer/index.js
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Italian (it)
  locale/it/LC_MESSAGES/amo.po
Due: none

Correctly capitalize 'YouTube' in footer (#14227)
  src/amo/components/Footer/index.js
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update German (de)
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovak (sk)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Serbian (sr)
  locale/sr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Finnish (fi)
  locale/fi/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Remove isomorphic-fetch
  bin/create-package-json-for-blog-utils
  package.json
  src/amo/polyfill.js
  src/blog-utils/index.js
  tests/setup.js
  tests/unit/amo/api/test_index.js
  yarn.lock
Due: prettier --write, eslint

Remove node-fetch in blog-utils
  package.json
  webpack.blog-utils.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Friulian (fur)
  locale/fur/LC_MESSAGES/amo.po
Due: none

Remove isomorphic-fetch and node-fetch (#14232)
  bin/create-package-json-for-blog-utils
  package.json
  src/amo/polyfill.js
  src/blog-utils/index.js
  tests/setup.js
  tests/unit/amo/api/test_index.js
  webpack.blog-utils.config.babel.js
  yarn.lock
Due: prettier --write, eslint

:arrow_up: release 0.37.0
  package.json
Due: none

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/amo.po
Due: none

Introduce QR to Android Add-on Listing Page from Desktop
  package.json
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/components/QRCard/img/kit-qr.svg
  src/amo/components/QRCard/index.js
  src/amo/components/QRCard/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  src/amo/utils/index.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/utils/test_index.js
  yarn.lock
Due: prettier --write, eslint, stylelint

Update Install Button RTAMO Restrictions
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint
