Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Fix copy SVG icon used in CopyAddonId, and make it look nicer on non-Firefox browsers (#14173)
  src/amo/components/CopyAddonId/styles.scss
  src/amo/components/Icon/img/copy.svg
Due: stylelint

Pontoon/AMO Frontend: Update Serbian (sr)
  locale/sr/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Expanded test coverage for UTM Params inject/remove functionality
  src/amo/installAddon.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/reducers/test_addonInstallSource.js
  tests/unit/amo/utils/test_installAttribution.js
Due: prettier --write, eslint

Add cooldown setting to dependabot config
  .github/dependabot.yml
Due: none

Add more cooldown settings to dependabot config (#14186)
  .github/dependabot.yml
Due: none

Fix SearchResult dispatch to Redux on click
  src/amo/components/SearchResult/index.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

UTM install time injection & GTM Data Layer push (#14130)
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/constants.js
  src/amo/installAddon.js
  src/amo/pages/Addon/index.js
  src/amo/reducers/addonInstallSource.js
  src/amo/store.js
  src/amo/tracking.js
  src/amo/utils/installAttribution.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_addonInstallSource.js
  tests/unit/amo/sagas/test_collections.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/utils/test_installAttribution.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Remove the 20221130_amo_detail_category experiment and related code
  config/default.js
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/AddonSuggestions/styles.scss
  src/amo/experiments/20221130_amo_detail_category.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/experiments/test_20221130_amo_detail_category.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Remove the 20221130_amo_detail_category experiment and related code (#14194)
  config/default.js
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/AddonSuggestions/styles.scss
  src/amo/experiments/20221130_amo_detail_category.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/experiments/test_20221130_amo_detail_category.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

GitHub Actions & dependabot cleanup
  .github/actions/context/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

GitHub Actions & dependabot cleanup (#14195)
  .github/actions/context/action.yml
  .github/workflows/ci.yml
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR), Slovenian (sl), Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Upper (hsb)
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Greek (el), German (de)
  locale/de/LC_MESSAGES/amo.po
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update German (de), Interlingua (ia), Russian (ru)
  locale/de/LC_MESSAGES/amo.po
  locale/ia/LC_MESSAGES/amo.po
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Interlingua (ia), Russian (ru)
  locale/ia/LC_MESSAGES/amo.po
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Chinese (Taiwan) (zh-TW), Interlingua (ia)
  locale/ia/LC_MESSAGES/amo.po
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Chinese (Taiwan) (zh-TW)
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Swedish (sv-SE), English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/amo.po
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
