Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Reformat
  docs/caching.md
Due: none

Typos
  docs/caching.md
Due: none

Update caching docs now that we're on the CDN (#10967)
  docs/caching.md
Due: none

getPreviewImage() should return null if there is no preview at that size
  src/amo/imageUtils.js
Due: prettier --write, eslint

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Updated translations
  src/amo/components/RatingsByStar/index.js
  tests/unit/amo/components/TestRatingsByStar.js
Due: prettier --write, eslint

Updated component, style, test
  src/amo/components/RatingsByStar/index.js
  src/amo/components/RatingsByStar/styles.scss
  tests/unit/amo/components/TestRatingsByStar.js
Due: prettier --write, eslint, stylelint --syntax scss

Load user-uploaded images and favicon from the main domain (#10968)
  config/custom-environment-variables.json
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
  config/stage.js
  package.json
  src/amo/components/ServerHtml/index.js
  src/amo/imageUtils.js
  src/amo/server/base.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestAMInstallButton.js
  tests/unit/amo/components/TestAddonAuthorLinks.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonSummaryCard.js
  tests/unit/amo/components/TestAuthenticateButton.js
  tests/unit/amo/components/TestEditableCollectionAddon.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestSearchResult.js
  tests/unit/amo/components/TestSearchSuggestion.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/components/TestThemeImage.js
  tests/unit/amo/middleware/test_cspMiddleware.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_installations.js
  tests/unit/amo/server/test_WebpackAssetsFontsPlugin.js
  tests/unit/amo/server/test_base.js
  tests/unit/amo/test_imageUtils.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/utils/test_addons.js
  tests/unit/amo/utils/test_index.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Updated translations
  src/amo/components/RatingsByStar/index.js
Due: prettier --write, eslint

:arrow_up: release 0.27.0
  package.json
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Rename the link to the blog on AMO (#10963)
  src/amo/components/Footer/index.js
  src/amo/components/SectionLinks/index.js
Due: prettier --write, eslint

Move blog link to the main header and rename Log in link
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
  src/amo/components/SectionLinks/index.js
  tests/unit/amo/components/TestAuthenticateButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestSectionLinks.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Use a default message for npm releases
  .npmrc
Due: none

:arrow_up: release 0.28.0
  package.json
Due: none

Update the instructions for releasing blog-utils
  README.md
Due: none

Update README.md
  README.md
Due: none

Update the instructions for releasing blog-utils (#10975)
  README.md
Due: none

Updated stylesheet - increased specificity of selector
  src/amo/components/RatingsByStar/styles.scss
Due: stylelint --syntax scss

RE: [a11y] Links to read reviews are confusing for screen reader/keyboard users (#10945)
  src/amo/components/RatingsByStar/index.js
  src/amo/components/RatingsByStar/styles.scss
  tests/unit/amo/components/TestRatingsByStar.js
Due: prettier --write, eslint, stylelint --syntax scss

Update Node.js to v17
  Dockerfile
Due: none

Update Node.js to v16.12
  .circleci/config.yml
Due: none

Allow addons-server statics and old dedicated prod domain in img-src CSP
  config/default.js
  config/dev.js
  config/lib/shared.js
  config/stage.js
  tests/unit/amo/middleware/test_cspMiddleware.js
Due: prettier --write, eslint

Update dependency eslint-config-amo to v5
  package.json
  yarn.lock
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Update Node.js to v17
  .circleci/config.yml
Due: none

Update dependency core-js to v3.19.0
  package.json
  yarn.lock
Due: none

Use @babel/eslint-parser and remove some redundant rule config
  .eslintrc
  package.json
  yarn.lock
Due: none

Switch to eslint v8
  package.json
  yarn.lock
Due: none

Move eslint-plugin-react-hooks to dev deps
  package.json
Due: none

mute some eslint errors
  tests/unit/amo/components/TestSecondaryHero.js
  tests/unit/amo/sagas/test_users.js
Due: prettier --write, eslint

configure jest/expect-expect instead of disabling it
  .eslintrc
Due: none

Update eslint-check
  tests/jest-reporters/eslint-check.js
Due: prettier --write, eslint

mute some more jest/expect-expect warnings
  tests/unit/amo/api/test_index.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestFormOverlay.js
  tests/unit/amo/components/TestNotice.js
  tests/unit/amo/components/TestScrollToTop.js
  tests/unit/amo/middleware/test_cspMiddleware.js
  tests/unit/amo/middleware/test_frameguardMiddleware.js
  tests/unit/amo/pages/TestUserProfileEdit.js
  tests/unit/amo/test_addonManager.js
  tests/unit/test_localesConfig.js
Due: prettier --write, eslint

oops
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint

fix dev version constraint
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
