Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Use Dependabot instead of Renovate (#11975)
  .github/dependabot.yml
  renovate.json
Due: none

Implement suggestions reducer and saga (#11952)
  src/amo/reducers/collections.js
  src/amo/reducers/suggestions.js
  src/amo/sagas/index.js
  src/amo/sagas/suggestions.js
  src/amo/store.js
  tests/unit/amo/reducers/test_suggestions.js
  tests/unit/amo/sagas/test_suggestions.js
Due: prettier --write, eslint

Update stale.yml
  .github/stale.yml
Due: none

Strip HTML from <meta name="description" />
  src/amo/components/HeadMetaTags/index.js
  tests/unit/amo/components/TestHeadMetaTags.js
Due: prettier --write, eslint

Create an experiment to run on the add-on detail page
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/AddonSuggestions/styles.scss
  src/amo/constants.js
  src/amo/experiments/20221130_amo_detail_category.js
  src/amo/pages/Addon/index.js
  src/amo/pages/Collection/index.js
  src/amo/reducers/suggestions.js
  src/amo/sagas/suggestions.js
  src/amo/searchUtils.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/experiments/test_20221130_amo_detail_category.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_suggestions.js
  tests/unit/amo/sagas/test_suggestions.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint

Strip HTML from <meta name="description" /> (#11984)
  src/amo/components/HeadMetaTags/index.js
  tests/unit/amo/components/TestHeadMetaTags.js
Due: prettier --write, eslint

Implement pino-mozlog in addons-frontend
  bin/pino-mozlog.js
  package.json
  src/pino-mozlog/index.js
  tests/pino-mozlog/__snapshots__/test_functional.js.snap
  tests/pino-mozlog/mozlog-schema.json
  tests/pino-mozlog/test_functional.js
  tests/pino-mozlog/test_index.js
  yarn.lock
Due: prettier --write, eslint

Commit fixture file
  tests/pino-mozlog/fixtures/frontend.log
Due: none

Hide suggestions for all but extensions, and add a variation that appears below the add-on detail card
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/AddonSuggestions/styles.scss
  src/amo/experiments/20221130_amo_detail_category.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
Due: prettier --write, eslint, stylelint

Implement pino-mozlog in addons-frontend (#11986)
  bin/pino-mozlog.js
  package.json
  src/pino-mozlog/index.js
  tests/pino-mozlog/__snapshots__/test_functional.js.snap
  tests/pino-mozlog/fixtures/frontend.log
  tests/pino-mozlog/mozlog-schema.json
  tests/pino-mozlog/test_functional.js
  tests/pino-mozlog/test_index.js
  yarn.lock
Due: prettier --write, eslint

Create an experiment to run on the add-on detail page (#11960)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/AddonSuggestions/styles.scss
  src/amo/constants.js
  src/amo/experiments/20221130_amo_detail_category.js
  src/amo/pages/Addon/index.js
  src/amo/pages/Collection/index.js
  src/amo/reducers/suggestions.js
  src/amo/sagas/suggestions.js
  src/amo/searchUtils.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/experiments/test_20221130_amo_detail_category.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_suggestions.js
  tests/unit/amo/sagas/test_suggestions.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint

Remove authorId and slashes from some collection slugs
  src/amo/components/AddonSuggestions/index.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
Due: prettier --write, eslint

Enable the suggestions experiment on stage
  config/stage.js
Due: prettier --write, eslint

Remove authorId and slashes from some collection slugs (#11989)
  src/amo/components/AddonSuggestions/index.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
  yarn.lock
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Icelandic (is) localization of AMO Frontend
  locale/is/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hungarian (hu) localization of AMO Frontend
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none
