Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

Enable compression middleware
  package.json
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Expose Header in blog-utils library
  src/amo/components/Header/index.js
  src/amo/components/SectionLinks/index.js
  src/amo/components/SectionLinks/styles.scss
  src/blog-utils/index.html
  src/blog-utils/index.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestSectionLinks.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Add overflow-wrap: break-word for Safari
  src/amo/components/App/styles.scss
Due: stylelint --syntax scss

Add overflow-wrap: break-word for Safari (#10383)
  src/amo/components/App/styles.scss
Due: stylelint --syntax scss

Disable the current experiment on dev (#10378)
  config/dev.js
Due: prettier --write, eslint

Remove code which allows events to be called on the server
  src/amo/client/base.js
  src/amo/reducers/tracking.js
  src/amo/store.js
  src/amo/tracking.js
  src/amo/withExperiment.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/reducers/test_tracking.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Address review comments
  src/amo/tracking.js
Due: prettier --write, eslint

Remove code which allows events to be called on the server (#10385)
  src/amo/client/base.js
  src/amo/reducers/tracking.js
  src/amo/store.js
  src/amo/tracking.js
  src/amo/withExperiment.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/reducers/test_tracking.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Deleted FeaturedCollectionCard
  src/amo/components/FeaturedCollectionCard/index.js
  src/amo/components/FeaturedCollectionCard/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Only set an experiment cookie and send an enrollment event on the client. Also re-enable the experiment on dev.
  config/dev.js
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Enable compression middleware (#10379)
  package.json
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
  yarn.lock
Due: prettier --write, eslint

review nits
  src/amo/middleware/prefixMiddleware.js
Due: prettier --write, eslint

Expose Header in blog-utils library (#10380)
  src/amo/components/Header/index.js
  src/amo/components/SectionLinks/index.js
  src/amo/components/SectionLinks/styles.scss
  src/blog-utils/index.html
  src/blog-utils/index.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestSectionLinks.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

:arrow_up: release 0.7.0
  package.json
Due: none

Add link to new AMO blog (with a feature flag)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/Footer/index.js
  src/amo/components/Page/index.js
  src/blog-utils/index.js
  tests/unit/amo/components/TestFooter.js
  tests/unit/amo/components/TestPage.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint

Only set an experiment cookie and send an enrollment event on the client (#10387)
  config/dev.js
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Vary on User-Agent in addons-frontend instead of letting nginx do it
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Prevent callout icon from being cropped
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Add unavailable state to the StaticAddonCard (blog-utils) (#10370)
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

:arrow_up: release 0.8.0
  package.json
Due: none

Prevent callout icon from being cropped (#10394)
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Add link to the new blog in the header
  src/amo/components/SectionLinks/index.js
  tests/unit/amo/components/TestSectionLinks.js
Due: prettier --write, eslint

rewrite prefixMiddleware (#10363)
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Open homepage shelf's footer_pathname URLs in a new tab (#10371)
  src/amo/components/LandingAddonsCard/index.js
  tests/unit/amo/components/TestLandingAddonsCard.js
Due: prettier --write, eslint

fixed 10351 add bug reporting information to about page
  .husky/pre-commit
  src/amo/pages/StaticPages/About/index.js
Due: prettier --write, eslint

fixed 10351 add bug reporting information to about page
  .husky/pre-commit
Due: none

moved 'report a issue' section under the 'get involved' section
  src/amo/pages/StaticPages/About/index.js
Due: prettier --write, eslint

Removed TestFeaturedCollectionCard .
  tests/unit/amo/components/TestFeaturedCollectionCard.js
Due: prettier --write, eslint

10351 add bug reporting information to about page (#10392)
  src/amo/pages/StaticPages/About/index.js
Due: prettier --write, eslint

Add link to new AMO blog (with a feature flag) (#10391)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/Footer/index.js
  src/amo/components/Page/index.js
  src/blog-utils/index.js
  tests/unit/amo/components/TestFooter.js
  tests/unit/amo/components/TestPage.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint

added.husly/pre-commit
  .husky/pre-commit
Due: none

Vary on User-Agent in addons-frontend instead of letting nginx do it (#10393)
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
