Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Update dependency typescript to v4.3.5
  package.json
  yarn.lock
Due: none

Update dependency husky to v7
  package.json
  yarn.lock
Due: none

Pontoon: Update Urdu (ur) localization of AMO Frontend
  locale/ur/LC_MESSAGES/amo.po
Due: none

Fix invalid variable in locale/ur/LC_MESSAGES/amo.po
  locale/ur/LC_MESSAGES/amo.po
Due: none

Fix invalid variable in locale/ur/LC_MESSAGES/amo.po (#10732)
  locale/ur/LC_MESSAGES/amo.po
Due: none

Update dependency hot-shots to v8.4.0
  package.json
  yarn.lock
Due: none

Update dependency web-vitals to v2.1.0
  package.json
  yarn.lock
Due: none

Update dependency postcss-loader to v6
  package.json
  yarn.lock
Due: none

Update dependency schema-utils to v3.1.0
  package.json
  yarn.lock
Due: none

Update checkInternalURL to exclude blog pages
  src/amo/utils/index.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Address review comment
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Update checkInternalURL to exclude blog pages (#10738)
  src/amo/utils/index.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Improve code coverage for utils/index.js
  src/amo/utils/index.js
Due: prettier --write, eslint

Fix problem with rounded corners on add-on reviews
  src/amo/components/UserReview/styles.scss
Due: stylelint --syntax scss

Improve code coverage for utils/index.js (#10740)
  src/amo/utils/index.js
Due: prettier --write, eslint

Update tests for Categories, Link, SearchPage and UserProfileEdit
  src/amo/components/Categories/index.js
  src/amo/components/Link/index.js
  src/amo/pages/SearchPage/index.js
  src/amo/pages/SearchTools/index.js
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/components/TestLink.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Update dependency dompurify to v2.3.0
  package.json
  yarn.lock
Due: none

Stop decoding HTML entities for collection descriptions
  package.json
  src/amo/components/CollectionDetails/index.js
  src/amo/components/CollectionManager/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestCollectionManager.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Update tests for Categories, Link, SearchPage and UserProfileEdit (#10744)
  src/amo/components/Categories/index.js
  src/amo/components/Link/index.js
  src/amo/pages/SearchPage/index.js
  src/amo/pages/SearchTools/index.js
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/components/TestLink.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Updated tests for pages/Addon, components/Search
  src/amo/components/Search/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestSearch.js
  tests/unit/amo/components/TestSearchContextCard.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Remove obsolete test
  tests/unit/amo/components/TestCollectionDetails.js
Due: prettier --write, eslint

add comments to not override page_size (#10696)
  src/amo/reducers/addonsByAuthors.js
  tests/unit/amo/sagas/test_reviews.js
Due: prettier --write, eslint

Updated tests for pages/Addon and components/Search (#10748)
  src/amo/components/Search/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestSearch.js
  tests/unit/amo/components/TestSearchContextCard.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Remove all code relating to is_restart_required and is_webextension (#10717)
  src/amo/components/AddonBadges/index.js
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/Badge/index.js
  src/amo/components/Icon/img/not-compatible.svg
  src/amo/components/Icon/img/restart.svg
  src/amo/components/Icon/styles.scss
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/versions.js
  src/amo/types/addons.js
  src/amo/utils/compatibility.js
  tests/unit/amo/components/TestAddonBadges.js
  tests/unit/amo/components/TestAddonCompatibilityError.js
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/utils/test_compatibility.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint --syntax scss

Fix problem with rounded corners on add-on reviews (#10741)
  src/amo/components/UserReview/styles.scss
Due: stylelint --syntax scss

Allow for excluding users by device type from experiments
  src/amo/reducers/api.js
  src/amo/utils/compatibility.js
  tests/unit/amo/reducers/test_api.js
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Allow for identifying users as on desktop or not (#10722)
  src/amo/reducers/api.js
  src/amo/utils/compatibility.js
  tests/unit/amo/reducers/test_api.js
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Stop decoding HTML entities for collection descriptions (#10746)
  package.json
  src/amo/components/CollectionDetails/index.js
  src/amo/components/CollectionManager/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestCollectionDetails.js
  tests/unit/amo/components/TestCollectionManager.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Allow sendEvent to send an extra event
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/tracking.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/tracking.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Update experiment naming convention to support custom GA dimension on www.mozilla.org
  config/dev.js
  config/development.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/experiments/20210531_amo_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/experiments/test_20210531_amo_download_funnel_experiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Update src/amo/tracking.js
  src/amo/tracking.js
Due: prettier --write, eslint

Allow sendEvent to send an extra event (#10751)
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/tracking.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Update tests/unit/amo/test_withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Attempt to ignore code coverage issue
  src/amo/withExperiment.js
Due: prettier --write, eslint

Update experiment naming convention to support custom GA dimension on www.mozilla.org (#10752)
  config/dev.js
  config/development.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/experiments/20210531_amo_download_funnel_experiment.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/experiments/test_20210531_amo_download_funnel_experiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Enable download funnel experiment on stage and prod
  config/default.js
  config/dev.js
  config/development.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
