Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Catalan (ca)
  locale/ca/LC_MESSAGES/amo.po
Due: none

Move "Report this add-on" to "More information" section, make it a link (#13533)
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/AddonReportAbuseLink/index.js
  src/amo/components/AddonReportAbuseLink/styles.scss
  src/amo/components/RatingManager/index.js
  src/amo/components/ReportAbuseButton/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Ensure <li>s are wrapped in a <ol> or <ul> after sanitizing HTML
  src/amo/purify.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Ensure <li>s are wrapped in a <ol>, <ul> or <menu> after sanitizing HTML
  src/amo/purify.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Move Developer Comments to "About this add-on" area & tweak "Read More" behavior
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

No danger here
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint

Remove obsolete test
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Simplify
  src/amo/components/ShowMoreCard/styles.scss
Due: stylelint

Cleanup
  src/amo/pages/Addon/styles.scss
Due: stylelint

Handle <li> from the same list, additional tests
  src/amo/purify.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Ensure <li>s are wrapped in a <ol> or <ul> after sanitizing HTML (#13544)
  src/amo/purify.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Hebrew (he)
  locale/he/LC_MESSAGES/amo.po
Due: none

Always limit height of description area to 300px similar to permissions card
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint, stylelint

Move Developer Comments to "About this add-on" area & tweak "Read More" behavior (#13548)
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Show "About this add-on" area if there are developer comments
  src/amo/pages/Addon/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Remove locales below 80% threshold
  config/default.js
  tests/unit/amo/components/TestAddonTitle.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Spain) (es-ES)
  locale/es_ES/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
