Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Combine overall ratings with about card at extraExtraLarge breakpoint (#13708)
  src/amo/components/RatingManager/index.js
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)
  locale/cs/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Expose all pontoon locales in dev
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
Due: prettier --write, eslint

Revert "Pontoon/AMO Frontend: Update Czech (cs), Portuguese (Brazil) (pt-BR), Slovenian (sl)"
  locale/cs/LC_MESSAGES/amo.po
  locale/pt_BR/LC_MESSAGES/amo.po
  locale/sl/LC_MESSAGES/amo.po
Due: none

Allow both cards in description/overall rating area to grow
  src/amo/pages/Addon/styles.scss
Due: stylelint

Allow both cards in description/overall rating area to grow (#13711)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Expose all pontoon locales in dev (#13710)
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Sorbian, Upper (hsb), Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Slovak (sk)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

`langs` not `lang`
  config/dev.js
  config/development.js
  config/lib/shared.js
Due: prettier --write, eslint

`langs` not `lang` (#13712)
  config/dev.js
  config/development.js
  config/lib/shared.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Finnish (fi)
  locale/fi/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Polish (pl)
  locale/pl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Danish (da)
  locale/da/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Remove GetFirefoxCallout as it totally breaks the layout and is absolutely not worth it.
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint

Remove amo-admins for filing security issues
  src/amo/pages/StaticPages/About/index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Croatian (hr)
  locale/hr/LC_MESSAGES/amo.po
Due: none

Remove amo-admins for filing security issues (#13726)
  src/amo/pages/StaticPages/About/index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update French (fr), Chinese (Taiwan) (zh-TW)
  locale/fr/LC_MESSAGES/amo.po
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sorbian, Lower (dsb)
  locale/dsb/LC_MESSAGES/amo.po
Due: none
