Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Added instagram svg.
  src/amo/components/Icon/img/instagram.svg
Due: none

Update dependency hot-shots to v8.3.1
  package.json
  yarn.lock
Due: none

Create a GetFirefoxBanner component (#10307)
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxBanner/styles.scss
  tests/unit/amo/components/TestGetFirefoxBanner.js
Due: prettier --write, eslint, stylelint --syntax scss

align download button with register or login button
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Move the logic into tracking and add tests
  src/amo/reducers/tracking.js
  src/amo/tracking.js
  src/amo/withExperiment.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/components/TestHeroRecommendation.js
  tests/unit/amo/reducers/test_tracking.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Add Link rel=preconnect header to our CDN domains (#10302)
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

update test based on review feedback
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

handle server urls that are both app and locale exceptions (#10309)
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

add sitemap.xml to validLocaleUrlExceptions and validClientAppUrlExceptions
  config/default.js
Due: prettier --write, eslint

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

add sitemap.xml to validLocaleUrlExceptions and validClientAppUrlExceptions (#10322)
  config/default.js
Due: prettier --write, eslint

Make download buttons blue
  src/amo/components/GetFirefoxButton/index.js
Due: prettier --write, eslint

Update Node.js to v10.24.1
  .nvmrc
Due: none

Changes made in AuthenticateButton/index.js to convert button to link (#10210)
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
  tests/unit/amo/components/TestAuthenticateButton.js
Due: prettier --write, eslint, stylelint --syntax scss

Return NotFoundPage from SearchTools
  src/amo/pages/SearchTools/index.js
Due: prettier --write, eslint

Make download buttons blue (#10324)
  src/amo/components/GetFirefoxButton/index.js
Due: prettier --write, eslint

Revert "handle server urls that are both app and locale exceptions (#10309)"
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Revert change to prefixMiddleware (#10330)
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Added Instagram svg
  src/amo/components/Icon/img/instagram.svg
Due: none

Added support icon for instagram
  src/amo/components/Icon/styles.scss
Due: stylelint --syntax scss

RE: Update - Consolidate API requests for the home page shelves (#10295)
  src/amo/api/homeShelves.js
  src/amo/components/HomepageShelves/index.js
  src/amo/components/LandingAddonsCard/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/pages/Collection/index.js
  src/amo/pages/Home/index.js
  src/amo/reducers/home.js
  src/amo/reducers/versions.js
  src/amo/sagas/home.js
  tests/unit/amo/api/test_homeShelves.js
  tests/unit/amo/components/TestHeroRecommendation.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestSecondaryHero.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Increase font for Register or log in button
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Introduce addons-frontend-blog-utils library (#10299)
  .circleci/config.yml
  README.md
  bin/create-package-json-for-blog-utils
  package.json
  src/blog-utils/index.js
  src/blog-utils/styles.scss
  src/blog-utils/tracking.js
  tests/unit/blog-utils/test_index.js
  webpack.blog-utils.config.babel.js
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency core-js to v3.10.1
  package.json
  yarn.lock
Due: none

Update dependency typescript to v4.2.4
  package.json
  yarn.lock
Due: none

Add buildStaticAddonCard
  README.md
  bin/serve-blog-utils
  package.json
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  src/blog-utils/index.html
  src/blog-utils/index.js
  src/blog-utils/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Order imports alphabetically in SearchTools
  src/amo/pages/SearchTools/index.js
Due: prettier --write, eslint

Add test for SearchTools when disableSSR is true
  tests/unit/amo/pages/TestSearchTools.js
Due: prettier --write, eslint

Add buildStaticAddonCard (#10300)
  README.md
  bin/serve-blog-utils
  package.json
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  src/blog-utils/index.html
  src/blog-utils/index.js
  src/blog-utils/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency inter-ui to v3.18.0
  src/blog-utils/index.html
Due: none

Remove superfluous lines in TestSearchTools
  tests/unit/amo/pages/TestSearchTools.js
Due: prettier --write, eslint

Allow to publish addons-frontend-blog-utils to npm
  .circleci/config.yml
  .npmrc
  README.md
Due: none

Update `SearchTools` page component (#10327)
  src/amo/pages/SearchTools/index.js
  tests/unit/amo/pages/TestSearchTools.js
Due: prettier --write, eslint

Updating to Husky 6
  .husky/pre-commit
  .huskyrc
  package.json
Due: none

Pontoon: Update Catalan (ca) localization of AMO Frontend
  locale/ca/LC_MESSAGES/amo.po
Due: none

Replace permissions button with learn more link
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Add test for learn more link in PermissionsCard
  tests/unit/amo/components/TestPermissionsCard.js
Due: prettier --write, eslint
