Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Fix typo in FeedbackForm (#12517)
  src/amo/components/FeedbackForm/index.js
Due: prettier --write, eslint

add test
  tests/unit/amo/components/TestWrongPlatformWarning.js
Due: prettier --write, eslint

fix compat test
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Remove yellow banner on /android/ pages on android (#12521)
  src/amo/utils/compatibility.js
  tests/unit/amo/components/TestWrongPlatformWarning.js
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Restrict category pages for themes to Desktop only
  src/amo/components/Routes/index.js
Due: prettier --write, eslint

Update homepage for Android
  src/amo/constants.js
  src/amo/pages/Home/index.js
  src/amo/sagas/home.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/sagas/test_home.js
Due: prettier --write, eslint

Restrict category pages for themes to Desktop only (#12525)
  src/amo/components/Routes/index.js
Due: prettier --write, eslint

Update homepage for Android (#12524)
  src/amo/constants.js
  src/amo/pages/Home/index.js
  src/amo/sagas/home.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/sagas/test_home.js
Due: prettier --write, eslint

Pontoon: Update Albanian (sq) localization of AMO Frontend
  locale/sq/LC_MESSAGES/amo.po
Due: none

Bump Node.js to 18.x, start testing with 20.x
  .circleci/config.yml
  Dockerfile
  package.json
Due: none

defaults-next image should be cimg/node:20.9, not 20.09
  .circleci/config.yml
Due: none

Relax expectation in test
  tests/pino-mozlog/test_index.js
Due: prettier --write, eslint

Update target python version for dennis now that the base image has been updated
  .circleci/config.yml
Due: none

Bump Node.js to 18.x, start testing with 20.x (#12531)
  .circleci/config.yml
  Dockerfile
  package.json
  tests/pino-mozlog/test_index.js
Due: prettier --write, eslint

Send installed add-on version when available
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/installAddon.js
  src/amo/reducers/abuse.js
  src/amo/reducers/installations.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/reducers/test_installations.js
  tests/unit/amo/sagas/test_abuse.js
Due: prettier --write, eslint

Fix build with new ubuntu image
  .circleci/config.yml
Due: none

Send installed add-on version when available (#12530)
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/installAddon.js
  src/amo/reducers/abuse.js
  src/amo/reducers/installations.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/reducers/test_installations.js
  tests/unit/amo/sagas/test_abuse.js
Due: prettier --write, eslint

docs: fixed typos (#12509)
  docs/regional_restrictions.md
  docs/testing.md
Due: none

Hide add-on recommendations on Android
  src/amo/pages/Addon/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Refactor add-on form, show add-on metadata
  src/amo/api/abuse.js
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  src/amo/components/SignedInUser/index.js
  src/amo/components/SignedInUser/styles.scss
  src/amo/pages/Feedback/index.js
  src/amo/pages/Feedback/styles.scss
  src/amo/reducers/abuse.js
  src/amo/reducers/addons.js
  src/amo/sagas/abuse.js
  src/amo/sagas/addons.js
  tests/unit/amo/components/TestSignedInUser.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/sagas/test_abuse.js
  tests/unit/amo/sagas/test_addons.js
Due: prettier --write, eslint, stylelint

Assume non-public add-on when the API returns a 404
  src/amo/pages/Feedback/index.js
  src/amo/sagas/addons.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/sagas/test_addons.js
Due: prettier --write, eslint

Hide add-on recommendations on Android (#12536)
  src/amo/pages/Addon/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Fix success message
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
Due: prettier --write, eslint, stylelint

Add new feature flag to link to the new feedback form on AMO
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/ReportAbuseButton/index.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint
