Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

Bump to redux v5 (#14333)
  package-lock.json
  package.json
  webpack.dev.config.babel.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Fix dark mode text contrast - addon details
  src/amo/components/DefinitionList/styles.scss
Due: stylelint

Add SSDLC and SBOM Actions
  .github/workflows/sbom.yml
  .github/workflows/ssdlc-actions.yml
Due: none

Fix branch
  .github/workflows/ssdlc-actions.yml
Due: none

Add SSDLC and SBOM Actions (#14341)
  .github/workflows/sbom.yml
  .github/workflows/ssdlc-actions.yml
Due: none

Fix dark mode text contrast - addon details (#14340)
  src/amo/components/DefinitionList/styles.scss
Due: stylelint

Fix star rating spacing change
  src/amo/components/RatingManagerNotice/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

fix: CVE-2026-13149 security vulnerability
  package-lock.json
  package.json
Due: none

Bump brace-expansion, shell-quote
  package-lock.json
Due: none

Bump brace-expansion, shell-quote (#14350)
  package-lock.json
Due: none

fix: CVE-2026-14257 security vulnerability
  package-lock.json
  package.json
Due: none

Fix star rating spacing change (#14345)
  src/amo/components/RatingManagerNotice/styles.scss
Due: stylelint

Swith from tag push to release publish for deploy pipeline
  .github/workflows/ci.yml
Due: none

cleanup unused env variables
  .github/workflows/ci.yml
Due: none

Switch from tag push to release publish for deploy pipeline (#14352)
  .github/workflows/ci.yml
Due: none

docker and ci changes to support a single docker image
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  bin/build-prebuilt-assets.js
  bin/select-prebuilt-assets.js
  package.json
Due: prettier --write, eslint

update bin script comments
  bin/build-prebuilt-assets.js
  bin/select-prebuilt-assets.js
Due: prettier --write, eslint

fix docker warnings
  Dockerfile
Due: none

fix feedback nit
  bin/select-prebuilt-assets.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Slovenian (sl)
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Support a single docker image for deployments (#14362)
  .github/actions/build-docker/action.yml
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  bin/build-prebuilt-assets.js
  bin/select-prebuilt-assets.js
  package.json
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Group dependabot updates for ssdlc-actions together
  .github/dependabot.yml
Due: none

Group dependabot updates for ssdlc-actions together (#14394)
  .github/dependabot.yml
Due: none

Update sbom.yml
  .github/workflows/sbom.yml
Due: none

Update ssdlc-actions.yml
  .github/workflows/ssdlc-actions.yml
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

now prettier
  SECURITY.md
Due: none

Fix locales in SSR single image
  .github/workflows/ci.yml
  Dockerfile
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
