Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Rename stories
  stories/amo/Badge.js
  stories/amo/Button.js
  stories/amo/IconPromotedBadge.js
  stories/amo/PromotedBadge.js
  stories/amo/Rating.js
  stories/index.js
Due: prettier --write, eslint

Merge css
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/Categories/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SponsoredAddonsShelf/styles.scss
  src/amo/css/inc/lib.scss
  src/amo/css/inc/vars.scss
  src/amo/css/styles.scss
  src/ui/css/styles.scss
  src/ui/css/vars.scss
  stories/index.js
Due: prettier --write, eslint, stylelint --syntax scss

rename scss var
  src/amo/components/Button/styles.scss
  src/amo/css/inc/vars.scss
Due: stylelint --syntax scss

Update dependency chokidar to v3.5.1
  package.json
  yarn.lock
Due: none

Display "(no name)" for collections with missing names in AddAddonToCollection
  src/amo/components/AddAddonToCollection/index.js
  tests/unit/amo/components/TestAddAddonToCollection.js
Due: prettier --write, eslint

Use a helper for collectionName
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/CollectionDetails/index.js
  src/amo/components/UserCollection/index.js
  src/amo/pages/Collection/index.js
  src/amo/reducers/collections.js
  tests/unit/amo/components/TestAddAddonToCollection.js
  tests/unit/amo/components/TestCollectionDetails.js
  tests/unit/amo/components/TestUserCollection.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/reducers/test_collections.js
Due: prettier --write, eslint

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Update dependency eslint to v7.18.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Update dependency pino to v6.11.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Kaqchikel (cak) localization of AMO Frontend
  locale/cak/LC_MESSAGES/amo.po
Due: none

Update dependency helmet to v4.4.0
  package.json
  yarn.lock
Due: none

Update dependency helmet to v4.4.1
  package.json
  yarn.lock
Due: none

Change wording of Line badge tooltip
  src/amo/components/PromotedBadge/index.js
  tests/unit/amo/components/TestPromotedBadge.js
Due: prettier --write, eslint

Change wording of Line badge tooltip (#10007)
  src/amo/components/PromotedBadge/index.js
  tests/unit/amo/components/TestPromotedBadge.js
Due: prettier --write, eslint

Update dependency history to v5
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.8.3
  package.json
  yarn.lock
Due: none

Pontoon: Update Frisian (fy-NL) localization of AMO Frontend
  locale/fy_NL/LC_MESSAGES/amo.po
Due: none

updated grammar of README file (#9949)
  README.md
Due: none

Display "(no name)" for collections with missing names in AddAddonToCollection (#9995)
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/CollectionDetails/index.js
  src/amo/components/UserCollection/index.js
  src/amo/pages/Collection/index.js
  src/amo/reducers/collections.js
  tests/unit/amo/components/TestAddAddonToCollection.js
  tests/unit/amo/components/TestCollectionDetails.js
  tests/unit/amo/components/TestUserCollection.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/reducers/test_collections.js
Due: prettier --write, eslint

Enable installation buttons for supported extensions in Fenix on prod
  config/default.js
  config/dev.js
  config/development.js
Due: prettier --write, eslint

Enable installation buttons for supported extensions in Fenix on prod
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/WrongPlatformWarning/index.js
  tests/unit/amo/components/TestWrongPlatformWarning.js
Due: prettier --write, eslint

Enable installation buttons for supported extensions in Fenix on prod (#10011)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/WrongPlatformWarning/index.js
  tests/unit/amo/components/TestWrongPlatformWarning.js
Due: prettier --write, eslint

Remove the SponsoredAddonsShelf
  config/default.js
  src/amo/components/SponsoredAddonsShelf/index.js
  src/amo/components/SponsoredAddonsShelf/styles.scss
  src/amo/constants.js
  src/amo/installAddon.js
  src/amo/pages/Home/index.js
  src/amo/sagas/home.js
  src/amo/tracking.js
  stories/amo/SponsoredAddonsShelf.js
  stories/index.js
  stories/setup/styles.scss
  tests/unit/amo/components/TestSponsoredAddonsShelf.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint, stylelint --syntax scss

Remove the SponsoredAddonsShelf (#10006)
  config/default.js
  src/amo/components/SponsoredAddonsShelf/index.js
  src/amo/components/SponsoredAddonsShelf/styles.scss
  src/amo/constants.js
  src/amo/installAddon.js
  src/amo/pages/Home/index.js
  src/amo/sagas/home.js
  src/amo/tracking.js
  stories/amo/SponsoredAddonsShelf.js
  stories/index.js
  stories/setup/styles.scss
  tests/unit/amo/components/TestSponsoredAddonsShelf.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint, stylelint --syntax scss

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Update dependency fs-extra to v9.1.0
  package.json
  yarn.lock
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none
