Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Fix issue with notice icon alignment (#10593)
  src/amo/components/Notice/styles.scss
Due: stylelint --syntax scss

Add gap between promoted badge and add-on name
  src/amo/components/SearchResult/styles.scss
Due: stylelint --syntax scss

Fix Icon width for searchItems
  src/amo/components/SearchResult/styles.scss
Due: stylelint --syntax scss

Use row-gap instead
  src/amo/components/SearchResult/styles.scss
Due: stylelint --syntax scss

Add gap between promoted badge and add-on name (#10594)
  src/amo/components/SearchResult/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Norwegian Bokmål (nb-NO) localization of AMO Frontend
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Avoid generating a <p> inside another <p> in addons versions notice
  src/amo/pages/AddonVersions/index.js
  src/amo/pages/AddonVersions/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Reduce gap in More extensions by author card
  src/amo/components/AddonsByAuthorsCard/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Update dependency jsdom to v16.6.0
  package.json
  yarn.lock
Due: none

Avoid generating a <p> inside another <p> in addons versions notice (#10606)
  src/amo/pages/AddonVersions/index.js
  src/amo/pages/AddonVersions/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency sinon to v11
  package.json
  yarn.lock
Due: none

Add font-display: block on the (preloaded) font subset
  src/fonts/inter.scss
Due: stylelint --syntax scss

Add font-display: block on the (preloaded) font subset (#10611)
  src/fonts/inter.scss
Due: stylelint --syntax scss

Disable the current experiment
  config/default.js
Due: prettier --write, eslint

Disable the current experiment (#10614)
  config/default.js
Due: prettier --write, eslint

Reduce gap in More extensions by author card (#10607)
  src/amo/components/AddonsByAuthorsCard/styles.scss
Due: stylelint --syntax scss

Fix Users Icon width for SearchResult Addons (#10595)
  src/amo/components/SearchResult/styles.scss
Due: stylelint --syntax scss

Update dependency core-js to v3.13.0
  package.json
  yarn.lock
Due: none

Change default addons icon
  jest.config.js
  src/amo/imageUtils.js
  src/amo/img/icons/default-64.png
  src/amo/img/icons/default.svg
  tests/unit/amo/components/TestAddonSummaryCard.js
  tests/unit/amo/components/TestEditableCollectionAddon.js
  tests/unit/amo/components/TestSearchResult.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

Automate generation of fonts / CSS / test HTML page
  bin/find_characters_in_font.py
  bin/regenerate_font.js
  docs/fonts.md
  package.json
  src/amo/components/App/index.js
  src/fonts/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.html
  src/fonts/Inter-roman.var.html
  src/fonts/inter-subset.scss
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-reduced-weights.var.woff2
  src/fonts/woff2/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.woff2
  src/fonts/woff2/Inter-roman.var.woff2
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency pino-pretty to v5
  package.json
  yarn.lock
Due: none

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

Update dependency react-onclickoutside to v6.11.1
  package.json
  yarn.lock
Due: none

Update dependency typescript to v4.3.2
  package.json
  yarn.lock
Due: none

Update dependency flow-bin to ^0.152.0
  package.json
  yarn.lock
Due: none

Change default addons icon (#10617)
  jest.config.js
  src/amo/imageUtils.js
  src/amo/img/icons/default-64.png
  src/amo/img/icons/default.svg
  tests/unit/amo/components/TestAddonSummaryCard.js
  tests/unit/amo/components/TestEditableCollectionAddon.js
  tests/unit/amo/components/TestSearchResult.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

Update dependency react-onclickoutside to v6.11.2
  package.json
  yarn.lock
Due: none

Pontoon: Update Indonesian (id) localization of AMO Frontend
  locale/id/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
