Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Remove temporary experiment (#11880)
  src/amo/experiments/20220908_amo_dimension_test.js
  src/amo/pages/LandingPage/index.js
  tests/unit/amo/pages/TestLandingPage.js
Due: prettier --write, eslint

Pontoon: Update Sinhala (si) localization of AMO Frontend
  locale/si/LC_MESSAGES/amo.po
Due: none

fixes #5627: changed resize to vertical
  src/amo/components/CollectionManager/styles.scss
Due: stylelint

install typescript
  .flowconfig
  package.json
  tsconfig.json
  yarn.lock
Due: none

config updates
  .ackrc
  .eslintrc
  .gitignore
  babel.config.js
  jest.config.js
  package.json
  tsconfig.json
Due: prettier --write, eslint

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Fix broken import
  src/amo/i18n/utils.js
Due: prettier --write, eslint

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

Only update the *next* version of node
  .circleci/config.yml
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Get addon icon urls form API's icons object with specific icon size
  src/amo/imageUtils.js
  src/amo/reducers/addons.js
  src/amo/types/addons.js
  tests/unit/amo/components/TestAddonSummaryCard.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_imageUtils.js
  tests/unit/helpers.js
Due: prettier --write, eslint

handle getAddonUrl edge cases
  src/amo/imageUtils.js
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

remove throwing error in getAddonUrl
  src/amo/imageUtils.js
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

refactor getAddonIconUrl tests
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

fix test_imageUtils format and namming
  tests/unit/amo/test_imageUtils.js
Due: prettier --write, eslint

Get add-on icon URL form API's icons object with specific icon size (#11892)
  src/amo/imageUtils.js
  src/amo/reducers/addons.js
  src/amo/types/addons.js
  tests/unit/amo/components/TestAddonSummaryCard.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_imageUtils.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
