Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Prevent links from being rendered in user bios
  src/amo/pages/UserProfile/index.js
  src/amo/utils/index.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Fix expect call
  tests/unit/amo/pages/TestUserProfile.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Friulian (fur)
  locale/fur/LC_MESSAGES/amo.po
Due: none

Don't pass naked boolean as argument
  src/amo/pages/UserProfile/index.js
  src/amo/utils/index.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Turkish (tr)
  locale/tr/LC_MESSAGES/amo.po
Due: none

Prevent links from being rendered in user bios (#13643)
  src/amo/pages/UserProfile/index.js
  src/amo/utils/index.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Use render prop instead of child mapping
  src/amo/components/AddonBadges/index.js
  src/amo/components/Badge/index.js
  src/amo/components/Badge/styles.scss
  src/amo/components/SearchResult/index.js
  src/amo/components/SearchSuggestion/index.js
  src/amo/utils/promoted.js
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint

Use built-in for zeeeee rounding.
  src/amo/components/AddonBadges/index.js
Due: prettier --write, eslint

TMP: fix hardcoded user count
  src/amo/components/AddonBadges/index.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Respond to fixes from copilot
  src/amo/components/Badge/index.js
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/utils/test_promoted.js
Due: prettier --write, eslint

Restructure addon detail page header (#13638)
  src/amo/components/AddonBadges/index.js
  src/amo/components/AddonBadges/styles.scss
  src/amo/components/AddonMeta/index.js
  src/amo/components/AddonMeta/styles.scss
  src/amo/components/AddonSummaryCard/index.js
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/components/Badge/index.js
  src/amo/components/Badge/styles.scss
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/Icon/img/star-full.svg
  src/amo/components/IconPromotedBadge/index.js
  src/amo/components/IconPromotedBadge/styles.scss
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/components/InstallWarning/index.js
  src/amo/components/InstallWarning/styles.scss
  src/amo/components/PromotedBadge/index.js
  src/amo/components/PromotedBadge/styles.scss
  src/amo/components/SearchResult/index.js
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SearchSuggestion/index.js
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  src/amo/utils/index.js
  src/amo/utils/promoted.js
  src/blog-utils/StaticAddonCard/styles.scss
  src/blog-utils/index.js
  tests/unit/amo/components/TestAddonMeta.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestBadge.js
  tests/unit/amo/components/TestIconPromotedBadge.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestAddonVersions.js
  tests/unit/amo/utils/test_index.js
  tests/unit/amo/utils/test_promoted.js
Due: prettier --write, eslint, stylelint

Minor style fixes from 15626
  src/amo/components/Badge/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Greek (el)
  locale/el/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Canada) (en-CA)
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Croatian (hr)
  locale/hr/LC_MESSAGES/amo.po
Due: none

Add gap to badge link
  src/amo/components/Badge/styles.scss
Due: stylelint

Fix spacing and sizing of Badge and Badge Content (#13648)
  src/amo/components/Badge/styles.scss
Due: stylelint

Fix broken theme thumbnail (quick fix)
  src/amo/components/ThemeImage/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Fix theme preview layout on large-extra large
  src/amo/components/ThemeImage/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Fix broken theme thumbnail (quick fix) (#13653)
  src/amo/components/ThemeImage/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint
