Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

Prettierify the docs
  docs/fonts.md
Due: none

Add circle ci job checking if fonts in the repos regenerate the same
  .circleci/config.yml
  package.json
Due: none

Set python version before calling pip
  .circleci/config.yml
Due: none

Use a different docker image for checks with both python and node installed
  .circleci/config.yml
Due: none

Now remove pyenv...
  .circleci/config.yml
Due: none

Implement new CTAs as permanent and remove most of the experiment code
  config/default.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/experiments/20210404_download_cta_experiment.js
  src/amo/pages/Addon/index.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/TestStaticAddonCard.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Update Node.js to v16
  .circleci/config.yml
Due: none

Update dependency core-js to v3.13.1
  package.json
  yarn.lock
Due: none

Update dependency react-transition-group to v4.4.2
  package.json
  yarn.lock
Due: none

Update dependency hot-shots to v8.3.2
  package.json
  yarn.lock
Due: none

Prettier fix
  src/amo/components/HomepageShelves/index.js
Due: prettier --write, eslint

HomepageShelves return AddonCards (when not loading)
  src/amo/components/HomepageShelves/index.js
  src/amo/components/HomepageShelves/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

HomepageShelves return CardList (when not loading)
  src/amo/components/HomepageShelves/index.js
Due: prettier --write, eslint

HomepageShelves return Card (when not loading)
  src/amo/components/HomepageShelves/index.js
Due: prettier --write, eslint

Remove dead code from InstallButtonWrapper
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Update dependency addons-moz-compare to v1.1.0
  package.json
  yarn.lock
Due: none

Update dependency pino-mozlog to v2.5.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

Automate generation of fonts / CSS / test HTML page (#10568)
  .circleci/config.yml
  bin/find_characters_in_font.py
  bin/regenerate_font.js
  docs/fonts.md
  package.json
  src/amo/components/App/index.js
  src/fonts/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.html
  src/fonts/Inter-roman.var.html
  src/fonts/inter-subset.scss
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-reduced-weights.var.woff2
  src/fonts/woff2/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.woff2
  src/fonts/woff2/Inter-roman.var.woff2
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Update cimg/python Docker tag to v3.9
  .circleci/config.yml
Due: none

Fix layout of dismiss text form buttons
  src/amo/components/ReportAbuseButton/styles.scss
Due: stylelint --syntax scss

Address review comment
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Implement new CTAs as permanent and remove most of the experiment code (#10627)
  config/default.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/experiments/20210404_download_cta_experiment.js
  src/amo/pages/Addon/index.js
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/blog-utils/TestStaticAddonCard.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency dompurify to v2.2.9
  package.json
  yarn.lock
Due: none

Update dependency sass-loader to v12
  package.json
  yarn.lock
Due: none

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Spanish (es) localization of AMO Frontend
  locale/es/LC_MESSAGES/amo.po
Due: none

Update dependency web-vitals to v2
  package.json
  yarn.lock
Due: none
