Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Use installed add-on name when available, otherwise hide the add-on header when we don't have much information (#12625)
  package.json
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/installAddon.js
  src/amo/reducers/installations.js
  src/amo/sagas/addons.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/reducers/test_installations.js
Due: prettier --write, eslint

Update report button text
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/ReportUserAbuse/index.js
  src/amo/pages/Collection/index.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestUserProfile.js
Due: prettier --write, eslint

Update copy in user profile feedback form
  src/amo/pages/UserFeedback/index.js
Due: prettier --write, eslint

Update report button text (#12630)
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/ReportUserAbuse/index.js
  src/amo/pages/Collection/index.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestUserProfile.js
Due: prettier --write, eslint

Improve accessibility of the feedback form
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

chore(): remove duplicate deps in package.json
  package.json
  yarn.lock
Due: none

chore(): remove duplicate deps in package.json (#12638)
  package.json
  yarn.lock
Due: none

Update copy in user profile feedback form (#12632)
  src/amo/pages/UserFeedback/index.js
Due: prettier --write, eslint

Improve accessibility of the feedback form (#12635)
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Use replaceStringsWithJSX() in FeedbackForm to get proper localized strings
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint, stylelint

Use replaceStringsWithJSX() in FeedbackForm to get proper localized strings (#12641)
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
  tests/unit/amo/pages/TestAddonFeedback.js
  tests/unit/amo/pages/TestCollectionFeedback.js
  tests/unit/amo/pages/TestRatingFeedback.js
  tests/unit/amo/pages/TestUserFeedback.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Upper (hsb) localization of AMO Frontend
  locale/hsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Hebrew (he) localization of AMO Frontend
  locale/he/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Italian (it) localization of AMO Frontend
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Sorbian, Lower (dsb) localization of AMO Frontend
  locale/dsb/LC_MESSAGES/amo.po
Due: none

Pontoon: Update German (de) localization of AMO Frontend
  locale/de/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Canada) (en-CA) localization of AMO Frontend
  locale/en_CA/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Chinese (Taiwan) (zh-TW) localization of AMO Frontend
  locale/zh_TW/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Friulian (fur) localization of AMO Frontend
  locale/fur/LC_MESSAGES/amo.po
Due: none

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Dutch (nl) localization of AMO Frontend
  locale/nl/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
