Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Fix how we call getEnv on config (#14033)
  src/amo/server/base.js
  webpack.dev.config.babel.js
Due: prettier --write, eslint

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Migrate analytics from UA+gtag.js to Google Tag Manager (GA4)
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
  config/stage.js
  src/amo/client/base.js
  src/amo/components/AddonRecommendations/index.js
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/ContributeCard/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/components/ServerHtml/index.js
  src/amo/components/VPNPromoBanner/index.js
  src/amo/constants.js
  src/amo/installAddon.js
  src/amo/pages/Addon/index.js
  src/amo/tracking.js
  src/amo/withExperiment.js
  src/blog-utils/tracking.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/blog-utils/test_tracking.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Bump Node.js to 22.x
  .circleci/config.yml
  Dockerfile
Due: none

Here too
  .github/workflows/ci.yml
  package.json
Due: none

Disable -next builds: currently broken with Node 24
  .circleci/config.yml
Due: none

Bump Node.js to 22.x (#14064)
  .circleci/config.yml
  .github/workflows/ci.yml
  Dockerfile
  package.json
Due: none

Replace hardcoded SCSS color values with CSS custom properties
  src/amo/components/AddonSuggestions/styles.scss
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/components/AddonsCard/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/AutoSearchInput/styles.scss
  src/amo/components/Card/styles.scss
  src/amo/components/CardList/styles.scss
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/ExpandableCard/styles.scss
  src/amo/components/Footer/styles.scss
  src/amo/components/Header/styles.scss
  src/amo/components/Page/styles.scss
  src/amo/components/Paginate/styles.scss
  src/amo/components/Search/styles.scss
  src/amo/components/SearchFilters/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/components/TooltipMenu/styles.scss
  src/amo/css/inc/_theme.scss
  src/amo/css/inc/mixins.scss
  src/amo/css/styles.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/CollectionList/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LandingPage/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: stylelint

Fix Prettier formatting in Select styles
  src/amo/components/Select/styles.scss
Due: stylelint

Fix undefined $yellow-40 variable in production build
  src/amo/css/inc/_theme.scss
Due: stylelint

Convert border and outline colors to CSS custom properties
  src/amo/components/Badge/styles.scss
  src/amo/components/Card/styles.scss
  src/amo/components/CollectionAddAddon/styles.scss
  src/amo/components/CollectionManager/styles.scss
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/UserProfileEditNotifications/styles.scss
  src/amo/pages/Addon/styles.scss
  src/amo/pages/LanguageTools/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Czech (cs)
  locale/cs/LC_MESSAGES/amo.po
Due: none

Uplift ContributeCard to use same pattern as other components for props
  src/amo/components/ContributeCard/index.js
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint

Migrate analytics from UA+gtag.js to Google Tag Manager (GA4) (#14060)
  config/default.js
  config/dev.js
  config/development.js
  config/lib/shared.js
  config/stage.js
  src/amo/client/base.js
  src/amo/components/AddonRecommendations/index.js
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/ContributeCard/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/components/ServerHtml/index.js
  src/amo/components/VPNPromoBanner/index.js
  src/amo/constants.js
  src/amo/installAddon.js
  src/amo/tracking.js
  src/amo/withExperiment.js
  src/blog-utils/tracking.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPage-VPNPromoBanner.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/blog-utils/test_tracking.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Migrate analytics from UA+gtag.js to Google Tag Manager (GA4)
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
Due: prettier --write, eslint

Remove UTM params from internal AMO links
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/SecondaryHero/index.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
Due: prettier --write, eslint

Migrate analytics from UA+gtag.js to Google Tag Manager (GA4)
  src/amo/components/ContributeCard/index.js
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint

Roll forward ContributeCard prop changes
  src/amo/components/ContributeCard/index.js
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint

Add collection and hero impression tracking events
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/CollectionAddAddon/index.js
  src/amo/components/CollectionManager/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/constants.js
  src/amo/pages/Collection/index.js
  src/amo/sagas/collections.js
  tests/unit/amo/components/TestAddAddonToCollection.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/sagas/test_collections.js
Due: prettier --write, eslint

Roll back UTM params removal from unit test
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
Due: prettier --write, eslint

Bump minimatch
  yarn.lock
Due: none

Bump minimatch (#14095)
  yarn.lock
Due: none

Remove unnecessary code change in TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
Due: prettier --write, eslint

New collection & hero tracking analytics events (#14090)
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/CollectionAddAddon/index.js
  src/amo/components/CollectionManager/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/constants.js
  src/amo/pages/Collection/index.js
  src/amo/sagas/collections.js
  tests/unit/amo/components/TestAddAddonToCollection.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/sagas/test_collections.js
Due: prettier --write, eslint

Bump several npm packages
  yarn.lock
Due: none

Bump several npm packages (#14102)
  yarn.lock
Due: none

Remove obsolete full-icu package
  package.json
  yarn.lock
Due: none

Remove obsolete full-icu package (#14106)
  package.json
  yarn.lock
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Arabic (ar)
  locale/ar/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Finnish (fi)
  locale/fi/LC_MESSAGES/amo.po
Due: none

Remove utm_* query parameters from internal AMO links while browsing to stop pollution of GA4 data
  src/amo/components/AddonSuggestions/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/constants.js
  src/amo/installAddon.js
  src/amo/pages/Addon/index.js
  src/amo/reducers/addonInstallSource.js
  src/amo/store.js
  src/amo/utils/installAttribution.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestSearchResults.js
  tests/unit/amo/pages/TestAddon-AddonSuggestions.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
Due: prettier --write, eslint

Push page variables to GTM datalayer
  src/amo/pages/Addon/index.js
  src/amo/tracking.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
