Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon: Update Friulian (fur) localization of AMO Frontend
  locale/fur/LC_MESSAGES/amo.po
Due: none

Bump webpack-dev-middleware from 6.0.2 to 6.1.1
  package.json
  yarn.lock
Due: none

rebrand to mza based on date.
  README.md
  src/amo/constants.js
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

add tests for accounts branding
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

add feedback form
  config/default.js
  config/dev.js
  config/development.js
  src/amo/api/abuse.js
  src/amo/components/Routes/index.js
  src/amo/pages/Feedback/index.js
  src/amo/pages/Feedback/styles.scss
  src/amo/reducers/abuse.js
  src/amo/sagas/abuse.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/reducers/test_abuse.js
  tests/unit/amo/sagas/test_abuse.js
Due: prettier --write, eslint, stylelint

attempt to fix tests mocks
  src/amo/constants.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/utils.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

remove unused import
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

make the banner and style it
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/styles.scss
Due: prettier --write, eslint, stylelint

Add/change reasons; adjust copy
  src/amo/pages/Feedback/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

add the learn more button
  src/amo/pages/UserProfileEdit/index.js
Due: prettier --write, eslint

A to a, move exports, add @flow, fix gettext
  README.md
  src/amo/constants.js
  src/amo/pages/UserProfileEdit/index.js
  src/amo/pages/UserProfileEdit/utils.js
  src/amo/utils/fxa.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

use getTime method for utc comp
  src/amo/utils/fxa.js
Due: prettier --write, eslint

revert date comparison, remove unneeded import
  src/amo/utils/fxa.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

tests for the banner
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

fix fxa naming
  src/amo/pages/UserProfileEdit/index.js
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

better naming
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
