Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon: Update Indonesian (id) localization of AMO Frontend
  locale/id/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Punjabi (pa-IN) localization of AMO Frontend
  locale/pa_IN/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Bump semver to 5.7.2/6.3.1
  yarn.lock
Due: none

Bump semver to 5.7.2/6.3.1 (#12375)
  yarn.lock
Due: none

Pontoon: Update Portuguese (Brazil) (pt-BR) localization of AMO Frontend
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

WIP
  config/default.js
  config/dev.js
  config/development-local.js
  config/development.js
  src/amo/api/index.js
  src/amo/api/search.js
  src/amo/searchUtils.js
  src/amo/utils/compatibility.js
Due: prettier --write, eslint

Remove `restrictSearchResultsToAppVersion` config option
  config/default.js
  config/development.js
  src/amo/searchUtils.js
  tests/unit/amo/api/test_search.js
  tests/unit/amo/test_searchUtils.js
Due: prettier --write, eslint

Remove `restrictSearchResultsToAppVersion` config option (#12399)
  config/default.js
  config/development.js
  src/amo/searchUtils.js
  tests/unit/amo/api/test_search.js
  tests/unit/amo/test_searchUtils.js
Due: prettier --write, eslint

Remove filters on recommended for Android extensions (with a feature flag)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/SearchFilters/index.js
  src/amo/constants.js
  src/amo/searchUtils.js
  src/amo/utils/compatibility.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/test_searchUtils.js
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Remove filters on recommended for Android extensions (with a feature flag) (#12400)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/SearchFilters/index.js
  src/amo/constants.js
  src/amo/searchUtils.js
  src/amo/utils/compatibility.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/test_searchUtils.js
  tests/unit/amo/utils/test_compatibility.js
Due: prettier --write, eslint

Enable non-recommended extensions for Android on all envs
  config/default.js
Due: prettier --write, eslint

Enable non-recommended extensions for Android on all envs (#12415)
  config/default.js
Due: prettier --write, eslint

Include Add-on name and Add-on Icon in each review under "My reviews" on User Profile
  src/amo/components/AddonReviewCard/index.js
  src/amo/components/AddonReviewCard/styles.scss
Due: prettier --write, eslint, stylelint

Add tests for checking Add-on name in AddonReviewCard
  src/amo/components/AddonReviewCard/index.js
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint

Conditionally render Add-on name and Add-on Icon for review only in User Profile
  src/amo/components/AddonReviewCard/index.js
  src/amo/pages/UserProfile/index.js
Due: prettier --write, eslint

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Update review.js
  src/amo/actions/reviews.js
Due: prettier --write, eslint

Update TestAddonReviewCard.js
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint

Update index.js
  src/amo/components/AddonReviewCard/index.js
Due: prettier --write, eslint

Update Santali to Ol Chiki script in languages.js
  src/amo/languages.js
Due: prettier --write, eslint

Implement changes based on code review
  src/amo/actions/reviews.js
  src/amo/api/reviews.js
  src/amo/components/AddonReviewCard/index.js
  src/amo/components/AddonReviewCard/styles.scss
  tests/unit/amo/reducers/test_reviews.js
Due: prettier --write, eslint, stylelint

Update reviews.js
  src/amo/api/reviews.js
Due: prettier --write, eslint

Update styles.css to modify formatting, based on UX mockup
  src/amo/components/AddonReviewCard/styles.scss
Due: stylelint

Update Santali to Ol Chiki script in languages.js (#12429)
  src/amo/languages.js
Due: prettier --write, eslint

Pass current locale to selectLocalizedContent for review localizations.
  src/amo/actions/reviews.js
  src/amo/reducers/reviews.js
Due: prettier --write, eslint

Update styles.css to left-align add-on icon with rating and review body
  src/amo/components/AddonReviewCard/styles.scss
Due: stylelint

Add test
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint

Pontoon: Update Sinhala (si) localization of AMO Frontend
  locale/si/LC_MESSAGES/amo.po
Due: none
