Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Convert authentication button to link
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

change authentication button to link
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/Header/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

change authentication button to link
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Changes made in AuthenticateButton/index.js to convert button to link
  src/amo/components/AuthenticateButton/index.js
Due: prettier --write, eslint

rebasing
  src/amo/components/AuthenticateButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

rebasing
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

rebasing
  src/amo/components/Header/index.js
  src/amo/components/Header/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

convert button to link
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

not happening
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

happening
  tests/unit/amo/components/TestAuthenticateButton.js
Due: prettier --write, eslint

Update dependency html-entities to v2.3.2
  package.json
  yarn.lock
Due: none

Allow Footer to render without a language picker (#10286)
  src/amo/components/Footer/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestFooter.js
Due: prettier --write, eslint

WIP card
  README.md
  bin/create-package-json-for-card
  package.json
  src/card/index.js
  src/card/styles.scss
  src/card/tracking.js
  tests/unit/card/test_index.js
  webpack.card.config.babel.js
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Reset clientApp if it differs on the URL (#10275)
  src/amo/components/App/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestApp.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Update experiment code to deal with anonymous page caching
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Address review comments
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

WIP - created homepage shelves api/component, update pages/reducers/saga
  src/amo/api/homeShelves.js
  src/amo/components/HomepageShelves/index.js
  src/amo/components/LandingAddonsCard/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/pages/Collection/index.js
  src/amo/pages/Home/index.js
  src/amo/reducers/home.js
  src/amo/reducers/versions.js
  src/amo/sagas/home.js
  tests/unit/amo/api/test_homeShelves.js
  tests/unit/amo/components/TestHeroRecommendation.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/components/TestLandingAddonsCard.js
  tests/unit/amo/components/TestSecondaryHero.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Updates based on 3/30 feedback
  src/amo/components/HomepageShelves/index.js
  tests/unit/amo/sagas/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Introduce addons-frontend-blog-utils library
  .circleci/config.yml
  README.md
  bin/create-package-json-for-blog-utils
  package.json
  src/blog-utils/index.js
  src/blog-utils/styles.scss
  src/blog-utils/tracking.js
  tests/unit/blog-utils/test_index.js
  webpack.blog-utils.config.babel.js
Due: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Thai (th) localization of AMO Frontend
  locale/th/LC_MESSAGES/amo.po
Due: none

Update dependency core-js to v3.10.0
  package.json
  yarn.lock
Due: none

Add Link rel=preconnect header to our CDN domains
  src/amo/server/base.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint

Address review comments
  src/amo/withExperiment.js
Due: prettier --write, eslint

Update dependency classnames to v2.3.0
  package.json
  yarn.lock
Due: none

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Telugu (te) localization of AMO Frontend
  locale/te/LC_MESSAGES/amo.po
Due: none

Create a GetFirefoxBanner component
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxBanner/styles.scss
  tests/unit/amo/components/TestGetFirefoxBanner.js
Due: prettier --write, eslint, stylelint --syntax scss

Update experiment code to deal with anonymous page caching (#10292)
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

handle server urls that are both app and locale exceptions
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Log an enrollment event on the server, and issue it on the client
  src/amo/client/base.js
  src/amo/reducers/tracking.js
  src/amo/store.js
  src/amo/tracking.js
  src/amo/withExperiment.js
Due: prettier --write, eslint

changes done
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Update dependency flow-bin to ^0.148.0
  package.json
  yarn.lock
Due: none

Update dependency ua-parser-js to v0.7.27
  package.json
  yarn.lock
Due: none

Update dependency full-icu to v1.3.4
  package.json
  yarn.lock
Due: none

Pontoon: Update Georgian (ka) localization of AMO Frontend
  locale/ka/LC_MESSAGES/amo.po
Due: none

Update dependency classnames to v2.3.1
  package.json
  yarn.lock
Due: none

Update - Links Updated
  src/amo/components/Footer/index.js
Due: prettier --write, eslint
