Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Assume non-public add-on when the API returns a 404 (#12540)
  src/amo/pages/Feedback/index.js
  src/amo/sagas/addons.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/sagas/test_addons.js
Due: prettier --write, eslint

Add disclaimer next to message textarea in feedback form (#12548)
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
Due: prettier --write, eslint, stylelint

Hide location when the does_not_work category is selected
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Tweak the FeedbackForm for add-on types other than "extension"
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Tweak the FeedbackForm for add-on types other than "extension" (#12552)
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Hide abuse report button for langpacks (#12555)
  src/amo/components/RatingManager/index.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint

Pontoon: Update Friulian (fur) localization of AMO Frontend
  locale/fur/LC_MESSAGES/amo.po
Due: none

Hide location when the does_not_work category is selected (#12551)
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Fetch add-on with group ratings in feedback form
  src/amo/pages/Feedback/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Allow to submit user feedback with more information
  src/amo/api/abuse.js
  src/amo/components/ReportUserAbuse/index.js
  src/amo/reducers/userAbuseReports.js
  src/amo/sagas/userAbuseReports.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/reducers/test_userAbuseReports.js
  tests/unit/amo/sagas/test_userAbuseReports.js
Due: prettier --write, eslint

Allow to submit user feedback with more information (#12569)
  src/amo/api/abuse.js
  src/amo/components/ReportUserAbuse/index.js
  src/amo/reducers/userAbuseReports.js
  src/amo/sagas/userAbuseReports.js
  tests/unit/amo/api/test_abuse.js
  tests/unit/amo/reducers/test_userAbuseReports.js
  tests/unit/amo/sagas/test_userAbuseReports.js
Due: prettier --write, eslint

Fetch add-on with group ratings in feedback form (#12567)
  src/amo/pages/Feedback/index.js
  tests/unit/amo/pages/TestFeedback.js
Due: prettier --write, eslint

Revert "Bump Node.js to 18.x, start testing with 20.x (#12531)"
  .circleci/config.yml
  Dockerfile
  package.json
  tests/pino-mozlog/test_index.js
Due: prettier --write, eslint

Set location to "addon" for non-public add-ons and `does_not_work` category
  src/amo/components/FeedbackForm/index.js
  src/amo/sagas/addons.js
  src/amo/types/addons.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/sagas/test_addons.js
Due: prettier --write, eslint

Set location to "addon" for non-public add-ons and `does_not_work` category (#12554)
  src/amo/components/FeedbackForm/index.js
  src/amo/sagas/addons.js
  src/amo/types/addons.js
  tests/unit/amo/pages/TestFeedback.js
  tests/unit/amo/sagas/test_addons.js
Due: prettier --write, eslint

Rename FeedbackForm to AddonFeedbackForm
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/AddonFeedbackForm/styles.scss
  src/amo/pages/Feedback/index.js
Due: prettier --write, eslint, stylelint

Revert "Bump Node.js to 18.x, start testing with 20.x (#12531)" (#12570)
  .circleci/config.yml
  Dockerfile
  package.json
  tests/pino-mozlog/test_index.js
Due: prettier --write, eslint

Revert "Fix build with new ubuntu image"
  .circleci/config.yml
Due: none

Revert "Fix build with new ubuntu image" (#12580)
  .circleci/config.yml
Due: none

Pontoon: Update Portuguese (Portugal) (pt-PT) localization of AMO Frontend
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Rename FeedbackForm to AddonFeedbackForm (#12560)
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/AddonFeedbackForm/styles.scss
  src/amo/pages/Feedback/index.js
Due: prettier --write, eslint, stylelint

Rename `Feedback` page component to `AddonFeedback`
  src/amo/components/Routes/index.js
  src/amo/pages/AddonFeedback/index.js
  src/amo/pages/AddonFeedback/styles.scss
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint, stylelint

Rename `Feedback` page component to `AddonFeedback` (#12565)
  src/amo/components/Routes/index.js
  src/amo/pages/AddonFeedback/index.js
  src/amo/pages/AddonFeedback/styles.scss
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint, stylelint

Add FeedbackForm
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
Due: prettier --write, eslint, stylelint

Use FeedbackForm in AddonFeedbackForm
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/AddonFeedbackForm/styles.scss
Due: prettier --write, eslint, stylelint

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

Fix add-on name (type) in review API response
  src/amo/actions/reviews.js
  src/amo/api/reviews.js
  src/amo/reducers/reviews.js
  src/amo/sagas/reviews.js
  tests/unit/amo/actions/test_reviews.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_reviews.js
  tests/unit/amo/sagas/test_reviews.js
Due: prettier --write, eslint

Add reusable `FeedbackForm` component and use it in the `AddonFeedbackForm` (#12562)
  src/amo/components/AddonFeedbackForm/index.js
  src/amo/components/AddonFeedbackForm/styles.scss
  src/amo/components/FeedbackForm/index.js
  src/amo/components/FeedbackForm/styles.scss
Due: prettier --write, eslint, stylelint

Fix spam label
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint

Fix spam label (#12572)
  src/amo/components/FeedbackForm/index.js
  tests/unit/amo/pages/TestAddonFeedback.js
Due: prettier --write, eslint

Fix add-on name (type) in review API response (#12583)
  src/amo/actions/reviews.js
  src/amo/api/reviews.js
  src/amo/reducers/reviews.js
  src/amo/sagas/reviews.js
  tests/unit/amo/actions/test_reviews.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_reviews.js
  tests/unit/amo/sagas/test_reviews.js
Due: prettier --write, eslint

Introduce new page for user feedback
  src/amo/components/ReportUserAbuse/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/AddonFeedback/index.js
  src/amo/pages/UserFeedback/index.js
  src/amo/pages/UserFeedback/styles.scss
  tests/unit/amo/pages/TestUserFeedback.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint

Introduce new page for user feedback (#12563)
  src/amo/components/ReportUserAbuse/index.js
  src/amo/components/Routes/index.js
  src/amo/pages/AddonFeedback/index.js
  src/amo/pages/UserFeedback/index.js
  src/amo/pages/UserFeedback/styles.scss
  tests/unit/amo/pages/TestUserFeedback.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
