Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Sinhala (si)
  locale/si/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Portuguese (Portugal) (pt-PT)
  locale/pt_PT/LC_MESSAGES/amo.po
Due: none

Add github actions to dependabot.yml
  .github/dependabot.yml
Due: none

Add github actions to dependabot.yml (#13462)
  .github/dependabot.yml
Due: none

Pontoon/AMO Frontend: Update Spanish (Mexico) (es-MX)
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Remove broken es_MX translations
  locale/es_MX/LC_MESSAGES/amo.po
Due: none

Also align center
  src/amo/components/SearchResult/styles.scss
Due: stylelint

Tweak promoted badges to match the spec and be a bit more balanced
  src/amo/components/IconPromotedBadge/styles.scss
  src/amo/components/PromotedBadge/styles.scss
Due: stylelint

Change margin & alignment so that it doesn't look bad on mobile
  src/amo/components/SearchResult/styles.scss
Due: stylelint

Translate in the other direction in rtl
  src/amo/components/IconPromotedBadge/styles.scss
Due: stylelint

Reduce margin for small badge a bit more
  src/amo/components/PromotedBadge/styles.scss
Due: stylelint

Tweaks to promoted badges layout (#13469)
  src/amo/components/IconPromotedBadge/styles.scss
  src/amo/components/PromotedBadge/styles.scss
  src/amo/components/SearchResult/styles.scss
Due: stylelint

Fix extensions/themes on user profile page, keep margin for "More add-ons by" card
  src/amo/components/AddonsByAuthorsCard/styles.scss
Due: stylelint

Fix extensions/themes on user profile page, keep margin for "More add-ons by" card (#13472)
  src/amo/components/AddonsByAuthorsCard/styles.scss
Due: stylelint

Bump Node.js to 20.x
  .circleci/config.yml
  Dockerfile
Due: none

Pontoon/AMO Frontend: Update Indonesian (id)
  locale/id/LC_MESSAGES/amo.po
Due: none

Bump Node.js to 20.x (#13473)
  .circleci/config.yml
  Dockerfile
Due: none

Disable locales that have a completion rate below 40%
  config/default.js
  tests/unit/test_localesConfig.js
Due: prettier --write, eslint

Update rtl test to use a locale we're keeping
  tests/unit/amo/components/TestAddonTitle.js
Due: prettier --write, eslint

Disable locales that have a completion rate below 40% (#13482)
  config/default.js
  tests/unit/amo/components/TestAddonTitle.js
  tests/unit/test_localesConfig.js
Due: prettier --write, eslint
