Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Add missing drop shadow to theme previews (#13888)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update Bulgarian (bg)
  locale/bg/LC_MESSAGES/amo.po
Due: none

Fix alignment in ratings (by star) component (#13890)
  src/amo/components/RatingsByStar/index.js
  src/amo/components/RatingsByStar/styles.scss
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/components/TestAddonSummaryCard.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/components/TestRatingsByStar.js
Due: prettier --write, eslint, stylelint

Fix read more link in the UserReview component
  src/amo/components/UserReview/index.js
  src/amo/components/UserReview/styles.scss
Due: prettier --write, eslint, stylelint

Fix read more link in the UserReview component (#13891)
  src/amo/components/UserReview/index.js
  src/amo/components/UserReview/styles.scss
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Albanian (sq)
  locale/sq/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

use secure method for checking that the user is dependabot
  .github/actions/context/action.yml
Due: none

use secure method for checking that the user is dependabot (#13896)
  .github/actions/context/action.yml
Due: none

Bump eslint-config-amo to 6.1.0
  .eslintrc
  .flowconfig
  package.json
  src/amo/utils/errors.js
  yarn.lock
Due: prettier --write, eslint

Bump eslint-config-amo to 6.1.0 (#13898)
  .eslintrc
  .flowconfig
  package.json
  src/amo/utils/errors.js
  yarn.lock
Due: prettier --write, eslint

fix snapshot
  tests/pino-mozlog/__snapshots__/test_functional.js.snap
Due: none

Enable flow on src/amo/reducers/utils.js
  src/amo/actions/reviews.js
  src/amo/components/HomepageShelves/index.js
  src/amo/pages/AddonInfo/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/autocomplete.js
  src/amo/reducers/blocks.js
  src/amo/reducers/home.js
  src/amo/reducers/utils.js
  src/amo/reducers/versions.js
  src/amo/types/addons.js
  tests/unit/amo/reducers/test_versions.js
Due: prettier --write, eslint

Enable flow on src/amo/reducers/utils.js (#13909)
  src/amo/actions/reviews.js
  src/amo/components/HomepageShelves/index.js
  src/amo/pages/AddonInfo/index.js
  src/amo/reducers/addons.js
  src/amo/reducers/autocomplete.js
  src/amo/reducers/blocks.js
  src/amo/reducers/home.js
  src/amo/reducers/utils.js
  src/amo/reducers/versions.js
  src/amo/types/addons.js
  tests/unit/amo/reducers/test_versions.js
Due: prettier --write, eslint

run prettier
  .stylelintrc
  docs/experiments.md
  docs/moz-addon-manager.md
  src/amo/components/AMInstallButton/index.js
  src/amo/components/AddonAdminLinks/index.js
  src/amo/components/Button/styles.scss
  src/amo/components/ContributeCard/index.js
  src/amo/components/Errors/NotAuthorized/index.js
  src/amo/components/Errors/ServerError/index.js
  src/amo/components/HostPermissions/index.js
  src/amo/components/PermissionsCard/index.js
  src/amo/components/SearchResults/index.js
  src/amo/components/SectionLinks/styles.scss
  src/amo/components/SignedInUser/index.js
  src/amo/components/UserCollection/index.js
  src/amo/components/UserReview/index.js
  src/amo/components/VPNPromoBanner/styles.scss
  src/amo/css/inc/mixins.scss
  src/amo/css/inc/vars.scss
  src/amo/errorHandler.js
  src/fonts/inter-subset.scss
  src/fonts/inter.scss
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_addonsByAuthors.js
  tests/unit/amo/test_errorHandler.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint

fix bin/regenerate_font.js
  bin/regenerate_font.js
Due: prettier --write, eslint

run stylelint --fix
  src/amo/components/Rating/styles.scss
  src/amo/components/ScreenShots/styles.scss
  src/amo/pages/Addon/styles.scss
Due: stylelint

fix imports
  jest.config.js
  tests/unit/amo/server/test_base.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint

Adjust Block page for deleted versions/add-ons
  src/amo/pages/Block/index.js
  src/amo/pages/Block/styles.scss
  tests/unit/amo/pages/TestBlock.js
Due: prettier --write, eslint, stylelint

Adjust Block page for deleted versions/add-ons (#13912)
  src/amo/pages/Block/index.js
  src/amo/pages/Block/styles.scss
  tests/unit/amo/pages/TestBlock.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Russian (ru)
  locale/ru/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Portuguese (Brazil) (pt-BR)
  locale/pt_BR/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Vietnamese (vi)
  locale/vi/LC_MESSAGES/amo.po
Due: none

Bump js-yaml to 4.1.1/3.14.2
  yarn.lock
Due: none

Bump js-yaml to 4.1.1/3.14.2 (#13928)
  yarn.lock
Due: none

Use 302 instead of 301 when redirecting for an invalid lang
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Bump glob 10.4.5 to 10.5.0
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint: any of: *.scss
