Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Pontoon/AMO Frontend: Update Chinese (China) (zh-CN)
  locale/zh_CN/LC_MESSAGES/amo.po
Due: none

move Recommendations and Permissions cards; set to 3 columns
  src/amo/components/AddonRecommendations/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Italian (it)
  locale/it/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Interlingua (ia)
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update English (Great Britain) (en-GB)
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Georgian (ka)
  locale/ka/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Bokmål (nb-NO)
  locale/nb_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Norwegian Nynorsk (nn-NO)
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Swedish (sv-SE)
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Romanian (ro)
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Hungarian (hu)
  locale/hu/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Friulian (fur)
  locale/fur/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Argentina) (es-AR)
  locale/es_AR/LC_MESSAGES/amo.po
Due: none

move Recommendations and Permissions cards; set to 3 columns (#13687)
  src/amo/components/AddonRecommendations/styles.scss
  src/amo/components/AddonsByAuthorsCard/styles.scss
  src/amo/pages/Addon/index.js
Due: prettier --write, eslint, stylelint

Pontoon/AMO Frontend: Update Korean (ko)
  locale/ko/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Spanish (Chile) (es-CL)
  locale/es_CL/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Kabyle (kab)
  locale/kab/LC_MESSAGES/amo.po
Due: none

Pontoon/AMO Frontend: Update Croatian (hr)
  locale/hr/LC_MESSAGES/amo.po
Due: none

add trivial padding in between h1 and summary in header
  src/amo/pages/Addon/styles.scss
Due: stylelint

Pontoon/AMO Frontend: Update French (fr)
  locale/fr/LC_MESSAGES/amo.po
Due: none

Wrap <dl> contents and avoid breaking columns inside
  src/amo/components/DefinitionList/index.js
  src/amo/components/DefinitionList/styles.scss
Due: prettier --write, eslint, stylelint

Don't add break-inside uls
  src/amo/components/DefinitionList/styles.scss
Due: stylelint

Wrap <dl> contents and avoid breaking columns inside (#13705)
  src/amo/components/DefinitionList/index.js
  src/amo/components/DefinitionList/styles.scss
Due: prettier --write, eslint, stylelint

add trivial padding in between h1 and summary in header (#13700)
  src/amo/pages/Addon/styles.scss
Due: stylelint

Combine overall ratings with about card at extraExtraLarge breakpoint, limit its width
  src/amo/components/RatingManager/index.js
  src/amo/components/ShowMoreCard/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
Due: prettier --write, eslint, stylelint

Prettier
  src/amo/components/RatingManager/index.js
Due: prettier --write, eslint
