Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Fix lint issue/test
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint

Pontoon: Update English (Great Britain) (en-GB) localization of AMO Frontend
  locale/en_GB/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Polish (pl) localization of AMO Frontend
  locale/pl/LC_MESSAGES/amo.po
Due: none

Address review comments
  src/amo/components/VPNPromoBanner/index.js
Due: prettier --write, eslint

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Update caching.md
  docs/caching.md
Due: none

remove support for building shelf footer url based on critera
  src/amo/components/HomepageShelves/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/VPNPromoBanner/index.js
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint

Keep track of impression count and send it with click and dismiss events (#10783)
  src/amo/components/VPNPromoBanner/index.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Update dependency regenerator-runtime to v0.13.9
  package.json
  yarn.lock
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Document our caching strategy (#10777)
  docs/caching.md
Due: none

Pontoon: Update Romanian (ro) localization of AMO Frontend
  locale/ro/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Turkish (tr) localization of AMO Frontend
  locale/tr/LC_MESSAGES/amo.po
Due: none

Pontoon: Update French (fr) localization of AMO Frontend
  locale/fr/LC_MESSAGES/amo.po
Due: none

remove support for building shelf footer url based on critera (#10788)
  src/amo/components/HomepageShelves/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Always Vary on Accept-Language for pages that redirect based on language
  src/amo/i18n/utils.js
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Fix getLanguage() tests
  tests/unit/amo/i18n/test_utils.js
Due: prettier --write, eslint

Always Vary on Accept-Language for pages that redirect based on language (#10792)
  src/amo/i18n/utils.js
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/i18n/test_utils.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Updated using #2758 as starting point - added tests
  src/amo/components/AddonMoreInfo/index.js
  src/amo/components/Categories/index.js
  src/amo/pages/Addon/index.js
  src/amo/reducers/categories.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/reducers/test_categories.js
Due: prettier --write, eslint

Clean up order of imports
  src/amo/components/AddonMoreInfo/index.js
Due: prettier --write, eslint

Disable the Download Funnel Experiment
  config/default.js
Due: prettier --write, eslint

Disable the Download Funnel Experiment (#10796)
  config/default.js
Due: prettier --write, eslint

Pontoon: Update Croatian (hr) localization of AMO Frontend
  locale/hr/LC_MESSAGES/amo.po
Due: none

show tags in addon more info component
  src/amo/components/AddonMoreInfo/index.js
  src/amo/pages/AddonInfo/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint, stylelint --syntax scss

Updated related categories' names to links
  src/amo/components/AddonMoreInfo/index.js
  src/amo/reducers/categories.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/reducers/test_categories.js
Due: prettier --write, eslint

review fixes for variable names and tests
  src/amo/components/AddonMoreInfo/index.js
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

change css to render bullet point between tags rather than comma (for RTL)
  src/amo/pages/AddonInfo/styles.scss
Due: stylelint --syntax scss

Update dependency chokidar-cli to v3
  package.json
  yarn.lock
Due: none

make addon.tags required and always an array
  src/amo/components/AddonMoreInfo/index.js
  src/amo/types/addons.js
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

Move withExperiment from VPNPromoBanner to Page
  src/amo/components/Page/index.js
  src/amo/components/VPNPromoBanner/index.js
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

Utilized CSS for joining related categories
  src/amo/components/AddonMoreInfo/index.js
  src/amo/pages/AddonInfo/styles.scss
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint, stylelint --syntax scss

Fix for getting categories?
  src/amo/components/Categories/index.js
  src/amo/reducers/categories.js
  tests/unit/amo/reducers/test_categories.js
Due: prettier --write, eslint

Apply suggestions from code review
  tests/unit/amo/components/TestAddonMoreInfo.js
Due: prettier --write, eslint

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Move withExperiment from VPNPromoBanner to Page (#10803)
  src/amo/components/Page/index.js
  src/amo/components/VPNPromoBanner/index.js
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint
