Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Update dependency core-js to v3.11.2
  package.json
  yarn.lock
Due: none

Handle invalid add-on types in SearchPage (#10510)
  src/amo/pages/SearchPage/index.js
  src/amo/utils/index.js
  tests/unit/amo/pages/TestSearchPage.js
Due: prettier --write, eslint

Add support for themes in StaticAddonCard (#10526)
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  src/blog-utils/index.html
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Add some more assertions to cover class names used by addons-blog
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint

More cleanups and tests. Also fixes some tests for withExperiments which were broken
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Address review comments
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Preload minimal font file for main locales (en, de, fr, ru, es, pt, pl & it)
  src/amo/components/ServerHtml/index.js
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-subset-mainlocales.var.woff2
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/server/fakeApp.js
Due: prettier --write, eslint, stylelint --syntax scss

Don't need the en-US subset anymore
  src/fonts/woff2/Inter-roman-minimal-subset-en-US.var.woff2
Due: none

Update comment
  src/amo/components/ServerHtml/index.js
Due: prettier --write, eslint

Also fix this comment
  src/fonts/inter.scss
Due: stylelint --syntax scss

:arrow_up: release 0.15.0
  package.json
Due: none

More fixups
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Rename font file
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.woff2
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/server/fakeApp.js
Due: prettier --write, eslint, stylelint --syntax scss

Reformat
  src/fonts/inter.scss
Due: stylelint --syntax scss

Preload minimal font file for main locales (en, de, fr, ru, es, pt, pl & it) (#10530)
  src/amo/components/ServerHtml/index.js
  src/fonts/inter.scss
  src/fonts/woff2/Inter-roman-minimal-subset-en-US.var.woff2
  src/fonts/woff2/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.woff2
  tests/unit/amo/components/TestServerHtml.js
  tests/unit/amo/server/fakeApp.js
Due: prettier --write, eslint, stylelint --syntax scss

Add some more assertions to cover class names used by addons-blog (#10529)
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint

Use complete strings in some href assertions
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Address final review comments
  src/amo/components/GetFirefoxButton/index.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Pass experiment and variation in download firefox URL (#10519)
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/utils/index.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/amo/utils/test_index.js
Due: prettier --write, eslint

Make sure all RTAMO supported categories display the RTAMO button text
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Make sure all RTAMO supported categories display the RTAMO button text (#10531)
  src/amo/components/GetFirefoxButton/index.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Override some query params on download FF link in StaticAddonCard
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

Override some query params on download FF link in StaticAddonCard (#10523)
  src/blog-utils/StaticAddonCard/index.js
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint

:arrow_up: release 0.16.0
  package.json
Due: none

Update dependency fs-extra to v10
  package.json
  yarn.lock
Due: none

keep hasTheme variable
  src/amo/components/HomepageShelves/index.js
Due: prettier --write, eslint

Update dependency addons-moz-compare to v1.0.2
  package.json
  yarn.lock
Due: none

Replace 'Learn more about permissions' button with 'Learn more' link (#10340)
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/styles.scss
  tests/unit/amo/components/TestPermissionsCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Greek (el) localization of AMO Frontend
  locale/el/LC_MESSAGES/amo.po
Due: none

RE: Remove search-themes endpoint from homepage shelves (#10481)
  src/amo/components/HomepageShelves/index.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Set a threshold for code coverage of 0.02%. This should allow minor changes in overall coverage without failing the check
  codecov.yml
Due: none

Update dependency core-js to v3.11.3
  package.json
  yarn.lock
Due: none

Disable patch check
  codecov.yml
Due: none

Set a threshold for code coverage of 0.02%. (#10537)
  codecov.yml
Due: none

Clean up line-heights
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/AddonReviewManagerRating/styles.scss
  src/amo/components/AddonSummaryCard/styles.scss
  src/amo/components/AddonTitle/styles.scss
  src/amo/components/App/styles.scss
  src/amo/components/AutoSearchInput/styles.scss
  src/amo/components/Badge/styles.scss
  src/amo/components/Button/styles.scss
  src/amo/components/DropdownMenuItem/styles.scss
  src/amo/components/GetFirefoxBanner/styles.scss
  src/amo/components/Header/styles.scss
  src/amo/components/HeroRecommendation/styles.scss
  src/amo/components/LoadingText/styles.scss
  src/amo/components/MetadataCard/styles.scss
  src/amo/components/Notice/styles.scss
  src/amo/components/RatingsByStar/styles.scss
  src/amo/components/ScreenShots/styles.scss
  src/amo/components/SearchResult/styles.scss
  src/amo/components/SecondaryHero/styles.scss
  src/amo/components/Select/styles.scss
  src/amo/components/TooltipMenu/styles.scss
  src/amo/components/UserProfileEditNotifications/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/pages/AddonReviewList/styles.scss
  src/amo/pages/AddonVersions/styles.scss
  src/amo/pages/Home/styles.scss
  src/amo/pages/LandingPage/styles.scss
  src/amo/pages/UserProfile/styles.scss
  src/amo/pages/UserProfileEdit/styles.scss
Due: stylelint --syntax scss

Update dependency web-vitals to v1.1.2
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.12.0
  package.json
  yarn.lock
Due: none

Align items in autocomplete results
  src/amo/components/SearchSuggestion/styles.scss
Due: stylelint --syntax scss

Fix alignment of icon in Notice
  src/amo/components/Notice/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none
