Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Standardize PermissionsCard classnames and import order
  src/amo/components/PermissionsCard/index.js
  src/amo/components/PermissionsCard/styles.scss
  tests/unit/amo/components/TestPermissionsCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Reorder PermissionsCard style properties
  src/amo/components/PermissionsCard/styles.scss
Due: stylelint --syntax scss

Render full size theme preview in collection page
  src/amo/pages/Collection/index.js
  tests/unit/amo/pages/TestCollection.js
Due: prettier --write, eslint

Update dependency eslint-plugin-promise to v5
  package.json
  yarn.lock
Due: none

Update dependency ua-parser-js to v0.7.28
  package.json
  yarn.lock
Due: none

Update dependency jsdom to v16.5.3
  package.json
  yarn.lock
Due: none

Update dependency react-photoswipe-gallery to v1.3.6
  package.json
  yarn.lock
Due: none

Add ADU + ratings
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Allow to publish addons-frontend-blog-utils to npm (#10301)
  .circleci/config.yml
  .npmrc
  README.md
Due: none

:arrow_up: release 0.1.0
  package.json
Due: none

require build-blog-utils before publishing npm package
  .circleci/config.yml
Due: none

:arrow_up: release 0.2.0
  package.json
Due: none

circle-ci: run build-blog-utils before release-blog-utils
  .circleci/config.yml
Due: none

:arrow_up: release 0.3.0
  package.json
Due: none

circle-ci: run npm publish in the right folder
  .circleci/config.yml
Due: none

:arrow_up: release 0.4.0
  package.json
Due: none

Increase font for Register or log in button (#10332)
  src/amo/components/Header/styles.scss
Due: stylelint --syntax scss

Address review comments
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Log an enrollment event on the server, and issue it on the client (#10310)
  src/amo/client/base.js
  src/amo/reducers/tracking.js
  src/amo/store.js
  src/amo/tracking.js
  src/amo/withExperiment.js
  tests/unit/amo/client/test_base.js
  tests/unit/amo/components/TestHeroRecommendation.js
  tests/unit/amo/reducers/test_tracking.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/test_tracking.js
  tests/unit/amo/test_withExperiment.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Wrap InstallButtonWrapper instead of GetFirefoxButton
  src/amo/components/ExperimentalGetFirefoxButton/index.js
  src/amo/components/ExperimentalInstallButtonWrapper/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/experiments/downloadCtaExperiment20210404.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestExperimentalInstallButtonWrapper.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Add experiment wrapper for GetFirefoxButton
  src/amo/components/ExperimentalGetFirefoxButton/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Implement the new Download Firefox CTA experiment
  config/dev.js
  config/development.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/components/Page/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint --syntax scss

Get rid of the extra wrapper
  src/amo/components/ExperimentalInstallButtonWrapper/index.js
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/Addon/index.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestExperimentalInstallButtonWrapper.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Update callout with new colour and icon
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint, stylelint --syntax scss

Address final comments
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/constants.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
Due: prettier --write, eslint

Address some (but not all) review comments
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/experiments/20210404_download_cta_experiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

Post-rebase fixes
  src/amo/components/GetFirefoxBanner/index.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Add a key that React was complaining about
  src/amo/components/GetFirefoxBanner/index.js
Due: prettier --write, eslint

Render full size theme preview in collection page (#10341)
  src/amo/pages/Collection/index.js
  tests/unit/amo/pages/TestCollection.js
Due: prettier --write, eslint

Update - Links Updated (#10318)
  src/amo/components/Footer/index.js
  src/amo/components/Icon/img/instagram.svg
  src/amo/components/Icon/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

fixes
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Add ADU + ratings to the StaticAddonCard (#10349)
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

:arrow_up: release 0.5.0
  package.json
Due: none

Add more metadata to generated package.json file
  bin/create-package-json-for-blog-utils
Due: none

Generate minimal README file
  bin/create-readme-for-blog-utils
  package.json
Due: none

Some improvements for the `blog-utils` npm package (#10356)
  bin/create-package-json-for-blog-utils
  bin/create-readme-for-blog-utils
  package.json
Due: none

Implement the new Download Firefox CTA experiment (#10333)
  config/dev.js
  config/development.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/Header/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/components/Page/index.js
  src/amo/constants.js
  src/amo/experiments/20210404_download_cta_experiment.js
  src/amo/pages/Addon/index.js
  src/amo/withExperiment.js
  tests/unit/amo/components/TestGetFirefoxBanner.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint, stylelint --syntax scss

Use new download button version
  src/blog-utils/StaticAddonCard/index.js
  src/blog-utils/StaticAddonCard/styles.scss
  tests/unit/blog-utils/TestStaticAddonCard.js
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency filesize to v6.2.0
  package.json
  yarn.lock
Due: none

Add .husky folder to .gitignore
  .gitignore
Due: none
