Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Fix icon in new cta as well
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Reduce gap for Username dropdown menu
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

Fix alignment of icon in Notice (#10543)
  src/amo/components/GetFirefoxButton/styles.scss
  src/amo/components/Notice/styles.scss
Due: stylelint --syntax scss

:arrow_up: release 0.17.0
  package.json
Due: none

Fix truncation of tooltip items on small screens (#10567)
  src/amo/components/TooltipMenu/styles.scss
Due: stylelint --syntax scss

Update dependency stylelint-config-standard to v22
  package.json
  yarn.lock
Due: none

use latest stylelint
  package.json
  yarn.lock
Due: none

Reduce gap for Username dropdown menu (#10569)
  src/amo/components/DropdownMenu/styles.scss
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

Update docs/fonts.md
  docs/fonts.md
Due: none

Update fonts.md
  docs/fonts.md
Due: none

Fix alignment of badge icons
  src/amo/components/Badge/styles.scss
Due: stylelint --syntax scss

Fix all versions page on all screens
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/pages/AddonVersions/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Adjust alignment of callout icon
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Tweak unicode-range and drop unused weight values from Inter variable font (#10556)
  docs/fonts.md
  docs/index.md
  src/amo/css/inc/mixins.scss
  src/fonts/inter.scss
  src/fonts/otf/Inter-Bold.otf
  src/fonts/otf/Inter-BoldItalic.otf
  src/fonts/otf/Inter-Italic.otf
  src/fonts/otf/Inter-Light.otf
  src/fonts/otf/Inter-LightItalic.otf
  src/fonts/otf/Inter-Medium.otf
  src/fonts/otf/Inter-MediumItalic.otf
  src/fonts/otf/Inter-Regular.otf
  src/fonts/woff2/Inter-Bold.woff2
  src/fonts/woff2/Inter-BoldItalic.woff2
  src/fonts/woff2/Inter-Italic.woff2
  src/fonts/woff2/Inter-Light.woff2
  src/fonts/woff2/Inter-LightItalic.woff2
  src/fonts/woff2/Inter-Medium.woff2
  src/fonts/woff2/Inter-MediumItalic.woff2
  src/fonts/woff2/Inter-Regular.woff2
  src/fonts/woff2/Inter-roman-subset-en_de_fr_ru_es_pt_pl_it.var.woff2
  src/fonts/woff2/Inter-roman.var.woff2
Due: stylelint --syntax scss

Adjust alignment of callout icon (#10573)
  src/amo/components/GetFirefoxButton/styles.scss
Due: stylelint --syntax scss

Fix cursor pointer for section link in header
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

fixes
  src/amo/components/AddonVersionCard/styles.scss
Due: stylelint --syntax scss

Fix cursor pointer for section link in header (#10574)
  src/amo/components/SectionLinks/styles.scss
Due: stylelint --syntax scss

:arrow_up: release 0.18.0
  package.json
Due: none

Fix alignment of badge icons (#10570)
  src/amo/components/Badge/styles.scss
Due: stylelint --syntax scss

Fix all versions page on all screens (#10572)
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/AddonVersionCard/styles.scss
  src/amo/pages/AddonVersions/styles.scss
Due: prettier --write, eslint, stylelint --syntax scss

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Fix Alignment of Text and Icon in permission card header
  src/amo/components/PermissionsCard/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Macedonian (mk) localization of AMO Frontend
  locale/mk/LC_MESSAGES/amo.po
Due: none

delete unused icons
  src/amo/components/Icon/img/browser.svg
  src/amo/components/Icon/img/bullet-list.svg
  src/amo/components/Icon/img/extensions.svg
  src/amo/components/Icon/img/eye.svg
  src/amo/components/Icon/img/facebook.svg
  src/amo/components/Icon/img/stop-hand.svg
  src/amo/components/Icon/img/themes.svg
  src/amo/components/Icon/img/trophy.svg
  src/amo/components/Icon/styles.scss
Due: stylelint --syntax scss

Remove unused icons (#10579)
  src/amo/components/Icon/img/browser.svg
  src/amo/components/Icon/img/bullet-list.svg
  src/amo/components/Icon/img/extensions.svg
  src/amo/components/Icon/img/eye.svg
  src/amo/components/Icon/img/facebook.svg
  src/amo/components/Icon/img/stop-hand.svg
  src/amo/components/Icon/img/themes.svg
  src/amo/components/Icon/img/trophy.svg
  src/amo/components/Icon/styles.scss
Due: stylelint --syntax scss

Fix Alignment of Text and Icon in permission card header (#10576)
  src/amo/components/PermissionsCard/styles.scss
Due: stylelint --syntax scss

Move the Notice icon down a bit
  src/amo/components/Notice/styles.scss
Due: stylelint --syntax scss

Move the Notice icon down a bit (#10581)
  src/amo/components/Notice/styles.scss
Due: stylelint --syntax scss

Update dependency css-minimizer-webpack-plugin to v3
  package.json
  yarn.lock
Due: none

Update dependency flow-bin to ^0.151.0
  package.json
  yarn.lock
Due: none

Add font-display: swap to the full font, stop providing an italic variant
  src/fonts/inter.scss
  src/fonts/woff2/Inter-italic.var.woff2
Due: stylelint --syntax scss

Adjust documentation
  docs/fonts.md
Due: none

Add font-display: swap to the full font, stop providing an italic variant (#10591)
  docs/fonts.md
  src/fonts/inter.scss
  src/fonts/woff2/Inter-italic.var.woff2
Due: stylelint --syntax scss

Fix issue with notice icon alignment
  src/amo/components/Notice/styles.scss
Due: stylelint --syntax scss

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
