Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Pontoon: Update Russian (ru) localization of AMO Frontend
  locale/ru/LC_MESSAGES/amo.po
Due: none

Update dependency flow-bin to ^0.149.0
  package.json
  yarn.lock
Due: none

Update dependency helmet to v4.5.0
  package.json
  yarn.lock
Due: none

Update babel monorepo
  package.json
  yarn.lock
Due: none

Update dependency autoprefixer to ^10.2.4
  package.json
  yarn.lock
Due: none

Update dependency eslint-config-amo to ^4.2.0
  package.json
  yarn.lock
Due: none

Update dependency jest-watch-typeahead to ^0.6.1
  package.json
  yarn.lock
Due: none

Update dependency mini-css-extract-plugin to ^1.5.0
  package.json
  yarn.lock
Due: none

Update dependency postcss to ^8.2.6
  package.json
  yarn.lock
Due: none

Update dependency semver to ^7.3.4
  package.json
  yarn.lock
Due: none

Update dependency webpack to ^5.17.0
  package.json
  yarn.lock
Due: none

Update dependency webpack-cli to ^4.5.0
  package.json
  yarn.lock
Due: none

Fix truncation of y,g for search filters
  src/amo/css/inc/vars.scss
Due: stylelint --syntax scss

Do not prepend clientApp/locale in URLs of the Header when rendered for the blog (#10408)
  src/amo/components/Header/index.js
  src/amo/components/SectionLinks/index.js
  src/blog-utils/index.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestSectionLinks.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint

Render 'More...' link (header) for the blog and add link to the blog in the submenu
  src/amo/components/SectionLinks/index.js
  src/blog-utils/index.html
  src/blog-utils/index.js
  src/blog-utils/styles.scss
  tests/unit/amo/components/TestSectionLinks.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

:arrow_up: release 0.10.0
  package.json
Due: none

Update dependency cheerio to ^1.0.0-rc
  package.json
  yarn.lock
Due: none

rm clientAppRoutes
  config/default.js
  src/amo/components/Routes/index.js
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/components/TestRoutes.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
  tests/unit/test_prefixConfig.js
Due: prettier --write, eslint

don't force 404 hasValidLocaleException or hasValidClientAppUrlException
  src/amo/middleware/prefixMiddleware.js
  tests/unit/amo/middleware/test_prefixMiddleware.js
Due: prettier --write, eslint

Pontoon: Update Norwegian Nynorsk (nn-NO) localization of AMO Frontend
  locale/nn_NO/LC_MESSAGES/amo.po
Due: none

Hide the GetFirefoxBanner on all pages from which an add-on can be installed (#10402)
  src/amo/components/Header/index.js
  src/amo/components/Page/index.js
  src/amo/pages/Addon/index.js
  src/amo/pages/AddonVersions/index.js
  tests/unit/amo/components/TestHeader.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

Render 'More...' link (header) for the blog and add link to the blog in the submenu (#10418)
  src/amo/components/SectionLinks/index.js
  src/blog-utils/index.html
  src/blog-utils/index.js
  src/blog-utils/styles.scss
  tests/unit/amo/components/TestSectionLinks.js
  tests/unit/blog-utils/test_index.js
Due: prettier --write, eslint, stylelint --syntax scss

Update dependency eslint-plugin-amo to ^1.13.0
  package.json
  yarn.lock
Due: none

:arrow_up: release 0.11.0
  package.json
Due: none

Fix alignment of rating stars
  src/amo/components/AddonReviewManagerRating/styles.scss
Due: stylelint --syntax scss

Fix alignment of rating stars (#10429)
  src/amo/components/AddonReviewManagerRating/styles.scss
Due: stylelint --syntax scss

Enable the CTA experiment on all environments
  config/default.js
  config/dev.js
  config/development.js
Due: prettier --write, eslint

Add break-word for safari and ios to fix layout issues on IOS
  src/amo/components/App/styles.scss
Due: stylelint --syntax scss

Pontoon: Update Finnish (fi) localization of AMO Frontend
  locale/fi/LC_MESSAGES/amo.po
Due: none

Disable active experiments for tests
  config/test.js
Due: prettier --write, eslint

Change default-line-height to 1.5 to fix truncation issue (#10412)
  src/amo/css/inc/vars.scss
Due: stylelint --syntax scss

Update dependency core-js to v3.10.2
  package.json
  yarn.lock
Due: none

Disable experiments for tests a different way
  config/test.js
  jest.config.js
  src/amo/utils/server.js
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Add addonType property and updated HomepageShelves component (and tests)
  src/amo/components/HomepageShelves/index.js
  src/amo/reducers/home.js
  tests/unit/amo/components/TestHomepageShelves.js
  tests/unit/amo/reducers/test_home.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Address review comments
  config/test.js
Due: prettier --write, eslint

Enable the CTA experiment on all environments (#10432)
  config/default.js
  config/dev.js
  config/development.js
  config/test.js
  jest.config.js
  src/amo/utils/server.js
  src/amo/withExperiment.js
  tests/unit/amo/test_withExperiment.js
Due: prettier --write, eslint

Update dependency filesize to v6.2.6
  package.json
  yarn.lock
Due: none

Add break-word for safari and ios to fix layout issues on IOS (#10426)
  src/amo/components/App/styles.scss
Due: stylelint --syntax scss

Fix new CTA at 720px
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
