Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

Update dependency pino-mozlog to v2.7.0
  package.json
  yarn.lock
Due: none

Update dependency dompurify to v2.3.3
  package.json
  yarn.lock
Due: none

Creating AddonQRCode component
  bin/fenix-qr-codes.js
  src/amo/components/AddonQRCode/img/229918.png
  src/amo/components/AddonQRCode/img/328839.png
  src/amo/components/AddonQRCode/img/506646.png
  src/amo/components/AddonQRCode/img/520576.png
  src/amo/components/AddonQRCode/img/521554.png
  src/amo/components/AddonQRCode/img/607454.png
  src/amo/components/AddonQRCode/img/627490.png
  src/amo/components/AddonQRCode/img/722.png
  src/amo/components/AddonQRCode/img/735894.png
  src/amo/components/AddonQRCode/img/811592.png
  src/amo/components/AddonQRCode/img/824288.png
  src/amo/components/AddonQRCode/img/855413.png
  src/amo/components/AddonQRCode/img/866226.png
  src/amo/components/AddonQRCode/img/869140.png
  src/amo/components/AddonQRCode/img/953945.png
  src/amo/components/AddonQRCode/img/9609.png
  src/amo/components/AddonQRCode/index.js
  src/amo/components/AddonQRCode/styles.scss
  tests/unit/amo/components/TestAddonQRCode.js
Due: prettier --write, eslint, stylelint --syntax scss

Use webpack to copy QR code images to static
  config/default.js
  config/development-local.js
  config/development.js
  config/local.js.dist
  package.json
  src/amo/components/AddonQRCode/index.js
  tests/unit/amo/components/TestAddonQRCode.js
  webpack-common.js
  webpack.dev.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Fix dev dependency
  package.json
Due: none

Add a test into bin/fenix-qr-codes.js
  bin/fenix-qr-codes.js
  config/default.js
  config/lib/addonIdsWithQRCodes.js
Due: prettier --write, eslint

Pontoon: Update Interlingua (ia) localization of AMO Frontend
  locale/ia/LC_MESSAGES/amo.po
Due: none

Pass app to recommendations API endpoint
  src/amo/api/recommendations.js
  tests/unit/amo/api/test_recommendations.js
Due: prettier --write, eslint

Pass app to recommendations API endpoint (#10913)
  src/amo/api/recommendations.js
  tests/unit/amo/api/test_recommendations.js
Due: prettier --write, eslint

Creating AddonQRCode component (#10904)
  bin/fenix-qr-codes.js
  config/default.js
  config/development-local.js
  config/development.js
  config/lib/addonIdsWithQRCodes.js
  config/local.js.dist
  package.json
  src/amo/components/AddonQRCode/img/229918.png
  src/amo/components/AddonQRCode/img/328839.png
  src/amo/components/AddonQRCode/img/506646.png
  src/amo/components/AddonQRCode/img/520576.png
  src/amo/components/AddonQRCode/img/521554.png
  src/amo/components/AddonQRCode/img/607454.png
  src/amo/components/AddonQRCode/img/627490.png
  src/amo/components/AddonQRCode/img/722.png
  src/amo/components/AddonQRCode/img/735894.png
  src/amo/components/AddonQRCode/img/811592.png
  src/amo/components/AddonQRCode/img/824288.png
  src/amo/components/AddonQRCode/img/855413.png
  src/amo/components/AddonQRCode/img/866226.png
  src/amo/components/AddonQRCode/img/869140.png
  src/amo/components/AddonQRCode/img/953945.png
  src/amo/components/AddonQRCode/img/9609.png
  src/amo/components/AddonQRCode/index.js
  src/amo/components/AddonQRCode/styles.scss
  tests/unit/amo/components/TestAddonQRCode.js
  webpack-common.js
  webpack.dev.config.babel.js
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Fix fenix-qr-codes script to check differences between two sets
  bin/fenix-qr-codes.js
  config/default.js
  config/lib/addonIdsWithQRCodes.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
  yarn.lock
Due: none

change reducers to support a single version->file in the api (#10903)
  src/amo/reducers/addons.js
  src/amo/reducers/versions.js
  tests/unit/amo/components/TestAMInstallButton.js
  tests/unit/amo/components/TestAddonHead.js
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestPermissionsCard.js
  tests/unit/amo/reducers/test_addons.js
  tests/unit/amo/reducers/test_versions.js
  tests/unit/amo/test_installAddon.js
  tests/unit/amo/utils/test_addons.js
  tests/unit/amo/utils/test_compatibility.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Fix fenix-qr-codes script to check differences between two sets (#10914)
  bin/fenix-qr-codes.js
  config/default.js
  config/lib/addonIdsWithQRCodes.js
Due: prettier --write, eslint

Update dependency pino to v6.13.3
  package.json
  yarn.lock
Due: none

Display the QR code on the add-on detail page
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/AddonQRCode/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint --syntax scss

Create an AddonQRCodeLink component
  src/amo/components/AddonQRCodeLink/index.js
  src/amo/components/AddonQRCodeLink/styles.scss
  src/amo/pages/Addon/index.js
  src/amo/pages/Addon/styles.scss
  tests/unit/amo/components/TestAddonQRCodeLink.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint --syntax scss

Update Node.js to v16.10
  .circleci/config.yml
Due: none

Address (some) review comments
  src/amo/components/AddonQRCode/index.js
  src/amo/components/AddonQRCodeLink/index.js
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestAddonQRCodeLink.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint

Address more review comments
  tests/unit/amo/components/TestAddonQRCodeLink.js
Due: prettier --write, eslint

Display the QR code on the add-on detail page (#10906)
  config/default.js
  config/dev.js
  config/development.js
  src/amo/components/AddonQRCode/index.js
  src/amo/components/AddonQRCode/styles.scss
  src/amo/components/AddonQRCodeLink/index.js
  src/amo/components/AddonQRCodeLink/styles.scss
  src/amo/pages/Addon/index.js
  tests/unit/amo/components/TestAddonQRCodeLink.js
  tests/unit/amo/pages/TestAddon.js
Due: prettier --write, eslint, stylelint --syntax scss

Fix: a typo where what should be DefaultProps is actually spelled as DeafultProps
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/VPNPromoBanner/index.js
Due: prettier --write, eslint

rename DefaultProps #10919
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/VPNPromoBanner/index.js
Due: prettier --write, eslint

Pontoon: Update Slovenian (sl) localization of AMO Frontend
  locale/sl/LC_MESSAGES/amo.po
Due: none

Update dependency hot-shots to v8.5.2
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.18.1
  package.json
  yarn.lock
Due: none

rename DefaultProps #10919 (#10922)
  src/amo/components/AddonCompatibilityError/index.js
  src/amo/components/AddonHead/index.js
  src/amo/components/GetFirefoxBanner/index.js
  src/amo/components/HeroRecommendation/index.js
  src/amo/components/SearchResult/index.js
  src/amo/components/VPNPromoBanner/index.js
Due: prettier --write, eslint

Pontoon: Update Czech (cs) localization of AMO Frontend
  locale/cs/LC_MESSAGES/amo.po
Due: none

Pontoon: Update Slovak (sk) localization of AMO Frontend
  locale/sk/LC_MESSAGES/amo.po
Due: none

Fix sk locale
  locale/sk/LC_MESSAGES/amo.po
Due: none

Fix sk locale (#10925)
  locale/sk/LC_MESSAGES/amo.po
Due: none

Disable the VPN Promo experiment
  config/default.js
Due: prettier --write, eslint

Fix utm_campaign for the QR code and the link
  bin/fenix-qr-codes.js
  src/amo/components/AddonQRCode/img/229918.png
  src/amo/components/AddonQRCode/img/328839.png
  src/amo/components/AddonQRCode/img/506646.png
  src/amo/components/AddonQRCode/img/520576.png
  src/amo/components/AddonQRCode/img/521554.png
  src/amo/components/AddonQRCode/img/607454.png
  src/amo/components/AddonQRCode/img/627490.png
  src/amo/components/AddonQRCode/img/722.png
  src/amo/components/AddonQRCode/img/735894.png
  src/amo/components/AddonQRCode/img/811592.png
  src/amo/components/AddonQRCode/img/824288.png
  src/amo/components/AddonQRCode/img/855413.png
  src/amo/components/AddonQRCode/img/866226.png
  src/amo/components/AddonQRCode/img/869140.png
  src/amo/components/AddonQRCode/img/953945.png
  src/amo/components/AddonQRCode/img/9609.png
  src/amo/components/AddonQRCode/index.js
Due: prettier --write, eslint

Disable the VPN Promo experiment (#10929)
  config/default.js
Due: prettier --write, eslint

Fix utm_campaign for the QR code and the link (#10930)
  bin/fenix-qr-codes.js
  src/amo/components/AddonQRCode/img/229918.png
  src/amo/components/AddonQRCode/img/328839.png
  src/amo/components/AddonQRCode/img/506646.png
  src/amo/components/AddonQRCode/img/520576.png
  src/amo/components/AddonQRCode/img/521554.png
  src/amo/components/AddonQRCode/img/607454.png
  src/amo/components/AddonQRCode/img/627490.png
  src/amo/components/AddonQRCode/img/722.png
  src/amo/components/AddonQRCode/img/735894.png
  src/amo/components/AddonQRCode/img/811592.png
  src/amo/components/AddonQRCode/img/824288.png
  src/amo/components/AddonQRCode/img/855413.png
  src/amo/components/AddonQRCode/img/866226.png
  src/amo/components/AddonQRCode/img/869140.png
  src/amo/components/AddonQRCode/img/953945.png
  src/amo/components/AddonQRCode/img/9609.png
  src/amo/components/AddonQRCode/index.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Path conditions:
  prettier --write: any of: *.js
  eslint: any of: *.js
  stylelint --syntax scss: any of: *.scss
