Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Update dependency web-vitals to v2.1.3
  package.json
  yarn.lock
Due: none

Update the list of addonIdsWithQRCodes (#11077)
  config/default.js
  src/amo/components/AddonQRCode/img/844320.png
Due: prettier --write, eslint

Update dependency postcss to v8.2.13 [SECURITY]
  yarn.lock
Due: none

Update caniuse-lite in yarn.lock
  yarn.lock
Due: none

Update dependency history to v5
  package.json
  yarn.lock
Due: none

Update caniuse-lite in yarn.lock (#11084)
  yarn.lock
Due: none

Update Node.js to v16
  .nvmrc
Due: none

Remove .nvmrc and update engines in package.json
  .nvmrc
  package.json
Due: none

Remove .nvmrc and update engines in package.json (#11088)
  .nvmrc
  package.json
Due: none

Update dependency pino to v7.6.3
  package.json
  yarn.lock
Due: none

Fix problem with static files for local development
  config/default.js
  config/development-local.js
Due: prettier --write, eslint

Address review comments that fix it on docker as well
  bin/webpack-dev-server.js
  config/custom-environment-variables.json
  config/development-local.js
  config/development.js
  package.json
Due: prettier --write, eslint

Fix problem with static files for local development (#11090)
  bin/webpack-dev-server.js
  config/custom-environment-variables.json
  config/default.js
  config/development-local.js
  config/development.js
  package.json
Due: prettier --write, eslint

Show special error when 401 is because of auth expiry
  src/amo/components/Errors/AuthExpired/index.js
  src/amo/components/Page/index.js
  tests/unit/amo/components/Errors/TestAuthExpired.js
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

Replace "Occitan (Lengadocian)" with "Occitan"
  src/amo/languages.js
Due: prettier --write, eslint

Replace "Occitan (Lengadocian)" with "Occitan" (#11095)
  src/amo/languages.js
Due: prettier --write, eslint

Update dependency shelljs to v0.8.5 [SECURITY]
  yarn.lock
Due: none

fix TestPage test fail
  tests/unit/amo/components/TestPage.js
  tests/unit/helpers.js
Due: prettier --write, eslint

log out user in AuthExpired component
  src/amo/components/Errors/AuthExpired/index.js
  tests/unit/amo/components/Errors/TestAuthExpired.js
Due: prettier --write, eslint

Update dependency chokidar to v3.5.3
  package.json
  yarn.lock
Due: none

Fix broken link in README
  README.md
Due: none

Update dependency config to v3.3.7
  package.json
  yarn.lock
Due: none

Update dependency core-js to v3.20.3
  package.json
  yarn.lock
Due: none

test refactoring
  tests/unit/amo/components/Errors/TestAuthExpired.js
  tests/unit/amo/components/TestPage.js
  tests/unit/helpers.js
Due: prettier --write, eslint

reorder/rename imports in AuthExpired component
  src/amo/components/Errors/AuthExpired/index.js
Due: prettier --write, eslint

Add test for reload button
  tests/unit/amo/components/Errors/TestAuthExpired.js
Due: prettier --write, eslint

change reload buttonType to "none"
  src/amo/components/Errors/AuthExpired/index.js
Due: prettier --write, eslint

Drops the setTimeout that auto logs the user out
  config/default.js
  src/amo/components/App/index.js
  src/amo/constants.js
  tests/unit/amo/components/TestApp.js
Due: prettier --write, eslint

Pontoon: Update Ukrainian (uk) localization of AMO Frontend
  locale/uk/LC_MESSAGES/amo.po
Due: none

Fix broken link in README (#11097)
  README.md
Due: none

remove unused references to logOutUser in App component too
  src/amo/components/App/index.js
Due: prettier --write, eslint

style the Reload link
  src/amo/components/Errors/AuthExpired/index.js
  src/amo/components/Errors/AuthExpired/styles.scss
Due: prettier --write, eslint, stylelint

restyle button
  src/amo/components/Errors/AuthExpired/index.js
  src/amo/components/Errors/AuthExpired/styles.scss
Due: prettier --write, eslint, stylelint

Show special error when 401 is because of auth expiry (#11092)
  src/amo/components/Errors/AuthExpired/index.js
  src/amo/components/Errors/AuthExpired/styles.scss
  src/amo/components/Page/index.js
  tests/unit/amo/components/Errors/TestAuthExpired.js
  tests/unit/amo/components/TestPage.js
  tests/unit/helpers.js
Due: prettier --write, eslint, stylelint

Drops the setTimeout that auto logs the user out (#11101)
  config/default.js
  src/amo/components/App/index.js
  src/amo/constants.js
  tests/unit/amo/components/TestApp.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Pontoon: Update Swedish (sv-SE) localization of AMO Frontend
  locale/sv_SE/LC_MESSAGES/amo.po
Due: none

handle other API error codes as auth expiry too
  src/amo/components/ErrorList/index.js
  src/amo/components/Page/index.js
  src/amo/constants.js
  tests/unit/amo/components/Errors/TestAuthExpired.js
  tests/unit/amo/components/TestErrorList.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/reducers/test_errors.js
Due: prettier --write, eslint
