Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint"
  ]
}

Make TestRating & TestRatingManager forward compatible with future dependencies (#11724)
  tests/unit/amo/components/TestRating.js
  tests/unit/amo/components/TestRatingManager.js
Due: prettier --write, eslint

Make TestUserProfileEdit forward compatible with future dependencies
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Fix components/TestAddonMoreInfo.js, components/TestAddonsCard.js andcomponents/TestAddonReviewCard.js (#11727)
  tests/unit/amo/components/TestAddonMoreInfo.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestAddonsCard.js
Due: prettier --write, eslint

Address review comments
  README.md
  tests/setup.js
Due: prettier --write, eslint

Configure `yarn test` to hide most console messages and long error messages. (#11728)
  README.md
  package.json
  tests/setup.js
Due: prettier --write, eslint

Fix broken test
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Make TestUserProfileEdit forward compatible with future dependencies (#11732)
  tests/unit/amo/pages/TestUserProfileEdit.js
Due: prettier --write, eslint

Address review comment
  tests/unit/amo/pages/TestCollection.js
Due: prettier --write, eslint

Fix TestCollection.js (#11723)
  tests/unit/amo/pages/TestCollection.js
Due: prettier --write, eslint

Fix components/TestApp.js, components/TestAutoSearchInput.js and components/TestPage.js
  tests/unit/amo/components/TestApp.js
  tests/unit/amo/components/TestAutoSearchInput.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/helpers.js
Due: prettier --write, eslint

This has React 18, Redux 8, connected-react-router 6 and react-testing-library 13... and a lot of test failures!
  package.json
  tests/unit/helpers.js
  tests/unit/test_helpers.js
  webpack.dev.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Pontoon: Update Korean (ko) localization of AMO Frontend
  locale/ko/LC_MESSAGES/amo.po
Due: none

Fix components/TestApp.js, components/TestAutoSearchInput.js and components/TestPage.js (#11726)
  tests/unit/amo/components/TestApp.js
  tests/unit/amo/components/TestAutoSearchInput.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/helpers.js
Due: prettier --write, eslint

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Address review comment
  webpack.dev.config.babel.js
Due: prettier --write, eslint

Upgrade React, react-redux, connected-react-router and testing-library/react to the latest versions (#11652)
  package.json
  tests/unit/helpers.js
  tests/unit/test_helpers.js
  webpack.dev.config.babel.js
  yarn.lock
Due: prettier --write, eslint

Remove @testing-library/dom from package.json
  package.json
  yarn.lock
Due: none

Add a waitFor to a failing test
  tests/unit/amo/components/TestAddonReviewCard.js
Due: prettier --write, eslint

Degugging the failing test
  src/amo/components/AutoSearchInput/index.js
  tests/unit/amo/components/TestPage.js
  yarn.lock
Due: prettier --write, eslint

Remove @testing-library/dom from package.json (#11738)
  package.json
  tests/unit/amo/components/TestAddonReviewCard.js
  yarn.lock
Due: prettier --write, eslint

Some cleanups that don't fix the problem and may not be needed
  tests/unit/amo/components/TestPage.js
Due: prettier --write, eslint

What happens if we just add the `await`s but don't update the `user-event` library
  package.json
  src/amo/components/AutoSearchInput/index.js
  tests/unit/amo/components/TestAddAddonToCollection.js
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestAddonsCard.js
  tests/unit/amo/components/TestAuthenticateButton.js
  tests/unit/amo/components/TestAutoSearchInput.js
  tests/unit/amo/components/TestButton.js
  tests/unit/amo/components/TestConfirmButton.js
  tests/unit/amo/components/TestConfirmationDialog.js
  tests/unit/amo/components/TestDismissibleTextForm.js
  tests/unit/amo/components/TestDropdownMenu.js
  tests/unit/amo/components/TestErrorList.js
  tests/unit/amo/components/TestExpandableCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/components/TestNotice.js
  tests/unit/amo/components/TestOverlayCard.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestRating.js
  tests/unit/amo/components/TestRatingManager.js
  tests/unit/amo/components/TestScreenShots.js
  tests/unit/amo/components/TestShowMoreCard.js
  tests/unit/amo/components/TestVPNPromoBanner.js
  tests/unit/amo/pages/TestAddon.js
  tests/unit/amo/pages/TestAddonReviewList.js
  tests/unit/amo/pages/TestCategoryPage.js
  tests/unit/amo/pages/TestCollection.js
  tests/unit/amo/pages/TestHome.js
  tests/unit/amo/pages/TestSearchPage.js
  tests/unit/amo/pages/TestTagPage.js
  tests/unit/amo/pages/TestUserProfile.js
  tests/unit/amo/pages/TestUserProfileEdit.js
  tests/unit/amo/test_errorHandler.js
  tests/unit/amo/test_withUIState.js
  yarn.lock
Due: prettier --write, eslint

Update nodemon to 2.0.19
  package.json
  yarn.lock
Due: none

Fix new Flow errors
  .flowconfig
  src/amo/actions/reviews.js
  src/amo/addonManager.js
  src/amo/api/addonInfo.js
  src/amo/api/index.js
  src/amo/api/reviews.js
  src/amo/components/GetFirefoxButton/index.js
  src/amo/components/RatingManager/index.js
  src/amo/components/Routes/index.js
  src/amo/components/Search/index.js
  src/amo/i18n/utils.js
  src/amo/localState.js
  src/amo/middleware/requestId.js
  src/amo/reducers/addons.js
  src/amo/reducers/collections.js
  src/amo/reducers/errorPage.js
  src/amo/reducers/languageTools.js
  src/amo/reducers/reviews.js
  src/amo/reducers/userAbuseReports.js
  src/amo/reducers/versions.js
  src/amo/sagas/reviews.js
  src/amo/sagas/utils.js
  src/amo/store.js
  src/amo/tracking.js
  src/amo/types/store.js
  src/amo/utils/compatibility.js
  src/amo/utils/errors.js
  src/amo/utils/index.js
  src/amo/utils/server.js
  tests/unit/amo/api/test_reviews.js
  tests/unit/amo/reducers/test_errorPage.js
  tests/unit/amo/reducers/test_languageTools.js
  tests/unit/amo/test_tracking.js
Due: prettier --write, eslint

Update nodemon to 2.0.19 (#11752)
  package.json
  yarn.lock
Due: none

Adjust Rating stars spacing and size when writing a review (#11755)
  src/amo/components/AddonReviewManager/styles.scss
  src/amo/components/AddonReviewManagerRating/styles.scss
Due: stylelint

Update @testing-library/user-event to the latest version
  package.json
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestAutoSearchInput.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestRatingManager.js
  yarn.lock
Due: prettier --write, eslint

Remove calls to onLocationChanged from TestVPNPromoBanner.js
  src/amo/components/VPNPromoBanner/index.js
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint

Remove calls to onLocationChanged from TestVPNPromoBanner.js (#11767)
  src/amo/components/VPNPromoBanner/index.js
  tests/unit/amo/components/TestVPNPromoBanner.js
Due: prettier --write, eslint

Update @testing-library/user-event to the latest version (#11766)
  package.json
  tests/unit/amo/components/TestAddonReviewCard.js
  tests/unit/amo/components/TestAutoSearchInput.js
  tests/unit/amo/components/TestPage.js
  tests/unit/amo/components/TestRatingManager.js
  yarn.lock
Due: prettier --write, eslint
