Repository mozilla/addons-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --syntax scss

.lintstagedrc:

{
  "*.js": [
      "prettier --write",
      "eslint"
  ],
  "*.scss": [
      "stylelint --syntax scss"
  ]
}

Bundle dependency updates for `stylelint` and `stylelint-config-standard (#10165)
  renovate.json
Due: none

Remove Hero, HeroSection and heroBanners reducer
  src/amo/components/Hero/index.js
  src/amo/components/Hero/styles.scss
  src/amo/components/HeroSection/index.js
  src/amo/components/HeroSection/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/reducers/heroBanners.js
  src/amo/store.js
  tests/unit/amo/components/TestHero.js
  tests/unit/amo/components/TestHeroSection.js
  tests/unit/amo/reducers/test_heroBanners.js
Due: prettier --write, eslint, stylelint --syntax scss

Update browserslist config to exclude IE <= 11
  .browserslistrc
Due: none

fix some test cases
  tests/unit/amo/components/Errors/TestNotAuthorized.js
  tests/unit/amo/components/Errors/TestServerError.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/components/TestSuggestedPages.js
Due: prettier --write, eslint

Remove SurveyNotice in AppBanner (#10167)
  src/amo/components/AppBanner/index.js
  src/amo/components/SurveyNotice/index.js
  tests/unit/amo/components/TestAppBanner.js
Due: prettier --write, eslint

Fix CSP errors by removing inline styles from RatingsByStar
  src/amo/components/RatingsByStar/index.js
  src/amo/components/RatingsByStar/styles.scss
  tests/unit/amo/components/TestRatingsByStar.js
Due: prettier --write, eslint, stylelint --syntax scss

Remove unused dependency
  package.json
  yarn.lock
Due: none

Update browserslist config to exclude IE <= 11 (#10172)
  .browserslistrc
  tests/unit/amo/components/Errors/TestNotAuthorized.js
  tests/unit/amo/components/Errors/TestServerError.js
  tests/unit/amo/components/TestCategories.js
  tests/unit/amo/components/TestSuggestedPages.js
Due: prettier --write, eslint

Reduce css classes
  src/amo/components/RatingsByStar/styles.scss
Due: stylelint --syntax scss

Improve the SASS
  src/amo/components/RatingsByStar/styles.scss
Due: stylelint --syntax scss

Remove Hero, HeroSection and heroBanners reducer (#10170)
  package.json
  src/amo/components/Hero/index.js
  src/amo/components/Hero/styles.scss
  src/amo/components/HeroSection/index.js
  src/amo/components/HeroSection/styles.scss
  src/amo/css/inc/vars.scss
  src/amo/reducers/heroBanners.js
  src/amo/store.js
  tests/unit/amo/components/TestHero.js
  tests/unit/amo/components/TestHeroSection.js
  tests/unit/amo/reducers/test_heroBanners.js
  yarn.lock
Due: prettier --write, eslint, stylelint --syntax scss

Fix CSP errors by removing inline styles from RatingsByStar (#10174)
  src/amo/components/RatingsByStar/index.js
  src/amo/components/RatingsByStar/styles.scss
  tests/unit/amo/components/TestRatingsByStar.js
Due: prettier --write, eslint, stylelint --syntax scss

Decrease bundlesize threshold
  package.json
Due: none

Remove survey code
  README.md
  config/default.js
  src/amo/components/SurveyNotice/index.js
  src/amo/components/SurveyNotice/styles.scss
  src/amo/constants.js
  src/amo/reducers/survey.js
  src/amo/server/base.js
  src/amo/store.js
  tests/unit/amo/components/TestSurveyNotice.js
  tests/unit/amo/reducers/test_survey.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint, stylelint --syntax scss

Decrease bundlesize threshold (#10176)
  package.json
Due: none

Fix wrapping of Flagged notice (#10139)
  src/amo/components/AddonReviewCard/styles.scss
  src/amo/components/FlagReviewMenu/index.js
  src/amo/components/TooltipMenu/index.js
  tests/unit/amo/components/TestFlagReviewMenu.js
  tests/unit/amo/components/TestTooltipMenu.js
Due: prettier --write, eslint, stylelint --syntax scss

Extract locales
  locale/templates/LC_MESSAGES/amo.pot
Due: none

Remove survey code (#10178)
  README.md
  config/default.js
  src/amo/components/SurveyNotice/index.js
  src/amo/components/SurveyNotice/styles.scss
  src/amo/constants.js
  src/amo/reducers/survey.js
  src/amo/server/base.js
  src/amo/store.js
  tests/unit/amo/components/TestSurveyNotice.js
  tests/unit/amo/reducers/test_survey.js
  tests/unit/amo/server/test_base.js
Due: prettier --write, eslint, stylelint --syntax scss

refactoring
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
Due: prettier --write, eslint

fixed a linting error
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/InstallButtonWrapper/index.js
Due: prettier --write, eslint

Tests added for PR #9973
  tests/unit/amo/components/TestAddonVersionCard.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
  tests/unit/amo/pages/TestAddonVersions.js
Due: prettier --write, eslint

fixed failing test / linting errors
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
Due: prettier --write, eslint

fixed failing CI
  src/amo/components/InstallButtonWrapper/index.js
Due: prettier --write, eslint

changed older versions button to links
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/components/InstallButtonWrapper/styles.scss
  src/amo/pages/AddonVersions/index.js
Due: prettier --write, eslint, stylelint --syntax scss

forgot running linter
  src/amo/components/InstallButtonWrapper/styles.scss
Due: stylelint --syntax scss

done requested changes
  src/amo/components/InstallButtonWrapper/index.js
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint

removed comments
  src/amo/components/InstallButtonWrapper/index.js
Due: prettier --write, eslint

changed prop name
  src/amo/components/AddAddonToCollection/index.js
  src/amo/components/AddonVersionCard/index.js
  src/amo/components/InstallButtonWrapper/index.js
  src/amo/pages/AddonVersions/index.js
Due: prettier --write, eslint

removed unused CSS
  src/amo/components/InstallButtonWrapper/styles.scss
  tests/unit/amo/components/TestInstallButtonWrapper.js
Due: prettier --write, eslint, stylelint --syntax scss

apply the correct font-weight to Footer class
  src/amo/components/Footer/styles.scss
Due: stylelint --syntax scss

Switch from base64url to universal-base64url
  package.json
  src/amo/components/GetFirefoxButton/index.js
  src/amo/pages/UsersUnsubscribe/index.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/pages/TestUsersUnsubscribe.js
  tests/unit/helpers.js
  yarn.lock
Due: prettier --write, eslint

Switch from base64url to universal-base64url (#10185)
  package.json
  src/amo/components/GetFirefoxButton/index.js
  src/amo/pages/UsersUnsubscribe/index.js
  tests/unit/amo/components/TestGetFirefoxButton.js
  tests/unit/amo/pages/TestUsersUnsubscribe.js
  tests/unit/helpers.js
  yarn.lock
Due: prettier --write, eslint

Address review comments
  src/amo/addonManager.js
  src/amo/components/AddonReviewCard/index.js
  src/amo/components/AddonReviewManager/index.js
  src/amo/components/AddonsByAuthorsCard/index.js
  src/amo/components/App/index.js
  src/amo/components/Categories/index.js
  src/amo/components/CollectionManager/index.js
  src/amo/components/DropdownMenu/index.js
  src/amo/components/RatingManager/index.js
  src/amo/components/ReportAbuseButton/index.js
  src/amo/components/Search/index.js
  src/amo/types/dom.js
  tests/unit/amo/components/TestSearch.js
  tests/unit/amo/test_addonManager.js
Due: prettier --write, eslint

Address more review comments
  src/amo/components/AMInstallButton/index.js
  src/amo/components/SearchContextCard/index.js
  src/amo/components/SearchFilters/index.js
  src/amo/components/SecondaryHero/index.js
  src/amo/components/SectionLinks/index.js
  src/amo/components/ShowMoreCard/index.js
  src/amo/components/UserReview/index.js
  src/amo/constants.js
  src/amo/i18n/utils.js
  src/amo/installAddon.js
  src/amo/pages/AddonReviewList/index.js
  src/amo/reducers/users.js
  src/amo/types/dom.js
  src/amo/utils/index.js
  tests/unit/amo/components/TestSearch.js
Due: prettier --write, eslint

Final cleanup
  src/amo/api/index.js
  src/amo/reducers/reviews.js
  src/amo/types/api.js
  src/amo/types/config.js
  src/amo/types/i18n.js
  src/amo/types/router.js
  src/amo/utils/errors.js
  src/amo/utils/index.js
Due: prettier --write, eslint
